{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}
        {% stylesheets filter='cssembed,?yui_css'
        '@NetworkingInitCmsBundle/Resources/public/themes/flick/jquery-ui-1.8.16.custom.css'
        '@SonataAdminBundle/Resources/public/select2/select2.css'
        '@MopaBootstrapBundle/Resources/public/components/smalot-bootstrap-datetimepicker/build/build_standalone.less'
        '@NetworkingInitCmsBundle/Resources/public/less/initcms_bootstrap.less'
        '@NetworkingInitCmsBundle/Resources/public/css/bootstrap-editable.css'
        output='css/initcms_admin.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
        {% endstylesheets %}
        {% block content_css %}
        {% if content_css() %}<link href="{{ asset(content_css()) }}" type="text/css" rel="stylesheet" media="screen"/>{% endif %}
        {% endblock content_css %}
    {% endblock %}

    {% block javascripts %}
        {% javascripts
        '@NetworkingInitCmsBundle/Resources/public/js/jquery-1.9.1.min.js'
        '@NetworkingInitCmsBundle/Resources/public/js/jquery-ui-1.9.1.min.js'
        '@NetworkingInitCmsBundle/Resources/public/js/jquery.ui.touch-punch.min.js'
        '@SonatajQueryBundle/Resources/public/jquery-ui-i18n.js'
        output='js/jquery-1.9.1.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/tooltip.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/*.js'
        '@NetworkingInitCmsBundle/Resources/public/js/bootstrap-editable.min.js'
        output='js/bootstrap.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock javascripts %}

    <title>
        {% block meta_title %}
        {% endblock %}
    </title>
</head>
{% block body_tag %}
<body class="{% block body_class %}initcms{% endblock %}">
{% endblock body_tag %}

{% block body_start %}
{% endblock body_start %}

{% block body %}

    {% block init_cms_top_nav %}
    {% endblock init_cms_top_nav %}

    {% block navbar_spacer %}
        <div class="navbar-spacer"></div>
    {% endblock navbar_spacer %}

    <div class="{% block container_class %}container{% if app.user and app.user.getAdminSetting('admin_portal_width') != 'small' %}-fluid{% endif %}{% endblock container_class %} row-offcanvas">
        <div class="notice-block affix">
            {% block notice %}
                {% for notice_level in ['success','error','info', 'warning'] %}
                    {% set session_var = 'sonata_flash_' ~ notice_level %}
                    {% for flash in app.session.flashbag.get(session_var) %}

                        <div class="col-sm-12 col-xs-12 col-md-offset-2 col-md-10 alert {{ (notice_level=='error')?'alert-danger':'alert-' ~ notice_level }}"
                             role="alert">
                            <a class="close" data-dismiss="alert" href="#">×</a>
                            {{ flash|trans([], 'NetworkingInitCmsBundle') }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock notice %}
        </div>
        <div class="row">
            {% block sidebar_left %}
                <div class="col-xs-12 col-sm-12 col-md-2  sidebar-offcanvas">
                    <div class="nav-main nav-collapse">
                        {% block top_bar_before_nav %} {% endblock %}
                        {# Side navigation bar, not actually at the top in this template #}
                        {% block sonata_top_bar_nav %}{% endblock %}
                        {% block top_bar_after_nav %} {% endblock %}
                    </div>
                </div>
            {% endblock sidebar_left %}
            <div class="col-xs-12 {% if block('sidebar_left') %}col-md-10{% else %}col-md-12{% endif %} content-main">

                <div class="row content-top">
                    <div class="col-md-4">
                    </div>
                </div>
                {% block page_title %}
                {% endblock page_title %}

                {% block sonata_admin_content %}
                {% endblock sonata_admin_content %}
            </div>
        </div>

        {% block footer %}
        {% endblock footer %}
    </div>

    <div id="end">&nbsp;</div>

    {% block before_body_end %}
        {% javascripts filter="?yui_js"
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
        '@MopaBootstrapBundle/Resources/public/components/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.js'
        '@SonataAdminBundle/Resources/public/select2/select2.min.js'
        '@SonataAdminBundle/Resources/public/jquery/jquery.form.js'
        output='js/footer_admin.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">
            window.SONATA_CONFIG = {
                CONFIRM_EXIT: {% block confirm_exit %}{% if admin_pool is defined and admin_pool.getOption('confirm_exit') %}true{% else %}false{% endif %}{% endblock %},
                USE_SELECT2: {% if admin_pool is defined and admin_pool.getOption('use_select2') %}true{% else %}false{% endif %}
            };
            window.SONATA_TRANSLATIONS = {
                CONFIRM_EXIT: '{{ 'confirm_exit'|trans({}, 'SonataAdminBundle')|escape('js') }}'
            };
        </script>

        {% if admin_pool is defined and admin_pool.getOption('confirm_exit') %}
        <script src="{{ asset('bundles/sonataadmin/jquery/jquery.confirmExit.js') }}" type="text/javascript"></script>
        {% endif %}
        <script src="{{ asset('bundles/networkinginitcms/js/sonata_base.js') }}" type="text/javascript"></script>
        {% if app.request.getLocale()|slice(0, 2) != 'en' %}
        <script src="{{ asset('bundles/mopabootstrap/components/smalot-bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.' ~ app.request.getLocale()|slice(0, 2) ~'.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('bundles/sonataadmin/select2/select2_locale_'~ app.request.getLocale()|slice(0, 2) ~'.js') }}"
                type="text/javascript"></script>
        {% endif %}
        {% if app.user is defined %}
        {% if is_granted('ROLE_SONATA_ADMIN') %}
        <script src="{{ asset('bundles/networkinginitcms/js/init_cms.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/networkinginitcms/js/bootstrap-modal-fix.js') }}" type="text/javascript"></script>
        {% endif %}
        {% endif %}
    {% endblock before_body_end %}
    {# Render any javascript which was given usin the jsblock twig nodes#}
    {% jsblock 'render' %}
{% endblock body %}
</body>
</html>