{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'NetworkingInitCmsBundle::admin_base.html.twig' %}

{% set _preview      = block('preview') %}
{% set _form         = block('form') %}
{% set _show         = block('show') %}
{% set _list_table   = block('list_table') %}
{% set _list_filters = block('list_filters') %}
{% set _side_menu    = block('side_menu') %}
{% set _content      = block('content') %}
{% set _title        = block('title') %}
{% set _breadcrumb   = block('breadcrumb') %}
{% set _help_text    = block('help_text') %}
{% set _actions      = block('actions') %}
{% set isActive      = false %}
{% if admin is defined %}
    {% set currentAdmin = admin %}
{% endif %}

{% block meta_title %}
    {{ 'Admin'|trans({}, 'SonataAdminBundle') }}

    {% if admin is defined %}
        &gt; {{ admin.label|trans({}, admin.translationDomain )|striptags }}
    {% else %}
        {% if action is defined %}
            -
            {% for menu in admin.breadcrumbs(action) %}
                {% if not loop.first %}
                    &gt;
                {% endif %}
                {{ menu.label|raw|striptags|replace({'&quot;': ''}) }}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}




{% block page_title %}{% endblock %}
{% block init_cms_top_nav %}{% endblock %}
{% block sidebar_left %}{% endblock %}
{% block navbar_spacer %}{% endblock %}

{% block sonata_admin_content %}
    <div class="row row-content-wide">
        {% if _preview is not empty %}
            <div class="sonata-ba-preview span{% if _side_menu is empty %}12{% else %}10{% endif %}">{{ _preview|raw }}</div>
        {% endif %}

        {% if _content is not empty %}
            <div class="sonata-ba-content span{% if block('sidebar_left') is empty %}12{% elseif _side_menu is empty %}10{% else %}8{% endif %}">{{ _content|raw }}</div>
        {% endif %}

        {% if _help_text is not empty %}
            <div class="sonata-ba-content span{% if _side_menu is empty %}12{% else %}10{% endif %}">{{ _help_text|raw }}</div>
        {% endif %}

        {% if _show is not empty %}
            <div class="sonata-ba-show span{% if _side_menu is empty %}12{% else %}10{% endif %}">{{ _show|raw }}</div>
        {% endif %}

        {% if _form is not empty %}
            <div>{{ _form|raw }}</div>
        {% endif %}

        {% if _list_table is not empty or _list_filters is not empty %}

            <div class="span{% if _side_menu is not empty %}10{% else %}12{% endif %}">
                {{ _list_filters|raw }}
                {% if _actions is not empty %}
                    {{ _actions|raw }}
                {% endif %}
                {{ _list_table|raw }}
            </div>

        {% endif %}



        {% if _side_menu is not empty %}
            <div class="sidebar span2">
                <div class="well sonata-ba-side-menu" style="padding: 8px 0;">{{ _side_menu|raw }}</div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}{% endblock %}

