{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block title %}
{{ 'title.dashboard'|trans({'%admin_title%': sonata_config.title}, 'NetworkingInitCmsBundle') }}
{% endblock %}

{% block navbar_title %}
    <small>{{ 'title.dashboard'|trans({'%admin_title%': sonata_config.title}, 'NetworkingInitCmsBundle') }}</small>
{% endblock %}

{% block breadcrumb %}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% for block in blocks.top %}
                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
            {% endfor %}
        </div>
    </div>
    <div class="d-flex flex-row ">
        <div class="d-flex flex-column flex-row-auto w-50 p-2">
            {% for block in blocks.left %}
                <div class="mb-2">
                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                </div>

            {% endfor %}
        </div>
        <div class="d-flex flex-column flex-row-auto  w-50 p-2">
            {% for block in blocks.right %}
                <div class="mb-2">
                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
