{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends '@NetworkingInitCms/CRUD/edit.html.twig' %}

{% block title %}{{ 'page_batch_copy'|trans({}, admin.translationDomain) }}{% endblock %}
{% block navbar_title %}{{ 'page_batch_copy'|trans({}, admin.translationDomain) }}{% endblock %}

{% block actions %}{% endblock %}
{% block side_menu %}{% endblock %}

{% block form %}
    {{ form_errors(form) }}
    <form class="form-{% if app.request.isXmlHttpRequest or app.request.get('_xml_http_request') %}horizontal{% else %}vertical{% endif %}" novalidate="novalidate"
          action="{{ admin.generateUrl('batchCopy') }}" method="POST">
        {{ form_row(form.fromLocale) }}
        {{ form_row(form.toLocale) }}
        {{ form_row(form._token) }}
        {% block formactions %}
            {% set admin_label = admin.getLabel()|trans({}, admin.translationDomain) %}
            <div class="{% if app.request.isXmlHttpRequest or app.request.get('_xml_http_request') %}modal-footer{% else %}well form-actions{% endif %}">
                {% if app.request.isXmlHttpRequest or app.request.get('_xml_http_request') %}
                    <button class="btn btn-light" data-dismiss="modal"
                            aria-hidden="true">{{ 'button.cancel'|trans({'%admin_label%': admin_label}, 'PageAdmin') }}</button>

                        <input type="submit" class="btn btn-primary" name="btn_copy"
                               value="{{ 'button.page_batch_copy'|trans({}, admin.translationDomain) }}"/>
                {% else %}
                    <a class="btn btn-light"
                       href="{{ admin.generateUrl('list') }}">{{ 'btn_cancel'|trans({}, 'NetworkingInitCmsBundle') }}</a>
                        <input class="btn btn-primary" type="submit" name="btn_copy"
                               value="{{ 'button.page_batch_copy'|trans({}, admin.translationDomain) }}"/>
                {% endif %}
            </div>
        {% endblock formactions %}
    </form>
{% endblock %}
 {% block meta_config %}
     <meta name="init-cms-setup"
           data-init-cms-config='{{ {'DEBUG':sonata_config.getOption('js_debug'),'CONFIRM_EXIT': false}|json_encode()|raw }}'
           data-init-cms-translations='{{ {CONFIRM_EXIT: 'confirm_exit'|trans({}, 'SonataAdminBundle')}|json_encode()|raw }}'>
 {% endblock %}

