{% set layoutBlockId = layoutBlockId??layout_block.id %}

<div class="border mb-2 content_type_item bg-white draggable"
     id="layoutBlock_{{ layoutBlockId }}"
     data-content-type="{{ layout_block.classType }}"
     data-zone="{{ layout_block.zone }}"
     data-page-id="{{ layout_block.pageId }}"
     data-sort-order="{{ layout_block.sortOrder }}"
     data-id="{{ layout_block.id }}"
>
    {# preview of layout block of content #}
    <div class="p-3 d-flex flex-row align-items-center mr-3">
        <div class="d-flex align-items-center w-25px me-1">
            <i class="{{ get_content_type_icon(layout_block.classType) }} fs-3 text-gray-600">
            </i>
        </div>
        <!--end::Symbol-->
        <!--begin::Container-->
        <div class="d-flex align-items-center flex-row-fluid">
            <!--begin::Content-->
            <div class="me-5">
                <!--begin::Title-->
                <span
                        class="text-gray-800 fw-bold fs-6">{{ get_content_type_name(layout_block.classType) }}</span>
                <!--end::Title-->
            </div>
            <!--end::Content-->
        </div>
        <div class="d-flex align-items-center">
            {% if layout_block.id %}
            <span class="me-2">{{ layout_block.isActive?'Online':'Offline' }}</span>
            <button type="button" class="me-2 btn btn-sm btn-light-{{ layout_block.isActive?'success':'danger' }} toggle-active"
                    data-value="{{ layout_block.id }}"
            ><i class="ki-outline ki-{{ layout_block.isActive?'check-circle':'minus-circle' }}"></i>
            </button>

            <button type="button" class="me-2 btn btn-sm btn-light-danger delete_block"
                    data-value="{{ layout_block.id }}"
            ><i class="fa fa-trash soft-background pe-0"></i>
            </button>


            <button type="button" class="me-2 btn btn-sm btn-light-primary edit_block"
                    data-value="{{ layout_block.id }}">
                <i class="fa-regular fa-pen-to-square layout-link  pe-0"

                ></i>
            </button>
            {% else %}
                <button type="button" class="me-2 btn btn-sm btn-light-danger delete_block"
                        data-value="{{ layoutBlockId }}"

                ><i class="fa fa-trash soft-background pe-0"></i>
                </button>
                <button type="button" class="me-2 btn btn-sm btn-light-primary create_block"
                        data-value="{{ layoutBlockId }}">
                    <i class="fa-regular fa-pen-to-square layout-link  pe-0"

                    ></i>
                </button>
            {% endif %}

        </div>
    </div>


    <div class="content_preview border-top p-3 ">
        <div id="layoutBlockHtml{{ layoutBlockId }}"
             data-container="#layoutBlockHtml{{ layoutBlockId }}" >
            {% if layout_block.id %}
            {{ render_initcms_admin_block(layout_block) }}
            {% endif %}
        </div>
        <div id="editBlockHtml{{ layoutBlockId }}" class="d-none"></div>
    </div>
</div>