
{# delete file #}
{% block form %}
    {% if not admin.hasRoute('create') %}
        <div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
        </div>
    {% else %}
        <div class="col-md-12">
            <p>{{ 'info.page_create'|trans({}, 'PageAdmin') }}</p>
            <form
                  action="{{ admin.generateUrl('create', {'id': admin.id(object), 'uniqid': admin.uniqid, 'locale': app.request.get('locale'), 'subclass': app.request.get('subclass')}) }}"
                    {% if form.vars.multipart %} enctype="multipart/form-data"{% endif %}
                  method="POST">
              <div class="card">
                  <div class="card-content">
                      <div class="card-body">
                          {% if form.vars.errors|length > 0 %}
                              <div class="sonata-ba-form-error">
                                  {{ form_errors(form) }}
                              </div>
                          {% endif %}


                          {% block sonata_pre_fieldsets %}{% endblock %}


                          {% set form_group = admin.formgroups.page_settings %}
                          {% for field_name in form_group.fields %}
                              {% if admin.formfielddescriptions[field_name] is defined %}
                                  {{ form_row(form[field_name]) }}
                              {% endif %}
                          {% endfor %}

                          {% set form_group = admin.formgroups.meta_settings %}

                          <fieldset {% if form_group.collapsed %}class="sonata-ba-fieldset-collapsed"{% endif %}>
                              <legend{% if form_group.description != false %} class="sonata-ba-fieldset-collapsed-description"{% endif %}>
                                  {% if form_group.collapsed %}
                                      <a class="sonata-ba-collapsed" data-toggle="collapse" data-target="#nav-collapse-meta"
                                         title="{{ 'link_expand'|trans({}, 'SonataAdminBundle') }}">{{ 'meta_settings'|trans({}, admin.translationDomain) }}</a>
                                  {% else %}
                                      {{ 'meta_settings'|trans({}, admin.translationDomain) }}
                                  {% endif %}
                              </legend>

                              <div class="{% if form_group.collapsed %}sonata-ba-collapsed-fields collapse{% endif %}" id="nav-collapse-meta">

                                  {% for field_name in form_group.fields %}
                                      {% if admin.formfielddescriptions[field_name] is defined %}
                                          {{ form_row(form[field_name]) }}
                                      {% endif %}
                                  {% endfor %}
                              </div>
                          </fieldset>

                          {{ form_rest(form) }}


                          {% block sonata_post_fieldsets %}{% endblock %}
                      </div>

                      <!-- start modal page form -->

                      <!-- end modal page form -->
                      {% block formactions %}
                          <div class="card-footer">
                              <a class="btn btn-light" href="{{ admin.generateObjectUrl('list', object) }}">{{ 'button.cancel'|trans({}, 'PageAdmin') }}</a>
                              <input class="btn btn-primary" type="submit" name="btn_create_and_edit"
                                     value="{{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}"/>

                          </div>
                      {% endblock formactions %}
                  </div>
              </div>
            </form>
        </div>
        {% jsblock 'addToBottom' %}
        {% include '@NetworkingInitCms/PageAdmin/page_create_form_script.html.twig' with {'admin': admin} %}
        {% jsblock 'addToBottomEnd' %}


    {% endif %}
{% endblock %}
