{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% block form %}
    {% set url = admin.id(object) ? 'edit' : 'create' %}

    {% if not admin.hasRoute(url) %}
        <div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
        </div>
    {% elseif app.request.isxmlhttprequest %}
        {% include '@NetworkingInitCms/PageAdmin/ajax_page_settings.html.twig' %}
    {% else %}
        <form class="form-vertical page-form"
              action="{{ admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}"
                {% if form.vars.multipart %} enctype="multipart/form-data"{% endif %}
              method="POST"
              id="networking_init_cms.page">
        {% if form.vars.errors|length > 0 %}
            <div class="sonata-ba-form-error">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        {% block sonata_pre_fieldsets %}{% endblock %}

        <div class="col-md-8">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="break-word">
                        {% if block('title') is not empty %}
                            {{ block('title')|raw }}
                        {% elseif action is defined %}
                            {% for label, uri in admin.breadcrumbs(action) %}
                                {% if loop.last %}
                                    {{ label|replace({'%span%': '<span class="info-soft">', '%span/%': "</span>"})|raw }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if action is defined and action == 'edit' %}
                            {% set settings = {} %}
                            {% if object.locale %}
                                {% set settings = {'locale': object.locale} %}
                            {% endif %}

                            <a class="link-underlined font-small font-light"
                               href="{{ admin.generateUrl('list', settings) }}">{{ 'link.go_to_list'|trans({'%admin_label%':admin.label}, 'NetworkingInitCmsBundle') }}</a>
                        {% endif %}
                    </h1>
                </div>
                <div class="col-md-2">
                    {% if block('help_text') is empty %}
                        {% if admin is not defined %}
                            {% set adminCode = 'dashboard' %}
                            {% set actionHelp = '' %}
                        {% else %}
                            {% set adminCode = admin.code %}
                            {% set actionHelp = action %}
                        {% endif %}
                        <div class="level-headline-icon pull-right"><a
                                    href="{{ url('networking_init_cms_help', {'adminCode':adminCode,'action':actionHelp}) }}"
                                    target="_blank">
                                <div class="info_button_medium"></div>
                            </a></div>
                    {% endif %}
                </div>
            </div>

            {% set form_group = admin.formgroups.page_content %}
            {% for field_name in form_group.fields %}
                {% if admin.formfielddescriptions[field_name] is defined %}
                    {{ form_row(form[field_name]) }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-4 right-bar">
            {# page status panel #}
            <div id="pageStatusSettings">
                {% include '@NetworkingInitCms/PageAdmin/page_status_settings.html.twig' %}
            </div>

            <div id="accordion">
                {% if admin.translationLanguages.count() %}
                    {# translation panel #}
                    <div class="panel-group" id="accordion1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-parent="#accordion1" data-toggle="collapse" href="#collapseOne">
                                    <div class="accordion-caret"><b class="caret"></b></div>
                                    {{ 'legend.translations'|trans({}, admin.translationDomain) }}
                                </a>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div id="translationSettings">
                                        <p class="info-soft">{% include '@NetworkingInitCms/PageAdmin/page_translation_settings.html.twig' %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {# menu panel #}
                <div class="panel-group" id="accordion2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-parent="#accordion2" data-toggle="collapse" href="#collapseTwo">
                                <div class="accordion-caret"><b class="caret"></b></div>
                                {{ 'legend.menu_connections'|trans({}, admin.translationDomain) }}
                            </a>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                {% include '@NetworkingInitCms/PageAdmin/page_menu_settings.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
                {# page settings panel #}
                <div class="panel-group" id="accordion3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-parent="#accordion3" data-toggle="collapse" href="#collapseThree">
                                <div class="accordion-caret"><b class="caret"></b></div>
                                {{ 'legend.page_settings'|trans({}, admin.translationDomain) }}
                            </a>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse in">
                            <div class="panel-body" style="min-height:70px;">
                                <i data-target="#pageSettingFields" data-toggle="modal"
                                   class="pull-right btn btn-default btn-sm glyphicon glyphicon-pencil"></i>

                                <div id="pageSettings">
                                    {% include '@NetworkingInitCms/PageAdmin/page_settings_fields.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block sonata_post_fieldsets %}{% endblock %}

        <!-- start modal page form -->
        <div class="modal form-horizontal" id="pageSettingFields"
             role="dialog" aria-labelledby="{{ "legend.page_settings"|trans({}, admin.translationDomain) }}"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4>{{ 'legend.page_settings'|trans({}, admin.translationDomain) }}</h4>
                    </div>
                    <div class="modal-body">
                        <div id="pageSettingsFieldsModal">
                            {% if form.vars.errors|length > 0 %}
                                <div class="sonata-ba-form-error">
                                    {{ form_errors(form) }}
                                </div>
                            {% endif %}

                            {% set form_group = admin.formgroups.page_settings %}
                            {% for field_name in form_group.fields %}
                                {% if admin.formfielddescriptions[field_name] is defined %}
                                    {{ form_row(form[field_name], {'horizontal': true}) }}
                                {% endif %}
                            {% endfor %}
                            {% set form_group = admin.formgroups.meta_settings %}
                            <fieldset {% if form_group.collapsed %}class="sonata-ba-fieldset-collapsed"{% endif %}>
                                <legend{% if form_group.description != false %} class="sonata-ba-fieldset-collapsed-description"{% endif %}>
                                    {% if form_group.collapsed %}
                                        <a class="sonata-ba-collapsed" data-toggle="collapse"
                                           data-target="#nav-collapse-meta"
                                           title="{{ 'link_expand'|trans({}, 'SonataAdminBundle') }}">{{ 'meta_settings'|trans({}, admin.translationDomain) }}</a>
                                    {% else %}
                                        {{ 'meta_settings'|trans({}, admin.translationDomain) }}
                                    {% endif %}
                                </legend>

                                <div {% if form_group.collapsed %}class="collapse in" id="nav-collapse-meta"{% endif %}>

                                    {% for field_name in form_group.fields %}
                                        {% if admin.formfielddescriptions[field_name] is defined %}
                                            {{ form_row(form[field_name], {'horizontal': true}) }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </fieldset>
                        </div>
                        {{ form_rest(form) }}
                    </div>
                    <div class="modal-footer">
                        {% if app.request.isxmlhttprequest %}
                            {% if admin.id(object) %}
                                <button class="btn btn-default " data-dismiss="modal"
                                        aria-hidden="true">{{ 'button.cancel'|trans({}, admin.translationDomain) }}</button>
                                <button type="submit" class="btn btn-primary" name="btn_update"
                                        data-loading-text="{{ 'btn_loading'|trans({}, 'NetworkingInitCmsBundle') }}">{{ 'btn_update'|trans({}, 'SonataAdminBundle') }}</button>
                            {% else %}
                                <button type="submit" class="btn btn-default" name="btn_create"
                                        data-loading-text="{{ 'btn_loading'|trans({}, 'NetworkingInitCmsBundle') }}">{{ 'btn_create'|trans({}, 'SonataAdminBundle') }}
                                    }
                                </button>
                            {% endif %}
                        {% else %}
                            {% if admin.supportsPreviewMode %}
                                <input class="btn btn-info persist-preview" name="btn_preview" type="submit"
                                       value="{{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}"/>
                            {% endif %}
                            {% if admin.id(object) %}
                                <button class="btn btn-default" data-dismiss="modal"
                                        aria-hidden="true">{{ 'button.cancel'|trans({}, admin.translationDomain) }}</button>
                                <input type="submit" class="btn btn-primary" name="btn_update_and_edit"
                                       onclick="return start_save_page_settings(this);"
                                       data-loading-text="{{ 'btn_loading'|trans({}, 'NetworkingInitCmsBundle') }}"
                                       value="{{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}"/>
                            {% else %}
                                <input class="btn btn-primary" type="submit" name="btn_create_and_edit"
                                       value="{{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}"/>
                                <input class="btn btn-default" type="submit" name="btn_create_and_create"
                                       data-loading-text="{{ 'btn_loading'|trans({}, 'NetworkingInitCmsBundle') }}"
                                       value="{{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}"/>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
        <!-- end modal page form -->
        </form>
        {% jsblock 'addToBottom' %}
        {% include '@NetworkingInitCms/PageAdmin/page_edit_form_script.html.twig' with {'admin': admin, 'id': admin.id(object)} %}
        {% include '@NetworkingInitCms/PageAdmin/page_translation_script.html.twig' with {'admin': admin} %}
        {% include '@NetworkingInitCms/PageAdmin/page_status_script.html.twig' with {'admin': admin} %}
        {% jsblock 'addToBottomEnd' %}


    {% endif %}
{% endblock %}
