{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% autoescape false %}
    <script type="text/javascript">
        function  updatePageSettings(event) {
            event.preventDefault();
            event.stopPropagation();
            var form = $(this);
            $(form).ajaxSubmit({
                url: form.action,
                type: "POST",
                dataType: 'json',
                data: {_xml_http_request: true},
                success: function (xhr) {
                    var pageStatus = $('.page_status');
                    if (xhr.pageStatus !== "{{ 'status_published'|trans({}, admin.translationDomain) }}") {
                        pageStatus.addClass('color-draft');
                    } else {
                        pageStatus.removeClass('color-draft');
                    }


                    pageStatus.html(xhr.pageStatus);
                    $('.page_title').html(xhr.title);
                    $('#pageStatusSettings').html(xhr.pageStatusSettings);
                    reloadLayoutBlocks();
                    createInitCmsMessageBox(xhr.messageStatus, xhr.message);
                },
                error: function (xhr, textStatus, errorThrown) {
                    $('#page_settings').html(xhr.responseText);
                    $('form', '#page_settings').bind('submit', updatePageSettings);
                }
            });
        };

        function  updateMetaSettings(event) {
            event.preventDefault();
            event.stopPropagation();
            var form = $(this);
            $(form).ajaxSubmit({
                url: form.action,
                type: "POST",
                dataType: 'json',
                data: {_xml_http_request: true},
                success: function (xhr) {
                    var pageStatus = $('.page_status');
                    if (xhr.pageStatus !== "{{ 'status_published'|trans({}, admin.translationDomain) }}") {
                        pageStatus.addClass('color-draft');
                    } else {
                        pageStatus.removeClass('color-draft');
                    }


                    pageStatus.html(xhr.pageStatus);
                    $('.page_title').html(xhr.title);
                    $('#pageStatusSettings').html(xhr.pageStatusSettings);
                    reloadLayoutBlocks();
                    createInitCmsMessageBox(xhr.messageStatus, xhr.message);
                },
                error: function (xhr, textStatus, errorThrown) {
                    $('#meta_settings').html(xhr.responseText);
                    $('form', '#meta_settings').bind('submit', updateMetaSettings);
                }
            });
        };

        function openMenuDialog(event, ui) {
            event.preventDefault();
            event.stopPropagation();

            $('#confirmMenuCreation').modal('show');
            $('#show_now_confirm_dialog').attr('checked', false);

            $('body').on('click', '#btn_create_menu', function () {
                if ($('#show_now_confirm_dialog').attr('checked')) {
                    window.location = ui.href + '?show_now_confirm_dialog=1';
                } else {
                    window.location = ui.href;
                }
            });
        }

        (function ($) {

            $('form', '#page_settings').bind('submit', updatePageSettings);
            $('form', '#meta_settings').bind('submit', updateMetaSettings);

            $('body').on('change', '#{{ admin.uniqid }}_locale', function () {
                var locale = $(this).val();
                $.getJSON(
                    '{{ admin.generateUrl('parentPageList') }}',
                    {locale: locale},
                    function (data) {
                        var parentPages = $('#{{ admin.getUniqid }}_parent');
                        parentPages.empty();
                        parentPages.append($('<option></option>'));
                        $.each(data, function (k, v) {
                            if (v) {
                                parentPages.append($('<option></option>').val(k).html(v));
                            }
                        });
                    }
                );
            }).on('change', '#{{ admin.uniqid }}_parent', function (e) {
                var path = $('#{{ admin.uniqid }}_url').val();
                var pageId = e.val;
                if (pageId === '') {
                    $('#help_{{ admin.uniqid }}_url').html('/' + path);
                } else {
                    if (pageId === undefined) {
                        pageId = $("#{{ admin.uniqid }}_parent").val();
                    }
                    $.getJSON(
                        '{{ admin.generateUrl('getPath') }}',
                        {'page_id': pageId, 'path': path},
                        function (xhr) {
                            $('#help_{{ admin.uniqid }}_url').html(xhr.path);
                        }
                    );
                }
            }).on('change', '#{{ admin.uniqid }}_url', function () {
                $("#{{ admin.uniqid }}_parent").trigger('change');
            }).on('click', '#review_status', function () {
                if ($('#review_status').is(":checked")) {
                    window.location = '{{ admin.generateUrl('review', {id: object.id}) }}';
                } else {
                    window.location = '{{ admin.generateUrl('draft', {id: object.id}) }}';
                }
            });


            {% if not app.user.getAdminSetting('menuAdmin.show_now_confirm_dialog') %}

            $('.menu_add_link').on('click', function (event) {
                $('#menu_info_text').html('{{ 'info.create_menu_item'|trans({}, admin.translationDomain)|replace({"\n": ' '}) }}');
                $('#confirmMenuCreation .modal-header h4').html(this.title);
                openMenuDialog(event, this);
            });

            $('.menu_edit_link').on('click', function (event) {
                $('#menu_info_text').html('{{ 'info.edit_menu_item'|trans({}, admin.translationDomain)|replace({"\n": ' '}) }}');
                $('#confirmMenuCreation .modal-header h4').html('{{ 'legend.edit_menu'|trans({}, admin.translationDomain)|replace({"\n": ' '}) }}');
                openMenuDialog(event, this);

            });
            {% endif %}
        })(jQuery);
    </script>
{% endautoescape %}
