{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends base_template %}


{% block content %}

        <h2>{{ 'title.translation_link'|trans({'%object%': page, '%language%': language}, admin.translationDomain) }}</h2>
<form method="POST" action="{{ admin.generateUrl('link', {'id': page.id, 'locale': locale}) }}"
      id="translation-link-form"
>
    {% if pages|length < 1 %}
        <p>{{ 'info.no_pages_for_translation'|trans({'%language%': language}, admin.translationDomain) }}</p>
        <button class="btn btn-light btn-cancel"
        aria-hidden="true">{{ 'button.cancel'|trans({}, admin.translationDomain) }}</button>
    {% else %}

                <p>{{ 'message.translation_link'|trans({'%object%': page, '%original_language%': original_language, '%language%': language}, admin.translationDomain) }}</p>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th style="width:5%"></th>
                        <th id="working-title"
                            style="width:25%">{{ 'form.label_page_name'|trans({}, admin.translationDomain) }}</th>
                        <th id="page-status" style="width:10%"></th>
                        <th id="page-url" style="width:50%">URL</th>
                    </tr>
                    </thead>
                    {% for page in pages %}

                        <tr>
                            <td style="vertical-align: middle;"><input type="radio" name="page" value="{{ page.id }}"/>
                            </td>
                            <td style="vertical-align: middle;">{{ page.title }}</td>
                            <td style="vertical-align: middle;"><span
                                        class="{% if page.status == 'status_draft' %}color-draft{% else %}info-soft{% endif %}">{{ page.status|trans({}, admin.translationDomain) }}</span>
                            </td>
                            <td style="vertical-align: middle;">{{ page.fullPath }}</td>

                        </tr>

                    {% endfor %}
                </table>
                <button class="btn btn-light btn-cancel"
                        aria-hidden="true">{{ 'button.cancel'|trans({}, admin.translationDomain) }}</button>
            <input type="submit" class="btn btn-primary"
                   value="{{ 'link.link'|trans({}, admin.translationDomain) }}"/>
    {% endif %}
        </form>
{% endblock %}