{#
This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends base_template %}


{% block content %}
    <h2>{{ 'title.copy_page'|trans({'%page_title%':page, '%language%':language}, admin.translationDomain) }}</h2>
    <p>{{ 'info.copy_page'|trans({ '%language%': language }, admin.translationDomain) }}</p>
    <form method="POST"
          action="{{ admin.generateUrl('translate', {id: page.id, locale: locale}) }}"
          id="translate-copy-page-form"
    >
        <input type="hidden" name="locale" value="{{ locale }}"/>
        <input type=hidden name="page_id" value="{{ id }}"/>
        <button class="btn btn-sm btn-light btn-cancel" data-dismiss="modal"
                aria-hidden="true">{{ 'button.cancel'|trans({}, admin.translationDomain) }}</button>
        <input type="submit" class="btn btn-sm btn-primary"
               value="{{ 'button.copy_page'|trans({}, admin.translationDomain) }}"/>
    </form>
{% endblock %}
