{% extends base_template %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}


{% block title %}
        {{ "title_create"|trans({}, admin.translationDomain) }}
{% endblock %}

{% block top_actions %}
{% endblock %}

{% block actions %}
    <div class="sonata-actions">

        {% include '@SonataAdmin/Core/create_button.html.twig' %}
        {% if admin.hasroute('list') and admin.isGranted('LIST') %}
            <a class="btn sonata-action-element"
               href="{{ admin.generateUrl('list') }}">{{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
        
    </div>
{% endblock %}


{% use '@NetworkingInitCms/PageAdmin/page_create_form.html.twig' with form as parentForm %}

{% block form %}
    {{ block('parentForm') }}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}
