{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends '@NetworkingInitCms/CRUD/base_list_field.html.twig' %}

{% block field -%}
        {% if object.level > 1 -%}
            {% for i in 1..(object.level-1) %}<i class="fa fa-angle-right level-spacer
            {{ loop.first?'first':'' }} {{ loop.last?'last':'' }}"></i>{% endfor %}
        {%- endif -%}
        <a href="{{ admin.generateUrl('edit', {'id' : object.id}) }}" class="link-page-edit show-tooltip"
           data-page_id="{{ admin.id(object) }}" data-original-title="{{ value }}">{{ value }}</a>
{%- endblock %}