{#
This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% if admin is not defined %}
    {% set admin = sonata_admin.admin %}
{% endif %}
{% set id =  admin.uniqid ~'_layout_blocks' %}
{% set contentTypes = get_content_type_options() %}
<div id="field_container_{{ id }}">
    <p></p>
    {% if not admin.subject.alias %}
        {% for key, zone in get_initcms_template_zones() %}
            {% if (loop.first) %}
                <div class="row">
            {% endif %}


            <div class="{{ zone.class }}">
                <div class="dropzone mb-3"
                     data-zone="{{ zone.name }}"
                     data-page-id="{{ admin.subject.id }}"
                     data-admin-code="{{ admin.code }}"
                >
                    <h6>{{ zone.name|trans() }} </h6>
                    {% if zone.max_content_items is not same as(-1) %}
                        <div id="zone_{{ zone.name }}" class="draggable-zone min-h-200px"
                             data-content-types="{{ zone.restricted_types }}"
                             data-max-items="{{ zone.max_content_items }}">

                            <div class="empty_layout_block {% if get_sub_form_by_zone(form.children, zone.name)|length > 0 %}d-none{% endif %}">
                                <p class="info-soft ">
                                    {% trans from 'PageAdmin' %}info.layout_block_empty{% endtrans %}
                                </p>
                            </div>
                            {# loop through layout blocks #}
                            {% for layout_block in admin.subject.layoutBlock(zone.name, true) %}
                                {% include '@NetworkingInitCms/PageAdmin/layout_block.html.twig' with {'layout_block': layout_block} %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>

            {% if (loop.last) %}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="alert alert-info"><a
                    href="{{ admin.generateUrl('edit', {id: admin.subject.alias.id}) }}"
                    class="link-underlined  font-light">
                {{ 'link.alias.page'|trans({'%alias_page%': admin.subject.alias}, 'NetworkingInitCmsBundle') }}</a>
        </div>
    {% endif %}
</div>
