<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4>{{ 'legend.page_settings'|trans({}, admin.translationDomain) }}</h4>
        </div>
        <form method="post" novalidate
              action="{{ admin.generateUrl('editPageSettings', {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}">
            <div class="modal-body">
                {% if form.vars.errors|length > 0 %}
                    <div class="sonata-ba-form-error">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}

                {% set form_group = admin.formgroups.page_settings %}
                {% for field_name in form_group.fields %}
                    {% if admin.formfielddescriptions[field_name] is defined %}
                        {{ form_row(form[field_name], {'horizontal': true}) }}
                    {% endif %}
                {% endfor %}
                {% set form_group = admin.formgroups.meta_settings %}
                <fieldset {% if form_group.collapsed %}class="sonata-ba-fieldset-collapsed"{% endif %}>
                    <legend{% if form_group.description != false %} class="sonata-ba-fieldset-collapsed-description"{% endif %}>
                        {% if form_group.collapsed %}
                            <a class="sonata-ba-collapsed" data-toggle="collapse"
                               data-target="#nav-collapse-meta"
                               title="{{ 'link_expand'|trans({}, 'SonataAdminBundle') }}">{{ 'meta_settings'|trans({}, admin.translationDomain) }}</a>
                        {% else %}
                            {{ 'meta_settings'|trans({}, admin.translationDomain) }}
                        {% endif %}
                    </legend>

                    <div {% if form_group.collapsed %}class="collapse in" id="nav-collapse-meta"{% endif %}>

                        {% for field_name in form_group.fields %}
                            {% if admin.formfielddescriptions[field_name] is defined %}
                                {{ form_row(form[field_name], {'horizontal': true}) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </fieldset>
            </div>
            {{ form_widget(form['_token']) }}
            <div class="modal-footer">
                <button class="btn btn-light " data-dismiss="modal"
                        aria-hidden="true">{{ 'button.cancel'|trans({}, admin.translationDomain) }}</button>
                <button type="submit" class="btn btn-primary" name="btn_update" id="pageSettingsSubmit"
                        data-loading-text="{{ 'btn_loading'|trans({}, 'NetworkingInitCmsBundle') }}">{{ 'btn_update'|trans({}, 'SonataAdminBundle') }}</button>

            </div>
        </form>
    </div>
</div>
