{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}


{% block content %}
    <div class="modal-header">
        <h3>{{ 'title.duplicate_page'|trans({'%page_title%':page}, admin.translationDomain) }}</h3>
    </div>
    <div class="modal-body">
        {{ 'info.duplicate_page'|trans({ '%language%': language }, admin.translationDomain) }}
    </div>
    <div class="modal-footer">
        <form method="POST" action="{{ admin.generateUrl('copy', {id: page.id}) }}">
            <input type=hidden name="page_id" value="{{ id }}"/>
            <input type="submit" class="btn btn-primary"
                   value="{{ 'button.duplicate_page'|trans({}, admin.translationDomain) }}"/>
            <button type="button" class="btn btn-light " data-bs-dismiss="modal"
                    aria-hidden="true">{{ 'button.cancel'|trans({}, admin.translationDomain) }}</button>
        </form>
    </div>
{% endblock %}
