{#
This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% if admin is not defined %}
    {% set admin = sonata_admin.admin %}
{% endif %}
{% set id =  admin.uniqid ~'_layout_blocks' %}
<div id="field_container_{{ id }}">
    {% set increment = 0 %}
    {% if not admin.subject.alias %}
        {% for key, zone in get_initcms_template_zones() %}
            <div class="row">
                <div class="col-12">
                    <div class="dropzone jumbotron">
                        <h6>{{ zone.name|trans() }} </h6>
                        {% if zone.max_content_items is not same as(-1) %}
                            <ul id="zone_{{ zone.name }}" class="sortable draggable-zone"
                                data-content-types="{{ zone.restricted_types|json_encode }}"
                                data-max-items="{{ zone.max_content_items }}">
                                {# Add a list item for the very first plus button with a field set to 0, used for the sorting of the li items that follow #}
                                <li class="networking-sort-zone">
                                    <div class="plus_button"
                                         {% if zone.max_content_items > 0 and admin.subject.layoutBlock(zone.name)|length >= zone.max_content_items %}style="display: none;"{% endif %}>
                                        <a class="add-layout"
                                           href="{{ url('admin_networking_initcms_layoutblock_create') }}"
                                           data-zone="{{ zone.name }}"
                                           data-sort-order="0"
                                           data-value="{{ zone.restricted_types|json_encode }}"
                                           title="{% trans from 'SonataAdminBundle' %}link_add{% endtrans %}">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </li>
                                <li class="empty_layout_block" {% if admin.subject.layoutBlock(zone.name)|length > 0 %} style="display: none;"{% endif %}>
                                    <p class="info-soft ">
                                        {% trans from 'PageAdmin' %}info.layout_block_empty{% endtrans %}
                                    </p>
                                </li>
                                {# loop through layout blocks #}
                                {% for layout_block in admin.subject.layoutBlock(zone.name, true) %}
                                    <li class="networking-sortable-list networking-sort-zone draggable"
                                        id="layoutBlock_{{ layout_block.id }}"
                                        data-content-type="{{ layout_block.classType }}">
                                        {# preview of layout block of content #}

                                        <div class="content_preview">
                                            <div class="layout_controls">
                                                <div class="float-left">
                                                    <i class="fa fa-arrows-alt draggable-handle soft-background"></i>
                                                    <i class="fa fa-trash soft-background delete_block"
                                                       data-value="{{ layout_block.id }}"></i>
                                                    <i class="fa fa-edit soft-background layout-link"
                                                       data-container="#layoutBlockHtml{{ layout_block.id }}"
                                                       data-href="{{ url('admin_networking_initcms_layoutblock_edit', {'id': layout_block.id, 'subclass': layout_block.classType}) }}"></i>
                                                </div>
                                                <div class="float-right text-{{ layout_block.isActive?'success':'danger' }}">
                                                    {{ layout_block.isActive?'Online':'Offline' }}
                                                    <i class="fa fa-{{ layout_block.isActive?'check':'minus' }}-circle
                                                    btn btn-xs btn-{{ layout_block.isActive?'success':'danger' }} toggle-active"
                                                       data-value="{{ layout_block.id }}"> </i>
                                                </div>
                                                <div class="clearfix"></div>
                                                <br>
                                            </div>

                                            <div id="layoutBlockHtml{{ layout_block.id }}"
                                                 data-container="#layoutBlockHtml{{ layout_block.id }}"
                                                 {% if not layout_block.isActive %}style="opacity:0.3"{% endif %}
                                                 data-href="{{ url('admin_networking_initcms_layoutblock_edit', {'id': layout_block.id, 'subclass': layout_block.classType}) }}">
                                                {{ layout_block }}
                                            </div>
                                        </div>
                                        {# start the block for the plus button #}
                                        <div class="plus_button"
                                             {% if zone.max_content_items > 0 and admin.subject.layoutBlock(zone.name)|length >= zone.max_content_items %}style="display: none;"{% endif %}>
                                            <a class="add-layout"
                                               href="{{ url('admin_networking_initcms_layoutblock_create') }}"
                                               data-zone="{{ zone.name }}"
                                               data-sort-order="{{ loop.index }}"
                                               data-value="{{ zone.restricted_types|json_encode }}"
                                               title="{% trans from 'SonataAdminBundle' %}link_add{% endtrans %}">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </div>
                                    </li>
                                    {% set increment = increment + 1 %}
                                {% endfor %}

                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info"><a
                    href="{{ admin.generateUrl('edit', {id: admin.subject.alias.id}) }}"
                    class="link-underlined  font-light">
                {{ 'link.alias.page'|trans({'%alias_page%': admin.subject.alias}, 'NetworkingInitCmsBundle') }}</a>
        </div>
    {% endif %}
    {# add dependent javascript based on if the request is ajax or not #}
    {% if app.request.isXmlHttpRequest %}
        {% include '@NetworkingInitCms/PageAdmin/page_edit_orm_one_ajax.html.twig' %}
    {% else %}

        {# addToBottom adds the content in the block to the end of the page #}
        {% jsblock 'addToBottom' %}
        <script src="{{ asset('bundles/networkinginitcms/vendor/jqueryui/jquery-ui.min.js')}}"></script>
        {% include '@NetworkingInitCms/PageAdmin/page_edit_layout_blocks_script.html.twig' with {'admin': admin} %}
        {% jsblock 'addToBottomEnd' %}
    {% endif %}
</div>
