{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block actions %}
    <div class="sonata-actions">
        {% if admin.hasRoute('edit') and admin.isGranted('EDIT', page) %}
            <a class="btn sonata-action-element"
               href="{{ admin.generateObjectUrl('edit', page) }}">{{ 'link_action_edit'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
        {% if admin.hasRoute('create') and admin.isGranted('CREATE') %}
            <a class="btn sonata-action-element"
               href="{{ admin.generateUrl('create') }}">{{ 'link_action_create'|trans({}, admin.translationDomain) }}</a>
        {% endif %}
    </div>
{% endblock %}

{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active'}, 'list') }}{% endblock %}

{% block content %}
    <div class="sonata-ba-delete">
        {% if app.request.isxmlhttprequest %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>{{ 'title.delete_translation_link'|trans({}, admin.translationDomain) }}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                {% else %}
                    <h1>{{ 'title.delete_translation_link'|trans({}, admin.translationDomain) }}</h1>
                {% endif %}

                <div class="{% if app.request.isxmlhttprequest %}modal-body{% endif %}">
                    {% set locale = translatedPage.locale|slice(0,2)|upper %}
                    {{ 'info.delete_translation_link'|trans({'%translatedPage%': translatedPage, '%locale%': locale }, admin.translationDomain) }}
                </div>
                <div class="{% if app.request.isxmlhttprequest %}modal-footer{% else %}well form-actions{% endif %}">
                    <form method="POST"
                          action="{{ admin.generateUrl('unlink', {id: page.id, translationId: translationId}) }}">
                        <input type="hidden" value="DELETE" name="_method"/>
                        {% if app.request.isxmlhttprequest %}
                            <button class="btn btn-light " data-dismiss="modal"
                                    aria-hidden="true">{{ 'button.cancel'|trans({}, admin.translationDomain) }}</button>
                            <input type="submit" class="btn btn-danger"
                                   value="{{ 'link.unlink'|trans({}, admin.translationDomain) }}"/>
                        {% else %}
                            <input type="submit" class="btn btn-danger"
                                   value="{{ 'link.unlink'|trans({}, admin.translationDomain) }}"/>

                            <a href="{{ admin.generateObjectUrl('edit', page) }}" class="btn btn-danger">
                                {{ 'button.cancel'|trans({}, admin.translationDomain) }}
                            </a>
                        {% endif %}
                    </form>
                </div>
                {% if app.request.isxmlhttprequest %}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
