{#
This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% block form %}
<div class="row">
    <div class="col-5">
        <div class="row">
            <div class="col-10">
                <h1 class="break-word">
                    <span class="page_title">{{ admin.toString(object) }} </span> <span class="info-soft font-medium">({{ language }})</span>
                    <a class="link-underlined font-small font-light"
                       href="{{ admin.generateUrl('list', {'locale': object.locale}) }}">{{ 'link.go_to_list'|trans({'%admin_label%':admin.label}, 'NetworkingInitCmsBundle') }}</a>
                </h1>
            </div>
            <div class="col-2">
                <div class="float-right">
                    <a href="{{ url('networking_init_cms_help', {'adminCode':admin.code,'action':action}) }}"
                       target="_blank">
                        <div class="info_button_medium"></div>
                    </a>
                </div>
            </div>
            <div class="col-12">
                <div id="pageStatusSettings" class="col">
                    {% include '@NetworkingInitCms/PageAdmin/page_status_settings.html.twig' %}
                </div>
            </div>
            <div class="col-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#page_content">Page Content</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#meta_settings">SEO and Meta settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#page_settings">Page settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#translations">Translations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu">Menus</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="page_content" role="tabpanel">
                        {% include '@NetworkingInitCms/PageAdmin/page_edit_layout_blocks.html.twig' %}
                    </div>
                    <div class="tab-pane" id="meta_settings" role="tabpanel">
                        {% include '@NetworkingInitCms/PageAdmin/meta_settings_fields.html.twig' %}
                    </div>
                    <div class="tab-pane" id="page_settings" role="tabpanel">
                        {% include '@NetworkingInitCms/PageAdmin/page_settings_fields.html.twig' %}
                    </div>
                    {% if admin.translationLanguages.count() %}
                        <div class="tab-pane" id="translations" role="tabpanel">
                            {% include '@NetworkingInitCms/PageAdmin/page_translation_settings.html.twig' %}
                        </div>
                    {% endif %}
                    <div class="tab-pane" id="menu" role="tabpanel">
                        {% include '@NetworkingInitCms/PageAdmin/page_menu_settings.html.twig' %}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-7" style="min-height: 100vh">
        <iframe id="pagePreview" width="100%" height="100%"
                src="{{ path('networking_init_cms_page_preview', {'page': object.id}) }}"></iframe>
    </div>
</div>
    <!-- end modal page form -->
    {% jsblock 'addToBottom' %}
    {% include '@NetworkingInitCms/PageAdmin/page_edit_form_script.html.twig' with {'admin': admin, 'id': admin.id(object)} %}
    {% include '@NetworkingInitCms/PageAdmin/page_translation_script.html.twig' with {'admin': admin} %}
    {% include '@NetworkingInitCms/PageAdmin/page_status_script.html.twig' with {'admin': admin} %}
    {% jsblock 'addToBottomEnd' %}
{% endblock %}
