{% if app.user is defined %}
    {% include '@NetworkingInitCms/Admin/toolbar_css.html.twig' %}
     <div class="navbar-initcms">
            <nav class="tw-absolute tw-inset-x-0 tw-top-0 tw-p-2 tw-bg-black tw-text-white" aria-label="Third navbar example">
                <div class="tw-flex tw-flex-row tw-items-center tw-justify-between tw-container tw-mx-auto">
                    <a class="navbar-brand" href="{{ url('sonata_admin_dashboard') }}">
                                                <img id="initcms-logo" src="{{ asset('bundles/networkinginitcms/img/logo_initcms.png') }}"
                                                     width="77">
                    </a>
                    <div class="tw-grow">
                        <a class="nav-link" href="{{ url('sonata_admin_dashboard') }}">
                            {{ sonata_config.title }}
                        </a>
                    </div>
                    <div class="tw-text-white">
                        {% if sonata_config is defined %}
                            {{ knp_menu_render('FrontendAdminMenu',{
                                'template': '@NetworkingInitCms/Admin/esi-admin-menu.html.twig',
                                'currentClass': 'active',
                                'ancestorClass': 'active',
                                'branch_class': 'tw-inline-block tw-text-white dropdown',
                                'leaf_class': 'tw-inline-block tw-text-white tw-p-1',
                                'allow_safe_labels': true}) }}
                        {% endif %}
                    </div>
                </div>
            </nav>
     </div>

{% endif %}
