{% extends 'knp_menu.html.twig' %}

{#<!--begin::Menu-->#}

{#    <!--begin::Menu item-->#}
{#    <div class="menu-item px-3 my-0">#}
{#        <a href="#" class="menu-link px-3 py-2" data-kt-element="mode" data-kt-value="light">#}
{#                                    <span class="menu-icon" data-kt-element="icon">#}
{#                                        <i class="ki-outline ki-night-day fs-2"></i>            </span>#}
{#            <span class="menu-title">#}
{#                                        Light#}
{#                                    </span>#}
{#        </a>#}
{#    </div>#}
{#    <!--end::Menu item-->#}
{#    <!--begin::Menu item-->#}
{#    <div class="menu-item px-3 my-0">#}
{#        <a href="#" class="menu-link px-3 py-2" data-kt-element="mode" data-kt-value="dark">#}
{#                                    <span class="menu-icon" data-kt-element="icon">#}
{#                                        <i class="ki-outline ki-moon fs-2"></i>            </span>#}
{#            <span class="menu-title">#}
{#                                        Dark#}
{#                                    </span>#}
{#        </a>#}
{#    </div>#}
{#    <!--end::Menu item-->#}
{#    <!--begin::Menu item-->#}
{#    <div class="menu-item px-3 my-0">#}
{#        <a href="#" class="menu-link px-3 py-2" data-kt-element="mode" data-kt-value="system">#}
{#                                    <span class="menu-icon" data-kt-element="icon">#}
{#                                        <i class="ki-outline ki-screen fs-2"></i>            </span>#}
{#            <span class="menu-title">#}
{#                                        System#}
{#                                    </span>#}
{#        </a>#}
{#    </div>#}
{#    <!--end::Menu item-->#}

{#<!--end::Menu-->#}
{% block root %}
    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-title-gray-700 menu-icon-gray-500 menu-active-bg menu-state-color fw-semibold py-4 fs-base w-auto"
         data-kt-menu="true">
    {{ block('list') -}}
    </div>
{% endblock %}

{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
            {{ block('children') }}
    {% endif %}
{% endblock %}

{% block item %}
    {% if item.displayed %}
        {# displaying the item #}
        {% import _self as knp_menu %}
        <div class="menu-item px-3 my-0">
            {{ block('linkElement') }}
        </div>
    {% endif %}
{% endblock %}

{% block linkElement %}{% import _self as knp_menu %}
<a href="{{ item.uri }}" {{ knp_menu.attributes(item.linkAttributes) }} class="menu-link px-3 py-2" >
    {% set color = item.extra('color') %}
    {% set icon = item.extra('icon', false) %}
    {% if icon %}
        <span class="menu-icon" data-kt-element="icon">
                <i class="{{ icon }} fs-2"></i>            </span>
    {% endif %}
    <span class="menu-title {{ color }}">{{ block('label') }}</span>
</a>
{% endblock %}

{% block label %}
    {% set translation_domain = item.extra('translation_domain', 'messages') %}
    {% if options.allow_safe_labels and item.getExtra('safe_label', false) %}
        {{ item.label|raw }}
    {% else %}
        {{ item.label|trans({}, translation_domain|default('messages')) }}
    {% endif %}
{% endblock %}