{% block user_block %}
    {% if app.user %}
        {% set locale = app.request.session.get('admin/_locale') %}
        <ul class="{% if app.request.isXmlHttpRequest %}init{% endif %}nav navbar-nav ml-2">
            <li class="nav-item dropdown">
                <a id="userDropDown" href="#" role="button" class="nav-link dropdown-toggle"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i> {{ app.user }} </a>
                <div class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="userDropDown">
                    <a class="dropdown-item" tabindex="-1"
                           href="{{ url('admin_networking_initcms_user_edit', {id: app.user.id}) }}">{{ 'label.account_settings'|trans({}, 'PageAdmin', locale) }}</a>
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') and sonata_user.impersonating %}
                    <a class="dropdown-item" href="{{ url(sonata_user.impersonating.route, sonata_user.impersonating.parameters| merge({'_switch_user': '_exit'})) }}">
                        ({{ 'label.exit'|trans({}, 'PageAdmin', locale) }})</a>
                    {% endif %}
                    <a class="dropdown-item" href="{{ url('networking_init_cms_admin_security_logout') }}">{{ 'user_block_logout'|trans({}, 'SonataUserBundle', locale) }}</a>
                </div>
            </li>
        </ul>
    {% endif %}
{% endblock %}
