{% block admin_style %}
    {% if app.user is defined %}
        {% if is_granted('ROLE_SONATA_ADMIN') %}
            {# Override this block to add your own files! #}
            {% stylesheets filter='less,?yui_css'
            '@NetworkingInitCmsBundle/Resources/public/less/admin-navbar.less' %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
            {% endstylesheets %}
        {% endif %}
    {% endif %}
{% endblock admin_style %}


{% block admin_navbar %}
    {% if app.user is defined %}
        {% if is_granted('ROLE_SONATA_ADMIN') %}
            <div class="navbar navbar-fixed-top navbar-initcms navbar-inverse">
                <div class="navbar-inner">
                    <div class="container">
                        <div class="row">
                            <div class="span2">
                                <a href="{{ url('sonata_admin_dashboard') }}" class="pull-left">
                                    <img src="{{ asset('bundles/networkinginitcms/img/logo_initcms.png') }}" width="77">
                                </a>
                            </div>
                            <div class="span6">
                                {% if admin_pool is defined %}
                                    <a href="{{ url('sonata_admin_dashboard') }}" class="brand">
                                        {#<img src="{{ asset(admin_pool.titlelogo) }}"  alt="{{ admin_pool.title }}" />#}
                                        {{ admin_pool.title }}
                                    </a>
                                    {% include admin_pool.getTemplate('user_block') %}
                                {% endif %}
                            </div>
                            <div class="span4">
                                {% if admin_pool is defined %}
                                    {{ mopa_bootstrap_navbar('viewStatusMenuBlock') }}
                                    {#{{ mopa_bootstrap_navbar('adminLangNavbar') }}#}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}