<div class="navbar navbar-fixed-top navbar-initcms navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <div class="row">
                <div class="span2">
                    <a href="{{ url('sonata_admin_dashboard') }}" class="pull-left">
                        <img src="{{ asset('bundles/networkinginitcms/img/logo_initcms.png') }}" width="77">
                    </a>
                </div>
                <div class="span5">
                    {% if admin_pool is defined %}
                        <a href="{{ url('sonata_admin_dashboard') }}" class="brand">
                            {#<img src="{{ asset(admin_pool.titlelogo) }}"  alt="{{ admin_pool.title }}" />#}
                            {{ admin_pool.title }}
                        </a>
                        {% include admin_pool.getTemplate('user_block') %}
                    {% endif %}
                </div>
                <div class="span5">
                    <div class="pull-right">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                    </div>
                    <div class="pull-right nav-admin">
                        {% if admin_pool is defined %}
                            {{ knp_menu_render('AdminMenu',
                            {'currentClass': 'active',
                            'ancestorClass': 'active',
                            'allow_safe_labels': true
                            }) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>