{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% block navbar %}
    <div class="navbar {{ (navbar.hasOption('fixedTop') and  navbar.getOption('fixedTop')) ? 'navbar-fixed-top' : '' }}">
        {% if 'user' in options|keys %}
            {% if is_granted('ROLE_SONATA_ADMIN') %}
            <div class=" navbar-inverse">
                <div class="navbar-inner">
                    <div class="container{{ (navbar.hasOption('isFluid') and navbar.getOption('isFluid')) ? '-fluid' : '' }}">
                        {{ navbar.getMenu('status_menu') ? knp_menu_render(navbar.getMenu('status_menu'), {  'currentClass': 'active', 'ancestorClass': 'active', 'allow_safe_labels': true}): '' }}
                    </div>
                </div>
            </div>
            {% endif %}
        {% endif %}
        <div class="navbar-inner">
            <div class="container{{ (navbar.hasOption('isFluid') and navbar.getOption('isFluid')) ? '-fluid' : '' }}">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                {% if navbar.hasOption('title') %}<a class="brand"
                                                     href="{{ path(navbar.getOption('titleRoute')) }}">{{ navbar.getOption('title') }}</a>{% endif %}
                <div class="nav-collapse">
                    {{ navbar.hasMenu('pageMenu') ? knp_menu_render(navbar.getMenu('pageMenu'), {'depth':1, 'currentClass': 'active', 'ancestorClass': 'active', 'allow_safe_labels': 'true'}) : '' }}
                    {% if navbar.hasFormView('searchform') %}
                        {%- set form_view = navbar.getFormView('searchform') -%}
                        {%- set form_type = navbar.getFormType('searchform') -%}
                        {%- set form_attrs = form_view.vars.attr -%}
                        {% form_theme form_view _self %}
                        <form class="navbar-search pull-{{ form_attrs.pull|default('left') }}"
                              method="{{ form_attrs.method|default('post') }}"
                              action="{{ path(navbar.getFormRoute('searchform')) }}">
                            {{ form_widget(form_view) }}
                        </form>
                    {% endif %}
                    {{ navbar.hasMenu('langMenu') ? knp_menu_render(navbar.getMenu('langMenu'), {'currentClass': 'active', 'ancestorClass': '', 'allow_safe_labels': 'true'}) : '' }}
                    {{ navbar.hasMenu('cmsMenu') ? knp_menu_render(navbar.getMenu('cmsMenu'), {'currentClass': 'active', 'allow_safe_labels': 'true'}) : '' }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

