{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'NetworkingInitCmsBundle::empty_layout.html.twig' %}

{% set ckParameters = {'CKEditor': app.request.get('CKEditor'), 'CKEditorFuncNum': app.request.get('CKEditorFuncNum')} %}
{% set active_tab = app.request.get('context') %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $(".select").click(function (e) {
                e.preventDefault();
                window.opener.CKEDITOR.tools.callFunction({{ app.request.get('CKEditorFuncNum')|escape('js') }}, $(this).attr("href"));
                window.close();
            });
        });
    </script>
{% endblock %}


{% block preview %}{% endblock %}
{% block page_title %}
    <h1>{{ 'title.select_media'|trans({}, 'MediaAdmin')|replace({'%span%': '<span class="info-soft">', '%span/%': "</span>"})|raw }}</h1>{% endblock %}
{% block container_class %}mini-container container{% endblock %}
{% block list_table %}
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="row">
                <div class="col-md-12">
                    {# provider #}
                    {% set providers = media_pool.getProviderNamesByContext(persistent_parameters.context) %}
                    <div class="clearfix">&nbsp;</div>
                    <ul class="nav nav-pills">
                        {% if providers|length > 1 %}
                            <li>
                                <a><strong>{{ "label.select_provider"|trans({}, 'MediaAdmin') }}</strong></a>
                            </li>

                            {% if not persistent_parameters.provider %}
                                <li class="active"><a
                                            href="{{ admin.generateUrl('init_ckeditor_browser', {'context': persistent_parameters.context, 'provider': null, 'active_tab' : persistent_parameters.context}|merge(ckParameters)) }}">{{ "link.all_providers"|trans({}, 'MediaAdmin') }}</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ admin.generateUrl('init_ckeditor_browser', {'context': persistent_parameters.context, 'provider': null, 'active_tab' : persistent_parameters.context}|merge(ckParameters)) }}">{{ "link.all_providers"|trans({}, 'MediaAdmin') }}</a>
                                </li>
                            {% endif %}

                            {% for provider_name in providers %}
                                {% if persistent_parameters.provider == provider_name %}
                                    <li class="active"><a
                                                href="{{ admin.generateUrl('init_ckeditor_browser', {'context': persistent_parameters.context, 'provider': provider_name, 'active_tab' : persistent_parameters.context}|merge(ckParameters)) }}">{{ provider_name|trans({}) }}</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{{ admin.generateUrl('init_ckeditor_browser', {'context': persistent_parameters.context, 'provider': provider_name, 'active_tab' : persistent_parameters.context}|merge(ckParameters)) }}">{{ provider_name|trans({}) }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>

                    {% if datagrid.results|length > 0 %}
                        <table class="table table-hover table-compact">
                            {% block table_header %}
                                <thead>
                                <tr class="sonata-ba-list-field-header">
                                    {% for field_description in admin.list.elements %}
                                        {% if field_description.getOption('code') == '_batch' or field_description.name == '_action' %}
                                            {# Disable batch and actions #}
                                        {% else %}
                                            {% set sortable = false %}
                                            {% if field_description.options.sortable is defined and field_description.options.sortable %}
                                                {% set sortable             = true %}
                                                {% set current              =  datagrid.values._sort_by == field_description %}
                                                {% set sort_parameters      = admin.modelmanager.sortparameters(field_description,  datagrid)|merge(ckParameters) %}
                                                {% set sort_active_class    = current ? 'sonata-ba-list-field-order-active' : '' %}
                                                {% set sort_by              = current ?  datagrid.values._sort_order : field_description.options._sort_order %}
                                            {% endif %}

                                            {% spaceless %}
                                                <th class="sonata-ba-list-field-header-{{ field_description.type }} {% if sortable %} sonata-ba-list-field-header-order-{{ sort_by|lower }} {{ sort_active_class }}{% endif %}">
                                                    {% if sortable %}<a
                                                            href="{{ admin.generateUrl('init_ckeditor_browser', sort_parameters) }}">{% endif %}
                                                        {{ admin.trans(field_description.label) }}
                                                        {% if sortable %}</a>{% endif %}
                                                </th>
                                            {% endspaceless %}
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                </thead>
                            {% endblock %}

                            {% block table_body %}
                                <tbody>
                                {% for object in datagrid.results %}
                                    <tr>
                                        <td colspan="{{ (admin.list.elements|length) - 1 }}">
                                            <div>
                                                {% if object.width %}
                                                    <a href="{% path object, 'reference' %}" class="select"
                                                       style="float: left; margin-right: 6px;">
                                                        {% thumbnail object, 'admin' with {'width': 75, 'height': 60} %}</a>
                                                {% endif %}
                                                <strong><a href="{{ path('networking_init_cms_file_download', {'id': object.id, 'name': object.getMetadataValue('filename')}) }}"
                                                           class="select">{{ object.name }}</a></strong> <br/>
                                                {{ object.providerName|trans({}, 'SonataMediaBundle') }}{% if object.width %}: {{ object.width }}{% if object.height %}x{{ object.height }}{% endif %}px{% endif %}
                                                <br/>
                                                {% if formats[object.id]|length > 0 %}
                                                    {% if object.width %}
                                                        - {{ 'title.formats'|trans({}, 'SonataMediaBundle') }}:
                                                        {% for name, format in formats[object.id] %}
                                                            <a href="{% path object, name %}"
                                                               class="select">{{ name }}</a> {% if format.width %}({{ format.width }}{% if format.height %}x{{ format.height }}{% endif %}px){% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endif %}
                                                <br/>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            {% endblock %}

                            {% block table_footer %}

                                <tr>
                                    <th>
                                        <div class="form-inline">
                                            <div class="pull-right">
                                                {% transchoice datagrid.pager.nbresults with {'%count%': datagrid.pager.nbresults} from 'SonataAdminBundle' %}
                                                list_results_count{% endtranschoice %}
                                                {% block max_per_page %}
                                                    <label class="control-label"
                                                           for="{{ admin.uniqid }}_per_page">{% trans from 'SonataAdminBundle' %}
                                                        label_per_page{% endtrans %}</label>
                                                    <select class="per-page small" id="{{ admin.uniqid }}_per_page"
                                                            style="width: auto; height: auto">
                                                        {% for per_page in admin.getperpageoptions %}
                                                            <option {% if per_page ==datagrid.pager.maxperpage %}selected="selected"{% endif %}
                                                                    value="{{ admin.generateUrl('init_ckeditor_browser', {'filter':datagrid.values|merge({'_per_page': per_page})}|merge(ckParameters)) }}">
                                                                {{ per_page }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                {% endblock %}
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            {% endblock %}
                        </table>
                        {% if datagrid.pager.haveToPaginate() %}

                            <div class="row">
                                <div class="col-xs-1">
                                    <div class="clearfix">&nbsp;</div>
                                    {{ datagrid.pager.page }} / {{ datagrid.pager.lastpage }}</div>
                                <div class="col-xs-10 text-center">
                                    <ul class="pagination pagination-sm">

                                        {% if datagrid.pager.page != 1 %}
                                            <li>
                                                <a href="{{ admin.generateUrl('init_ckeditor_browser', admin.modelmanager.paginationparameters( datagrid, 1)|merge(ckParameters)) }}"
                                                   title="{{ 'link_first_pager'|trans({}, 'SonataAdminBundle') }}">&laquo;</a>
                                            </li>
                                        {% endif %}

                                        {% if datagrid.pager.page != datagrid.pager.previouspage %}
                                            <li>
                                                <a href="{{ admin.generateUrl('init_ckeditor_browser', admin.modelmanager.paginationparameters(  datagrid, datagrid.pager.previouspage)|merge(ckParameters)) }}"
                                                   title="{{ 'link_previous_pager'|trans({}, 'SonataAdminBundle') }}">&lsaquo;</a>
                                            </li>
                                        {% endif %}

                                        {# Set the number of pages to display in the pager #}
                                        {% for page in datagrid.pager.getLinks() %}
                                            {% if page == datagrid.pager.page %}
                                                <li class="active"><a
                                                            href="{{ admin.generateUrl('init_ckeditor_browser', admin.modelmanager.paginationparameters(  datagrid, page)|merge(ckParameters)) }}">{{ page }}</a>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <a href="{{ admin.generateUrl('init_ckeditor_browser', admin.modelmanager.paginationparameters(  datagrid, page)|merge(ckParameters)) }}">{{ page }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if datagrid.pager.page != datagrid.pager.nextpage %}
                                            <li>
                                                <a href="{{ admin.generateUrl('init_ckeditor_browser', admin.modelmanager.paginationparameters(  datagrid, datagrid.pager.nextpage)|merge(ckParameters)) }}"
                                                   title="{{ 'link_next_pager'|trans({}, 'SonataAdminBundle') }}">&rsaquo;</a>
                                            </li>
                                        {% endif %}

                                        {% if datagrid.pager.page != datagrid.pager.lastpage %}
                                            <li>
                                                <a href="{{ admin.generateUrl('init_ckeditor_browser', admin.modelmanager.paginationparameters(  datagrid, datagrid.pager.lastpage)|merge(ckParameters)) }}"
                                                   title="{{ 'link_last_pager'|trans({}, 'SonataAdminBundle') }}">&raquo;</a>
                                            </li>
                                        {% endif %}

                                    </ul>
                                </div>
                            </div>

                        {% endif %}
                    {% else %}
                        <p class="notice">
                            {{ 'no_result'|trans({}, 'NetworkingInitCmsBundle') }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block list_filters %}
    {% set name = persistent_parameters.context ? persistent_parameters.context: 'default' %}
    {% if datagrid.filters %}
        <form action="{{ admin.generateUrl('init_ckeditor_browser') }}" method="GET"
              class="sonata-filter-form {{ admin.isChild and 1 == datagrid.filters|length ? 'hide' : '' }}form-horizontal filters menu-filter">

            <input type="hidden" name="context" value="{{ persistent_parameters.context }}"/>
            {% if persistent_parameters.provider is defined %}
                <input type="hidden" name="provider" value="{{ persistent_parameters.provider }}"/>
            {% endif %}
            <input type="hidden" name="active_tab" value="{{ name }}"/>

            {% set filter_main = '' %}
            {% set filter_hidden = '' %}
            {% for filter in datagrid.filters if (filter.options.field_type != 'hidden' ) %}
                {% if filter.options.hidden is not defined  or (filter.options.hidden == false) %}
                    {% set filter_main %}
                    {{ filter_main }}
                    <div class="form-group">
                        <label class="control-label col-md-3 filter {{ filter.isActive ? 'active' : 'inactive' }}"> {{ admin.trans(filter.label) }}</label>

                        <div class="form-inline col-md-9">
                            {{ form_widget(form.children[filter.formName].children['type'], {'attr':{'class': 'input-medium sonata-filter-option' }}
                            ) }}
                            {{ form_widget(form.children[filter.formName].children['value'], {'attr':{'class': 'input-medium' }}
                            ) }}
                        </div>
                    </div>
                    {% endset %}
                {% else %}
                    {% set filter_hidden %}
                    {{ filter_hidden }}
                    <div class="form-group">
                        <label class="control-label col-md-3 filter {{ filter.isActive ? 'active' : 'inactive' }}"> {{ admin.trans(filter.label) }}</label>

                        <div class="form-inline col-md-9">
                            {{ form_widget(form.children[filter.formName].children['type'], {'attr':{'class': 'input-medium sonata-filter-option' }}
                            ) }}
                            {{ form_widget(form.children[filter.formName].children['value'], {'attr':{'class': 'input-medium' }}
                            ) }}
                        </div>
                    </div>
                    {% endset %}
                {% endif %}
            {% endfor %}

            {#<strong>{{ 'label_filters'|trans({}, admin.translationDomain) }}</strong>#}
            {% set label = admin.label|trans({}, admin.translationDomain) %}
            <div>
                <div class="pull-left ">
                    <fieldset class="filter_legend">
                        <p class="info-soft">{{ 'info.filter'|trans({'%admin_label%':label }, 'NetworkingInitCmsBundle') }}</p>

                        <div class="filter_container row">
                            <div class="col-md-12">
                                {{ filter_main }}
                                <input type="hidden" name="filter[_page]" id="filter__page" value="1"/>
                                {% set foo = form.children['_page'].setRendered() %}
                                <div id="hidden_filters" class="collapse">
                                    {% for paramKey, paramValue in admin.persistentParameters %}
                                        <input type="hidden" name="{{ paramKey }}" value="{{ paramValue }}"/>
                                    {% endfor %}
                                    {% if filter_hidden != '' %}
                                        {# add div with hidden / show function #}
                                        {{ filter_hidden }}
                                    {% endif %}
                                    {% set foo = form.children['_page'].setRendered() %}
                                </div>
                                <div>
                                    <input type="submit" class="btn btn-sm"
                                           value="{{ 'btn_filter'|trans({}, 'NetworkingInitCmsBundle') }}"/>
                                    <a href="{{ admin.generateUrl('init_ckeditor_browser', {filters: 'reset'}|merge(ckParameters)) }}"
                                       class="link-underlined">
                                        {{ 'link_reset_filter'|trans({'%admin_label%': admin.label}, 'NetworkingInitCmsBundle') }}</a>
                                    {{ form_rest(form) }}
                                    {% if filter_hidden %}
                                        <span data-toggle="collapse" data-target="#hidden_filters" id="filter_toggle"
                                              class="filter-close cursor-pointer">
                                                {{ 'link.show_more_filters'|trans({}, 'NetworkingInitCmsBundle') }}
                                            </span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% for paramKey, paramValue in admin.persistentParameters|merge(ckParameters) %}
                            <input type="hidden" name="{{ paramKey }}" value="{{ paramValue }}"/>
                        {% endfor %}
                    </fieldset>
                </div>
                <div class="clearfix">&nbsp;</div>
            </div>
        </form>
    {% endif %}
    <ul class="nav menu-tabs nav-tabs">
        {% for name, context in media_pool.contexts %}

            {% if context.providers|length == 0 %}
                {% set urlParams = {'context' : name}|merge(ckParameters) %}
            {% else %}
                {% set urlParams = {'context' : name, 'provider' : context.providers[0]}|merge(ckParameters) %}
            {% endif %}

            {% if name == persistent_parameters.context %}
                <li class="active"><a
                            href="{{ admin.generateUrl('init_ckeditor_browser', urlParams) }}">{{ ('media_context.' ~ name)|trans({}) }}</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ admin.generateUrl('init_ckeditor_browser', urlParams) }}">{{ ('media_context.' ~ name)|trans({}) }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
