{% macro lightbox(gallery, relName, largeFormat, thumbFormat, shownName ) %}
    <ul class="list-inline">
        {% for galleryMedia in gallery.galleryItems %}
        <li class="list-inline-item">
            <a href="{{ sonata_path(galleryMedia.media, (largeFormat|default('reference')))  }}"
               data-toggle="lightbox"
               class="light-box-items"
               data-gallery="gallery_{{ relName }}">
                    {{ sonata_thumbnail(galleryMedia.media, thumbFormat|default(gallery.defaultFormat)) }}
                </a>
                {% if  galleryMedia.media.name is defined and shownName|default(false) %}
                    <h5>{{ galleryMedia.media.name }}</h5>
                {% endif %}
                {% if  galleryMedia.media.description is defined and shownName|default(false) %}
                    <p>{{ galleryMedia.media.description }}</p>
                {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro carousel(gallery, id, transition, format, height ) %}
    <div id="{{ id|default('carousel') }}" class="carousel {{ transition|default('slide') }}" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for galleryMedia in gallery.galleryItems %}
                <button type="button" data-bs-target="#{{ id|default('carousel') }}" {% if loop.first %}class="active" aria-current="true"{% endif %} data-bs-slide-to="{{ loop.index -1 }}" ari-label="Slide {{ loop.index }}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner ratio ratio-16x9">
            {% for galleryMedia in gallery.galleryItems %}
            <div class="carousel-item {% if loop.first %}active {% endif %}">
                {{ sonata_media( galleryMedia.media, format|default(gallery.defaultFormat),
                    { 'class': 'd-block w-100'}) }}

                <div class="carousel-caption d-none d-md-block">
                    {% if  mediaItem.media.name is defined %}
                        <h5>{{ mediaItem.media.name }}</h5>
                    {% endif %}
                    {% if  mediaItem.media.description is defined %}
                        <p>{{ mediaItem.media.description }}</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#{{ id|default('carousel') }}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#{{ id|default('carousel') }}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
{% endmacro %}

{% macro admin_lightbox(gallery) %}
    <div class="row">
        {% import _self as macro %}
        {{ macro.lightbox(gallery, 'gallery_'~gallery.id,  'reference', 'admin') }}
    </div>
{% endmacro %}

{% macro admin_carousel(gallery ) %}
    <div class="row">
        {% import _self as macro %}
        {{ macro.carousel(gallery, 'carousel', 'slide', 'reference') }}
    </div>
{% endmacro %}

{% macro admin_list(gallery ) %}
    <div>
        <ul class="thumbnails">
            {% for galleryMedia in gallery.galleryItems %}
                <li>
                    <div class="thumbnail">
                        {{ sonata_media(galleryMedia.media, 'admin') }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}