<div class="navbar navbar-fixed-top navbar-initcms navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
                <div class="navbar-header pull-left">
                    {% block toggle %}
                        <button type="button" class="navbar-toggle" id="toggleNav">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    {% endblock %}
                    <a href="{{ url('sonata_admin_dashboard') }}" class="hidden-sm hidden-xs pull-left">
                        <img  id="initcms-logo" src="{{ sonata_config.logo ? sonata_config.logo : asset('bundles/networkinginitcms/img/logo_initcms.png') }}" alt="{{ sonata_config.title }}" width="77">
                    </a>
                    <a href="{{ url('sonata_admin_dashboard') }}" class="hidden-xs brand">
                        {{ sonata_config.title }}
                    </a>
                </div>

                <div class="pull-right">
                        {% if sonata_config is defined %}
                            {% include get_global_template('user_block') %}
                        {% endif %}
                        {% if sonata_config is defined %}
                            {{ networking_bootstrap_menu('AdminMenu') }}
                        {% endif %}
                </div>
            </div>
    </div>
</div>