{% block page_settings %}
    {% if not form.vars.valid %}
        {% spaceless %}
            {% if form.vars.errors|length > 0 %}
                <div class="sonata-ba-form-error {% if app.request.isxmlhttprequest %}alert alert-error{% endif %}">
                    {{ form_errors(form) }}
                </div>
            {% endif %}
            {% set form_group = admin.formgroups.page_settings %}
            {% for field_name in form_group.fields %}
                {% if admin.formfielddescriptions[field_name] is defined %}
                    {{ form_row(form[field_name], {'horizontal': true}) }}
                {% endif %}
            {% endfor %}
            {% set form_group = admin.formgroups.meta_settings %}
            <fieldset {% if form_group.collapsed %}class="sonata-ba-fieldset-collapsed"{% endif %}>
                <legend{% if form_group.description != false %} class="sonata-ba-fieldset-collapsed-description"{% endif %}>
                    {% if form_group.collapsed %}
                        <a class="sonata-ba-collapsed" data-toggle="collapse"
                           data-target="#nav-collapse-meta"
                           title="{{ 'link_expand'|trans({}, 'SonataAdminBundle') }}">{{ 'meta_settings'|trans({}, admin.translationDomain) }}</a>
                    {% else %}
                        {{ 'meta_settings'|trans({}, admin.translationDomain) }}
                    {% endif %}
                </legend>

                <div {% if form_group.collapsed %}class="collapse in" id="nav-collapse-meta"{% endif %}>

                    {% for field_name in form_group.fields %}
                        {% if admin.formfielddescriptions[field_name] is defined %}
                            {{ form_row(form[field_name], {'horizontal': true}) }}
                        {% endif %}
                    {% endfor %}
                </div>
            </fieldset>
            <!-- end modal page form -->
        {% endspaceless %}
    {% else %}
        <div id="pageStatusSettings">
            {% include 'NetworkingInitCmsBundle:PageAdmin:page_status_settings.html.twig' %}
        </div>
        <div id="pageSettings">
            {% include 'NetworkingInitCmsBundle:PageAdmin:page_settings_fields.html.twig' %}
        </div>
    {% endif %}
{% endblock page_settings %}