{% block form %}
    {% set url = admin.id(object) ? 'edit' : 'create' %}

    {% if not admin.hasRoute(url) %}
        <div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
        </div>
    {% else %}
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="form-horizontal"
                      action="{{ admin.generateUrl(url, {'id': admin.id(object), 'uniqid': uniqid, 'classType': classType, 'elementId': elementId, 'code': code, 'objectId': objectId}) }}" {{ form_enctype(form) }}
                      method="POST">


                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4>{{ 'title.edit_content'|trans({}, 'PageAdmin') }}
                            - {{ render_content_type_name(object) }}</h4>
                    </div>
                    <div class="modal-body">


                        {% if form.vars.errors|length > 0 %}
                            <div class="sonata-ba-form-error control-group error {% if app.request.isxmlhttprequest %}alert alert-error{% endif %}">
                                {{ form_errors(form) }}
                            </div>
                        {% endif %}

                        {% block sonata_pre_fieldsets %}{% endblock %}

                        {% for name, form_group in admin.formgroups %}
                            <fieldset {% if form_group.collapsed %}class="sonata-ba-fieldset-collapsed"{% endif %}>
                                {% if admin.formgroups|length > 1 and name != admin.label %}
                                    <legend{% if form_group.description != false %} class="sonata-ba-fieldset-collapsed-description"{% endif %}>
                                        {% if form_group.collapsed %}
                                            <a class="sonata-ba-collapsed" data-toggle="collapse"
                                               data-target="#{{ admin.uniqid }}_{{ loop.index }}"
                                               title="{{ 'link_expand'|trans({}, 'SonataAdminBundle') }}">{{ name|trans({}, admin.translationDomain) }}</a>
                                        {% else %}
                                            {{ name|trans({}, admin.translationDomain) }}
                                        {% endif %}
                                    </legend>
                                {% endif %}

                                <div class="{% if form_group.collapsed %}sonata-ba-collapsed-fields collapse{% endif %}"
                                     id="{{ admin.uniqid }}_{{ loop.index }}">

                                    {% for field_name in form_group.fields %}
                                        {% if admin.formfielddescriptions[field_name] is defined %}
                                            {{ form_widget(form[field_name]) }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </fieldset>
                        {% endfor %}

                        {% block sonata_post_fieldsets %}{% endblock %}
                        {{ form_rest(form) }}

                    </div>

                    {% block formactions %}
                        {% set admin_label = admin.getLabel()|trans({}, admin.translationDomain) %}
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal"
                                    aria-hidden="true">{{ 'button.cancel'|trans({'%admin_label%': admin_label}, 'PageAdmin') }}</button>
                            {% if admin.id(object) %}
                                <button class="btn btn-primary"
                                        name="btn_update">{{ 'btn_update'|trans({'%admin_label%': admin_label}, 'NetworkingInitCmsBundle') }}</button>
                            {% else %}
                                <button class="btn btn-primary"
                                        name="btn_update">{{ 'btn_create'|trans({'%admin_label%': admin_label}, 'NetworkingInitCmsBundle') }}</button>
                            {% endif %}
                        </div>
                    {% endblock formactions %}
                </form>
            </div>
        </div>
    {% endif %}

{% endblock %}