{% block form %}
    {% if not admin.hasRoute('create') %}
        <div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
        </div>
    {% else %}
        <div class="span7">
            <form class="form-vertical"
                  action="{{ admin.generateUrl('create', {'id': admin.id(object), 'uniqid': admin.uniqid, 'locale': app.request.get('locale'), 'subclass': app.request.get('subclass')}) }}" {{ form_enctype(form) }}
                  method="POST">
                {% if form.vars.errors|length > 0 %}
                    <div class="sonata-ba-form-error">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}

                {% block sonata_pre_fieldsets %}{% endblock %}

                {{ form_rest(form) }}

                {% set form_group = admin.formgroups.page_settings %}
                {% for field_name in form_group.fields %}
                    {% if admin.formfielddescriptions[field_name] is defined %}
                        {{ form_row(form[field_name]) }}
                    {% endif %}
                {% endfor %}



                {% block sonata_post_fieldsets %}{% endblock %}

                <!-- start modal page form -->

                <!-- end modal page form -->
                {% block formactions %}
                    <div class="well form-actions">

                                <input class="btn btn-primary" type="submit" name="btn_create_and_edit"
                                       value="{{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}"/>

                    </div>
                {% endblock formactions %}
            </form>
        </div>
        {% jsblock 'addToBottom' %}
        {% include 'NetworkingInitCmsBundle:PageAdmin:page_create_form_script.html.twig' with {'admin': admin} %}
        {% jsblock 'addToBottomEnd' %}


    {% endif %}
{% endblock %}
