{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% autoescape false %}
<script type="text/javascript">

    function start_save_page_settings(link) {
        link.onclick = null;

        // add the jQuery event to the a element
        jQuery(link)
                .click(update_page_settings)
                .trigger('click')
        ;
        return false;
    }

    var update_page_settings = function (event) {
        event.preventDefault();
        event.stopPropagation();
        var form = jQuery(this).closest('form');
        var url = form.action
        jQuery(form).ajaxSubmit({
            url:form.action,
            type:"POST",
            dataType:'json',
            data:{ _xml_http_request:true },
            success:function (xhr) {
                if (xhr.pageStatus != "{{ 'status_published'|trans({}, admin.translationDomain) }}") {
                    jQuery('.page_status').addClass('color-draft');
                } else {
                    jQuery('.page_status').removeClass('color-draft');
                }
                var pageSettings = jQuery(xhr.pageSettings).filter('#pageSettings').html();
                var pageStatus = jQuery(xhr.pageSettings).filter('#pageStatusSettings').html();

                jQuery('.page_status').html(xhr.pageStatus);
                jQuery('.page_title h1').html(xhr.title);
                jQuery('#pageSettings').html(pageSettings);
                jQuery('#pageStatusSettings').html(pageStatus);
                $('#pageSettingFields').modal('hide');
                updateLayoutBlocks(form, {});
                createInitCmsMessageBox(xhr.messageStatus, xhr.message);
            }
        });
    };

    (function ($) {



        $("#{{ admin.getUniqid }}_locale").live('change', function () {
            var locale = $(this).val();
            $.getJSON(
                    '{{ admin.generateUrl('parentPageList') }}',
                    {locale:locale},
                    function (data) {
                        var parentPages = $("#{{ admin.getUniqid }}_parent");
                        parentPages.empty();
                        parentPages.append($('<option></option>'));
                        $.each(data, function (k, v) {
                            if (v) {
                                parentPages.append($('<option></option>').val(k).html(v));
                            }
                        });
                    }
            )
        });

        $("#{{ admin.uniqid }}_parent").on("change", function (e) {
            var path = $('#{{ admin.uniqid }}_url').val();
            var pageId = e.val
            if (pageId == '') {
                $('#help_{{ admin.uniqid }}_url').html('/' + path);
            } else {
                if (pageId == undefined) {
                    pageId = $("#{{ admin.uniqid }}_parent").val();
                }
                $.getJSON(
                        '{{ admin.generateUrl('getPath') }}',
                        {'page_id':pageId},
                        function (xhr) {

                            $('#help_{{ admin.uniqid }}_url').html(xhr.path + path + '/');
                        }
                );
            }

        });

        $('#{{ admin.uniqid }}_url').bind('change', function () {
            $("#{{ admin.uniqid }}_parent").trigger('change');
        });

    })(jQuery);

</script>
{% endautoescape %}
