{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
<label>{{ 'label_change_status'|trans({}, admin.translationDomain)}}</label>
<div class="btn-group">
    {#<button type="submit" class="btn" onclick="return start_save_page_settings(this);">#}
    {#{{ 'button.apply'|trans({}, admin.translationdomain) }}</button>#}

    <a href="{{ admin.generateUrl('review', {id: object.id}) }}" class=" btn btn-mini {% if object.isReview() %}disabled{% endif %}" {% if object.isReview() %}onclick="return false"{% endif %}>
        {{ 'button.review'|trans({}, admin.translationdomain) }}
    </a>

        <a href="{{ admin.generateUrl('draft', {id: object.id}) }}" class="btn btn-mini {% if object.isDraft() %}disabled{% endif %}" {% if object.isDraft() %}onclick="return false"{% endif %}>
            {{ 'button.draft'|trans({}, admin.translationdomain) }}
        </a>


    {% if admin.isGranted('PUBLISH') %}
        <a href="{{ admin.generateUrl('publish', {id: object.id}) }}"
           class="btn btn-mini {% if object.isPublished() %}disabled{% endif %}"
           {% if object.isPublished() %}onclick="return false"{% endif %}>
            {{ 'button.publish'|trans({}, admin.translationdomain) }}
        </a>
    {% endif %}

</div>
<p>&nbsp;</p>
{% if not object.isPublished() and object.getSnapshot() %}
<a href="{{ admin.generateUrl('cancelDraft', {id: object.id}) }}" class="status-dialog-link">
        {{ 'link.revert_to_publish'|trans({}, admin.translationdomain) }}</a>
{% endif %}
<div class="modal hide fade" tabindex="-1" role="dialog" id="status_dialog">
</div>