{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% autoescape false %}
<script type="text/javascript">

    (function ($) {

        $("#{{ admin.getUniqid }}_locale").live('change', function () {
            var locale = $(this).val();
            $.getJSON(
                    '{{ admin.generateUrl('parentPageList') }}',
                    {locale:locale},
                    function (data) {
                        var parentPages = $("#{{ admin.getUniqid }}_parent");
                        parentPages.empty();
                        parentPages.append($('<option></option>'));
                        $.each(data, function (k, v) {
                            if (v) {
                                parentPages.append($('<option></option>').val(k).html(v));
                            }
                        });
                    }
            )
        });

        $("#{{ admin.uniqid }}_parent").on("change", function (e) {
            var path = $('#{{ admin.uniqid }}_url').val();
            var pageId = e.val
            if (pageId == '') {
                $('#help_{{ admin.uniqid }}_url').html('/' + path);
            } else {
                if (pageId == undefined) {
                    pageId = $("#{{ admin.uniqid }}_parent").val();
                }
                $.getJSON(
                        '{{ admin.generateUrl('getPath') }}',
                        {'page_id':pageId},
                        function (xhr) {

                            $('#help_{{ admin.uniqid }}_url').html(xhr.path + path + '/');
                        }
                );
            }

        });

        $('#{{ admin.uniqid }}_url').bind('change', function () {
            $("#{{ admin.uniqid }}_parent").trigger('change');
        });

    })(jQuery);
</script>
{% endautoescape %}
