{% extends base_template %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}


{% block title %}
        {{ "title_create"|trans({}, admin.translationDomain) }}
{% endblock %}

{% block top_actions %}
{% endblock %}

{% block actions %}
    <div class="sonata-actions">
        {% if admin.hasroute('show') and admin.id(object) and admin.isGranted('VIEW', object) and admin.show|length > 0 %}
            <a class="btn sonata-action-element"
               href="{{ admin.generateObjectUrl('show', object) }}">{{ 'link_action_show'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
        {% if admin.hasroute('history') and admin.id(object) and admin.isGranted('EDIT', object) %}
            <a class="btn sonata-action-element"
               href="{{ admin.generateObjectUrl('history', object) }}">{{ 'link_action_history'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
        {% include 'SonataAdminBundle:Core:create_button.html.twig' %}
        {% if admin.hasroute('list') and admin.isGranted('LIST') %}
            <a class="btn sonata-action-element"
               href="{{ admin.generateUrl('list') }}">{{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
        {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
            {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
            <a class="btn btn-danger"
               href="{{ admin.generateObjectUrl('delete', object) }}">{{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
    </div>
{% endblock %}


{% use 'NetworkingInitCmsBundle:PageAdmin:page_create_form.html.twig' with form as parentForm %}

{% block form %}
    {{ block('parentForm') }}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}
