{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% autoescape false %}
<!-- edit one association -->
<script type="text/javascript">
// handle the update bind
var field_update_{{ id }} = function (event) {
    event.preventDefault();
    event.stopPropagation();
    var data = {};
    var form = jQuery(this).closest('form');
    {% if init_cms_editor == 'ckeditor' %}
    jQuery.each(CKEDITOR.instances, function () {
        try {
            var editor = this;
            var data = editor.getData();
            if (data) {
                if (editor) {
                    editor.setData(data);
                    jQuery('#' + editor.name).html(data);
                }
            }
        } catch (err) {
        }
    });
    {% endif %}
    updateLayoutBlocks(form, data);

};

function updateLayoutBlocks(form, data) {


    var url = '{{ url('admin_networking_initcms_page_updateFormFieldElement', {
                            'code':      sonata_admin.admin.root.code,
                            'elementId': id,
                            'objectId':  sonata_admin.admin.root.id(sonata_admin.admin.root.subject),
                            'uniqid':    sonata_admin.admin.root.uniqid
                        } + sonata_admin.field_description.getOption('link_parameters', {})) }}';

    doAjaxSubmit(url, form, data);

}

// handle the add link
var field_add_{{ id }} = function (event) {

    event.preventDefault();
    event.stopPropagation();
    var addLink = event.target;
    jQuery('#contentTypeModal').modal('show');

    jQuery('#contentTypeModal').on('hidden', function (event) {
        if (jQuery(this).data('create')) {
            var classType = jQuery('#selectContentType').val();
            var liItem = jQuery(addLink).closest('li');
            var zone = liItem.find("[id$='_zone']").val();
            var sortOrder = liItem.find("[id$='_sortOrder']").val();
            sortOrder++;
            liItem.parent().find('li.networking-sortable-list input[id$="_sortOrder"]').each(function (index, value) {
                if (jQuery(value).val() >= sortOrder) {
                    var newSortOrder = jQuery(value).val() + 1;
                    jQuery(value).val(newSortOrder);
                }
            });

            var data = {zone:zone, sortOrder:sortOrder, classType:classType };
            var form = jQuery(addLink).closest('form');
            var url = '{{ url('admin_networking_initcms_page_addLayoutBlock', {
                                            'code':      sonata_admin.admin.root.code,
                                            'elementId': id,
                                            'objectId':  sonata_admin.admin.root.id(sonata_admin.admin.root.subject),
                                            'uniqid':    sonata_admin.admin.root.uniqid
                                        } + sonata_admin.field_description.getOption('link_parameters', {})) }}';
            doAjaxSubmit(url, form, data);
            jQuery('a', '#contentTypeModal').die('click');
            jQuery('form', '#contentTypeModal').die('submit');
        }
    });
};

function start_save_content{{ id }}(link) {
    link.onclick = null;

    // add the jQuery event to the a element
    jQuery(link)
            .click(field_update_{{ id }})
            .trigger('click')
    ;

    return false;
}

function doAjaxSubmit(url, form, data) {

    data['_xml_http_request'] = true;
    // the ajax post
    jQuery(form).ajaxSubmit({
        url:url,
        type:"POST",
        dataType:'html',
        data:data,
        success:function (html) {
            jQuery('#field_container_{{ id }}').replaceWith(html); // replace the html
            if (jQuery(form + 'input[type="file"]').length > 0) {
                jQuery(form).attr('enctype', 'multipart/form-data');
                jQuery(form).attr('encoding', 'multipart/form-data');
            }

            jQuery('#sonata-ba-field-container-{{ id }}').trigger('sonata.add_element');
            jQuery('#field_container_{{ id }}').trigger('sonata.add_element');

            jQuery(form).find('#zone_' + data.zone + ' .modal').each(function (i, value) {
                if (i + 1 == data.sortOrder) {
                    jQuery(value).on('shown', function () {
                        var left = ($(this).width()) / 2;
                        var top = ($(this).height() + 518) / 2;

                        jQuery(value).css('margin-top', '-' + top + 'px');
                        jQuery(value).css('margin-left', '-' + left + 'px');
                    });
                    jQuery(value).modal('show');

                }
            });
            saveLayoutBlockSort();
        }
    });
}

var field_widget_{{ id }} = false;

// this function initialize the popup
// this can be only done this way has popup can be cascaded
function start_field_retrieve_{{ id }}(link) {
    link.onclick = null;

    // initialize component
    field_widget_{{ id }} = jQuery("#field_widget_{{ id }}");

    // add the jQuery event to the a element
    jQuery(link)
            .click(field_add_{{ id }})
            .trigger('click')
    ;

    return false;
}

function apply_position_value_{{ id }}() {
    // update the input value position
    jQuery('ul.sortable').each(function (index, value) {
        var index = 0;
        jQuery(value).find("li.networking-sort-zone").each(function (i, v) {
            if (!jQuery(v).find("input[id$='_delete']").is(':checked')) {
                jQuery(v).find("[id$='_sortOrder']").val(index);
                index++;
            }
        });
    });
}

function saveLayoutBlockSort(callback) {
    var end = jQuery('ul.sortable').size();
    var XHRs = [];
    var reply = '';
    jQuery('ul.sortable').each(function (index, value) {
        var zone = jQuery(value).attr('id').substr(5);
        var sortedIDs = jQuery(value).sortable("toArray", {key:"layoutBlock" });
        XHRs.push(submitLayoutSort(sortedIDs, zone));
    });

    jQuery.when.apply(jQuery, XHRs).done(function (xhr) {
        if (callback != undefined) {
            callback(xhr)
        }
    }).fail(function (xhr) {
                if (callback != undefined) {
                    callback(xhr)
                }
            });

}

function submitLayoutSort(sortIds, zone) {
    var dfd = jQuery.Deferred();
    jQuery.ajax({
        url:'{{ url('admin_networking_initcms_page_updateLayoutBlockSort') }}',
        data:{layoutBlocks:sortIds, zone:zone},
        type:'get',
        success:function (xhr) {
            if (xhr.status == 'error') {
                dfd.reject(xhr);
            } else {
                if (xhr.pageStatusSettings != undefined) jQuery('#pageStatusSettings').html(xhr.pageStatusSettings);
                if (xhr.pageStatus != undefined) {
                    if (xhr.pageStatus != "{{ 'status_published'|trans({}, admin.translationDomain) }}") {
                        jQuery('.page_status').addClass('color-draft');
                    } else {
                        jQuery('.page_status').removeClass('color-draft');
                    }
                    jQuery('.page_status').html(xhr.pageStatus);
                }
                dfd.resolve(xhr);
            }
        }
    });

    return dfd.promise();
}

function uploadError(xhr) {
    alert(xhr.error);
}

function onAfterLoad() {
{% if init_cms_editor == 'ckeditor' %}
    createCkeditor();
{% elseif init_cms_editor == 'redactor' %}
    createRedactor();
{% endif %}

    apply_position_value_{{ id }}();


    jQuery('div#field_container_{{ id }} ul.sortable').sortable({
        handle:'i.icon-move',
        opacity:0.6,
        forcePlaceholderSize:true,
        placeholder:"ui-state-highlight",
        items:'li.networking-sortable-list',
        connectWith:".sortable",
        start:function () {
            {% if init_cms_editor == 'ckeditor' %}
            destroyCkeditor();
            {% endif %}
        },
        stop:function (event, ui) {
            {% if init_cms_editor == 'ckeditor' %}
            createCkeditor();
            {% endif %}

            apply_position_value_{{ id }}();
            saveLayoutBlockSort(function (xhr) {
                createInitCmsMessageBox(xhr.messageStatus, xhr.message);
            });
        },
        receive:function (event, ui) {
            var zone = jQuery(this).attr('id').substr(5);
            var liItem = jQuery(ui.item);
            liItem.find("[id$='_zone']").val(zone);
            apply_position_value_{{ id }}();
            $(this).find(".empty_layout_block").hide();
        },
        change:function (event, ui) {
            var listItems = $(this).find('.networking-sortable-list');

            if (listItems.length < 2) {
                $(this).find(".empty_layout_block").show();
            } else {
                $(this).find(".empty_layout_block").hide();
            }
        },
        over:function (event, ui) {
            $(this).find(".empty_layout_block").hide();
        }
    });

    jQuery('div#field_container_{{ id }} ul.sortable').on('sortout', function (event, ui) {
        var listItems = $(this).find('.networking-sortable-list');
        if (listItems.length < 1) {
            $(this).find(".empty_layout_block").show();
        } else {
            $(this).find(".empty_layout_block").hide();
        }
    });

    jQuery('.sortable').droppable({
        accept:"li.networking-sortable-list",
        create:function (event, ui) {
            var zone = jQuery(this).attr('id').substr(5);
            jQuery(this).find("[id$='_zone']").val(zone);
        }


    });

    jQuery("input[id$='_delete']", "li.networking-sortable-list").each(function () {
        var inputId = jQuery(this).attr('id');
        jQuery(this).hide();

        var button = '<a href="javascript:void(null);" style="display: none;" id="delete_button_' + inputId + '" type="button">{% trans from 'SonataAdminBundle' %}action_delete{% endtrans %}</a>';
        jQuery(this).parent().append(button);
        jQuery('#delete_button_' + inputId).bind('click', function () {
            if (confirm('{{ "page_admin.confirm"|trans({}, admin.translationDomain) }}')) {

                var liElement = jQuery(this).closest('li.networking-sortable-list');
                var parent = jQuery(liElement).parent();


                jQuery.ajax({
                    url:'{{ url('admin_networking_initcms_page_deleteLayoutBlock') }}',
                    data:{layoutBlock:liElement.attr('id')},
                    success:function (xhr) {
                        createInitCmsMessageBox(xhr.messageStatus, xhr.message);
                        var editor = liElement.find('.wysiwyg-editor');
                        if (CKEDITOR.instances[editor.attr('id')]) {
                            CKEDITOR.instances[editor.attr('id')].destroy(true);
                        }
                        apply_position_value_{{ id }}();
                        saveLayoutBlockSort();
                        liElement.remove();
                        jQuery(parent).trigger('sortout');
                    }
                });


            }
        });
    });

    jQuery('.content_preview i.icon-trash').each(function () {
        var icon = jQuery(this);
        icon.bind('click', function () {
            jQuery(this).closest('li').find('[id^="delete_button"]').trigger('click');
        })

    });

{#jQuery("select[id^='{{ id }}']").filter("select[id$='_classType']").bind('change', field_update_{{ id }});#}
}

(function ($) {

    // refresh the sortable option when a new element is added
    jQuery('#sonata-ba-field-container-{{ id }}').bind('sonata.add_element', function () {
        apply_position_value_{{ id }}();
    });


    onAfterLoad();


})(jQuery);
</script>

<!-- / edit one association -->
{% endautoescape %}

