{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends base_template %}




{% block title %}
    {{ parent() }}
    {% if admin.id(object) %}
        <span class="page_title">{{ admin.toString(object) }} </span> <span class="info-soft font-medium">({{ language }})</span>
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock %}
{% block page_title %}{% endblock %}

{% block actions %}{% endblock %}


{% use 'NetworkingInitCmsBundle:PageAdmin:page_edit_form.html.twig' with form as parentForm %}
{% block form %}
    {{ block('parentForm') }}
    {% if not app.request.isxmlhttprequest %}
    <!-- start modal menu form -->
    <div class="modal form-horizontal" id="confirmMenuCreation"
         style="display: none"
         role="dialog" aria-labelledby="{{ "legend.create_menu_item"|trans({}, admin.translationDomain) }}"
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{{ 'legend.create_menu_item'|trans({}, admin.translationDomain) }}</h3>
        </div>
        <div class="modal-body">
            <div id="menu_info_text"></div>
            <p>&nbsp;</p>

            <div>
                <label class="checkbox" for="show_now_confirm_dialog">
                    <input type="checkbox" id="show_now_confirm_dialog" name="show_now_confirm_dialog"/>
                    {{ 'label.show_no_more'|trans({}, admin.translationDomain) }}
                </label>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal"
                    aria-hidden="true">{{ 'button.cancel'|trans({}, admin.translationDomain) }}</button>
            <button type="submit" class="btn btn-primary" id="btn_create_menu"
                    data-loading-text="{{ 'btn_loading'|trans({}, 'NetworkingInitCmsBundle') }}" name="btn_create_menu">
                {{ 'button.continue'|trans({}, admin.translationDomain) }} &rarr;</button>
        </div>
    </div>
    <!-- end modal menu form -->
    {% endif %}
{% endblock %}
{% block confirm_exit %}false{% endblock %}
{% block before_body_end %}
    {{ parent() }}
    <script type="text/javascript">
        var CKEDITOR_BASEPATH = "{{ ckeditor_base_path('bundles/ivoryckeditor/') }}";
    </script>
    <script type="text/javascript" src="{{ ckeditor_js_path('bundles/ivoryckeditor/ckeditor.js') }}"></script>
{% endblock %}

