{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{{ 'info.translations'|trans({}, admin.translationDomain) }}
<br/>
{% for locale, language in admin.translationLanguages %}
    <p>
        <strong>{{ language.short_label }}</strong><br />
    {% if language.translation %}
        {{ language.translation.workingTitle }}
        <a href="{{ admin.generateUrl('edit', {'id': language.translation.id}) }}" class="link-underlined">
            {{ 'link.edit'|trans({}, admin.translationDomain) }}
        </a> |
            {% if language.translation.isDirectTranslation(object) %}
                <a href="{{ admin.generateUrl('unlink', {'id':object.id, 'translationId': language.translation.id}) }}" class="link-underlined translation-dialog-link">
            {{ 'link.unlink'|trans({}, admin.translationDomain) }}</a>
            {% else %}
                {% set directTranslation = language.translation.getDirectTranslationFor(object) %}
            <i class="info-soft"> via </i><a href="{{ admin.generateUrl('edit', {'id': directTranslation.id}) }}" class="link-underlined"> {{ directTranslation.locale|slice(0,2)|upper }}
            {% endif %}
        </a>
    {% else %}
        <i class="info-soft">{{ 'info.empty'|trans({}, admin.translationDomain) }}</i>
        <a href="{{ admin.generateUrl('translatePage', {'id': object.id, 'locale': locale }) }}" class="link-underlined translation-dialog-link">
            {{ 'link.translate'|trans({}, admin.translationDomain) }}
        </a> | <a href="{{ admin.generateUrl('link', {'id': object.id, 'locale': locale }) }}" class="link-underlined translation-dialog-link">
            {{ 'link.link'|trans({}, admin.translationDomain) }}
        </a>
    {% endif %}
    </p>
{% endfor %}
<div class="modal hide fade" tabindex="-1" role="dialog" id="translation_dialog">
</div>