{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
<h4 class="pull-left">{{ 'legend.page_status'|trans({}, admin.translationDomain) }} -
<span class="color-{{ object.isPublished()?'published':'draft' }} page_status"> {{ object.statusLabel|trans({}, admin.translationDomain) }}</span>
</h4>
<div class="clearfix"><br/></div>

{% if not object.isPublished %}
    <label class="checkbox checkbox-inline">
        <input type="checkbox" id="review_status" name="review_status"
               {% if object.isReview %}checked="checked"{% endif %}/>
        {{ 'button.review'|trans({}, admin.translationDomain) }}</label>

{% endif %}
<hr/>
{% if object.isPublished %}
    <a href="{{ admin.generateUrl('draft', {id: object.id}) }}"
       class="btn btn-warning btn-sm {% if object.isDraft() %}disabled{% endif %}"
       {% if object.isDraft() %}onclick="return false"{% endif %}>
        {{ 'button.draft'|trans({}, admin.translationDomain) }}
    </a>
{% endif %}


{% if admin.isGranted('PUBLISH', object) and not object.isPublished %}
    <a href="{{ admin.generateUrl('publish', {id: object.id}) }}"
       class="btn btn-default btn-sm {% if object.isPublished() %}disabled{% endif %}"
       {% if object.isPublished() %}onclick="return false"{% endif %}>
        {{ 'button.publish'|trans({}, admin.translationDomain) }}
    </a>
    {{ 'or'|trans({}, admin.translationDomain) }}
{% endif %}
{% if not object.isPublished %}
    {% set path = path(object.route()) %}
    <a href="{{ path('networking_init_view_draft', {'locale': object.locale, 'path': path | base64_encode}) }}"
       class="link-underlined">
        {{ 'link.preview'|trans({}, admin.translationDomain) }}</a>
{% endif %}



{% if not object.isPublished() and object.getSnapshot() %}
    <hr/>
    <p class="font-mini">
    {{ 'info.last_published_version'|trans({'%date%':object.getSnapshot().snapshotDate|date("d.m.Y")}, admin.translationDomain)|raw }}<br/>

        <a href="{{ admin.generateUrl('cancelDraft', {id: object.id}) }}" class="status-dialog-link link-nounderline">
        {{ 'link.revert_to_publish'|trans({}, admin.translationDomain) }}</a> <span class="info-soft">({{ 'info.revert_to_publish'|trans({}, admin.translationDomain) }})</span><br/>
        <a href="{{ path('networking_init_view_live', {'locale': object.locale, 'path': path | base64_encode}) }}"
               class="link-nounderline">
                {{ 'link.live'|trans({}, admin.translationDomain) }}</a>
        </p>
{% endif %}
<div class="modal fade" tabindex="-1" role="dialog" id="status_dialog">
</div>