{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends base_template %}

{% block stylesheets %}
    {{ parent() }}
    {% if init_cms_editor == 'redactor' %}
    <link rel="stylesheet" href="{{ asset('bundles/networkinginitcms/js/redactor/redactor.css') }}" type="text/css"
          media="all"/>
    {% endif %}
{% endblock stylesheets %}


{% block title %}
    {% if admin.id(object) %}
        {{ admin.toString(object) }} <span class="info-soft font-medium">({{ language }})</span>
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock %}
{% block page_title %}{% endblock %}

{% block actions %}
    <div class="sonata-actions">
        {% if admin.hasroute('show') and admin.id(object) and admin.isGranted('VIEW', object) and admin.show|length > 0 %}
            <a class="btn sonata-action-element"
               href="{{ admin.generateObjectUrl('show', object) }}">{{ 'link_action_show'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
        {% if admin.hasroute('history') and admin.id(object) and admin.isGranted('EDIT', object) %}
            <a class="btn sonata-action-element"
               href="{{ admin.generateObjectUrl('history', object) }}">{{ 'link_action_history'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
        {% include 'SonataAdminBundle:Core:create_button.html.twig' %}
        {% if admin.hasroute('list') and admin.isGranted('LIST') %}
            <a class="btn sonata-action-element"
               href="{{ admin.generateUrl('list') }}">{{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
        {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
            {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
            <a class="btn btn-danger"
               href="{{ admin.generateObjectUrl('delete', object) }}">{{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
    </div>
{% endblock %}


{% use 'NetworkingInitCmsBundle:PageAdmin:page_edit_form.html.twig' with form as parentForm %}

{% block form %}
    {{ block('parentForm') }}
    <!-- start modal page form -->
    <div class="modal form-horizontal" id="confirmMenuCreation"
         style="display: none"
         role="dialog" aria-labelledby="{{ "legend.create_menu_item"|trans({}, admin.translationDomain) }}"
         aria-hidden="true">
        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>{{ 'legend.create_menu_item'|trans({}, admin.translationDomain) }}</h3>
                    </div>
        <div class="modal-body">
            <div id="menu_info_text"></div>
            <p>&nbsp;</p>
            <div>
                <label class="checkbox" for="show_now_confirm_dialog">
                    <input type="checkbox" id="show_now_confirm_dialog" name="show_now_confirm_dialog" />
                    {{ 'label.show_no_more'|trans({}, admin.translationDomain) }}
                </label>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal"
                    aria-hidden="true">{{ 'button.cancel'|trans({}, admin.translationDomain) }}</button>
            <button type="submit" class="btn btn-primary" id="btn_create_menu" name="btn_create_menu">
                  {{ 'button.continue'|trans({}, admin.translationDomain) }} &rarr;</button>
        </div>
    </div>
    <!-- end modal page form -->
{% endblock %}

{% block before_body_end %}
{% if init_cms_editor == 'ckeditor' %}
    <script type="text/javascript" src="{{ asset('/bundles/networkinginitcms/js/ckeditor/ckeditor.js') }}"></script>
{% elseif init_cms_editor == 'redactor' %}
    <script src="{{ asset('/bundles/networkinginitcms/js/redactor/redactor.js') }}"></script>
    <script src="{{ asset('/bundles/networkinginitcms/js/redactor/redactor_extensions.js') }}"></script>
{% endif %}
{{ parent() }}
{% endblock %}

