{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends base_template %}

{% block title %}
    {{ help_nav['overview'].group_name }} - {{ help_text.title }}
{% endblock %}

{% block navbar_title %}
    {{ help_nav['overview'].group_name }} - {{ help_text.title }}
{% endblock %}

{% block side_menu %}
    <div class="nav-custom">
        <ul>
        {% for element in help_nav %}
                {% if element.group_items|length > 0 %}
            <li class="first-level-small" style="padding-bottom: 5px;">
                    <h4>{{ element.group_name }}</h4>
                    <ul>
                        {% for row in element.group_items %}
                            {% set active = false %}
                            {% if adminCode == row.adminCode and action == row.action %}
                                {% set active = true %}
                            {% endif %}

                            <li class="second-level-small">
                                <a {% if active %} class="bg-light" {% endif %} href="{{ url('networking_init_cms_help', {'adminCode':row.adminCode,'action':row.action}) }}">
                                    {{ row.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
            </li>
                {% endif %}
        {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block help_text %}
    <div class="card">
        <div class="card-header">

            <div class="card-title">{{ help_text.title }}</div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    {{ help_text.text | raw }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
