{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends base_template %}

{% block init_cms_top_nav %}

    <!--
    <div class="navbar navbar-fixed-top navbar-initcms navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <a href="{{ url('sonata_admin_dashboard') }}" class="pull-left">
                            <img src="{{ asset('bundles/networkinginitcms/img/logo_initcms.png') }}" width="77">
                        </a>
                    </div>
                    <div class="col-md-2"> <strong>{{ 'Help'|trans({}, 'HelpTextAdmin') }}</strong></div>

                    <div class="col-md-8">
                       <p class="pull-right"><strong><a href="JavaScript:window.close()" class="link-underlined">CLOSE</a></strong></p>
                    </div>
                </div>

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
        </div>
    </div>
    -->

    <div class="navbar navbar-fixed-top navbar-initcms navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <a href="{{ url('sonata_admin_dashboard') }}" class="pull-left">
                            <img src="{{ asset('bundles/networkinginitcms/img/logo_initcms.png') }}" width="77">
                        </a>
                    </div>
                    <div class="col-md-6"><span class="brand">{{ 'title.help'|trans({}, 'HelpTextAdmin') }}</span></div>

                    <div class="col-md-4">
                        <ul class="nav pull-right">
                            <li>
                                <a href="JavaScript:window.close()"
                                   class="bold"><i
                                            class="icon-off inverse"></i> {{ 'link.close'|trans({}, 'HelpTextAdmin') }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}


{% block title %}
    {{ help_text.title }}
{% endblock %}

{% block language_indicator %}
{% endblock %}

{% block sonata_top_bar_nav %}
    <div class="nav-custom">
        <ul>
        {% for element in help_nav %}
            <li class="first-level-small" style="padding-bottom: 5px;">
                {% if element.group_items|length > 0 %}
                    <h4>{{ element.group_name }}</h4>
                    <ul>
                        {% for row in element.group_items %}
                            {% set active = false %}
                            {% if adminCode == row.adminCode and action == row.action %}
                                {% set active = true %}
                            {% endif %}

                            <li class="second-level-small"><a {% if active %} class="link-underlined" {% endif %} href="{{ url('networking_init_cms_help', {'adminCode':row.adminCode,'action':row.action}) }}">{{ row.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block help_text %}
    {{ help_text.text | raw }}
{% endblock %}
