{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="well well-small">
        <h4>{{ 'title.page_status_count'|trans({}, 'PageAdmin') }}</h4>

        <div class="row-fluid">
            <div class="span6">
                <span class="color-draft">{{ 'status_draft'|trans({}, 'PageAdmin') }} </span><span
                    class="badge badge-warning pull-right">{{ draft_pages }}</span>

                <div class="clearfix"></div>
                <span class="color-review">{{ 'status_review'|trans({}, 'PageAdmin') }} </span><span
                    class="badge badge-info pull-right">{{ review_pages }}</span>

                <div class="clearfix"></div>
                <span class="color-published">{{ 'status_published'|trans({}, 'PageAdmin') }} </span><span
                    class="badge badge-success pull-right">{{ published_pages }}</span>

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        {% if reviewPages|length > 0 %}
            <div class="row-fluid">
                <div class="span12">
                    <h4>{{ 'title.actual_reviews'|trans({}, 'PageAdmin') }}</h4>
                    {% for lang, drafts in reviewPages %}
                        <h5>{{ lang }}</h5>
                        {% for page in drafts %}
                            <a href="{{ path('admin_networking_initcms_page_edit', {id: page.id}) }}"
                               class="link-nounderline">{{ page.title }}</a> <span
                                class="info-soft font-small">{{ 'info.last_edited'|trans({}, 'PageAdmin') }}{{ page.updatedAt|date('H:i d M Y') }}</span>
                            <br/>

                        {% endfor %}
                    {% endfor %}

                </div>
            </div>
        {% endif %}
        {% if draftPages|length > 0 %}
            <div class="row-fluid">
                <div class="span12">
                    <h4>{{ 'title.actual_drafts'|trans({}, 'PageAdmin') }}</h4>
                    {% for lang, drafts in draftPages %}
                        <h5>{{ lang }}</h5>
                        {% for page in drafts %}
                            <a href="{{ path('admin_networking_initcms_page_edit', {id: page.id}) }}"
                               class="link-nounderline">{{ page.title }}</a> <span
                                class="info-soft font-small">{{ 'info.last_edited'|trans({}, 'PageAdmin') }}{{ page.updatedAt|date('H:i d M Y') }}</span>
                            <br/>
                        {% endfor %}
                    {% endfor %}

                </div>
            </div>
        {% endif %}
        <div class="clearfix">&nbsp;</div>
        <div class="pull-right">
            <a href="{{ path('admin_networking_initcms_page_list') }}"
               class="btn btn-small btn-primary">{{ 'link.see_all'|trans({}, 'PageAdmin') }}  &rarr;</a>
        </div>
        <div class="clearfix"></div>
    </div>

{% endblock %}