{% extends base_template %}
{% block sidebar_left %}{% endblock %}
{% block content %}
    <div class="row">
        <div id="login" class="connection modal" >
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <form action="{{ path("sonata_user_admin_security_check") }}" method="post" role="form"
                          class="form-vertical">
                        <div class="modal-body">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                            {% block sonata_user_login_error %}
                                {% if error %}
                                    <div class="alert alert-danger alert-error">
                                        {{ error.messageKey|trans(error.messageData, 'security') }}
                                    </div>
                                {% endif %}
                            {% endblock %}

                            <div class="form-group">
                                <label class=" control-label"
                                       for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>

                                <div class="">
                                    <input type="text" id="username" name="_username" value="{{ last_username }}"
                                           class="form-control" autofocus/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" control-label"
                                       for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>

                                <div class="">
                                    <input type="password" id="password" name="_password" class="form-control"
                                           placeholder="Password"/>
                                </div>
                            </div>
                            <div class="form-group">
                                    <div class="checkbox">
                                        <label class="checkbox-inline"><input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                            {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                                    </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <input type="submit" class="btn btn-primary" id="_submit" name="_submit"
                                           value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
{% endblock content %}
