{#
This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends base_template %}

{% block javascripts %}
    <!--begin::Custom Javascript(used for this page only)-->
    {% if two_step_submit|default(false) %}
        <script src="{{ asset('twoFactorSignin.js', 'init_cms')}}"></script>
    {% else %}
        <script src="{{ asset('generalSignin.js', 'init_cms')}}"></script>
    {% endif %}
    <!--end::Custom Javascript-->
{% endblock javascripts %}

{% block sonata_nav %}
{% endblock sonata_nav %}

{% block logo %}
{% endblock logo %}

{% block sonata_left_side %}
{% endblock sonata_left_side %}


{% block page %}
    <style>body { background-image: url('{{ asset('bundles/networkinginitcms/admin-theme/media/auth/bg9.jpg') }}'); } [data-bs-theme="dark"] body { background-image: url('{{ asset('bundles/networkinginitcms/admin-theme/media/auth/bg9.jpg') }}'); }</style>
    <!--begin::Authentication - Sign-in -->
    <div class="d-flex flex-column flex-column-fluid flex-lg-row">
    <!--begin::Aside-->
    <div class="d-flex flex-center w-lg-50 pt-15 pt-lg-0 px-10">
        <!--begin::Aside-->
        <div class="d-flex flex-center flex-lg-start flex-column">
            <!--begin::Logo-->
            <a href="https://www.initcms.com" target="_blank" class="mb-7">
                <img alt="Logo" src="{{ asset('bundles/networkinginitcms/img/initcms-396x100.png') }}" />
            </a>
            <!--end::Logo-->
            <!--begin::Title-->
            <h2 class="text-white fw-normal m-0">Init CMS</h2>
            <!--end::Title-->
        </div>
        <!--begin::Aside-->
    </div>
    <!--begin::Aside-->
    <!--begin::Body-->
    <div class="d-flex flex-column-fluid flex-lg-row-auto justify-content-center justify-content-lg-end p-12 p-lg-20">
    <!--begin::Card-->
        <div class="bg-body d-flex flex-column align-items-stretch flex-center rounded-4 w-md-600px p-20">
        <!--begin::Wrapper-->
            <div class="d-flex flex-center flex-column flex-column-fluid px-lg-10 pb-15 pb-lg-20">
            <!--begin::Form-->
                {% if two_step_submit|default(false) %}
                    <form class="form" id="kt_sing_in_two_factor_form"  role="form" data-kt-redirect-url="/admin">
                    <!--begin::Icon-->
								<div class="text-center mb-10">
									<img alt="Logo" class="mh-125px" src="/bundles/networkinginitcms/admin-theme/media/svg/misc/smartphone-2.svg" />
								</div>
								<!--end::Icon-->
								<!--begin::Heading-->
								<div class="text-center mb-10">
									<!--begin::Title-->
									<h1 class="text-dark mb-3">{{ 'label_two_step_code'|trans({}, 'SonataUserBundle') }}</h1>
									<!--end::Title-->
									<!--begin::Sub-title-->
									<div class="text-muted fw-semibold fs-5 mb-5">{{ 'message_two_step_code_help'|trans({}, 'SonataUserBundle') }}</div>
									<!--end::Sub-title-->
									<!--begin::Mobile no-->
									<!--end::Mobile no-->
								</div>
                        <div class="login-box modal-body">
                            {% if state == 'error' %}
                                <div class="alert alert-error">{{ 'label_two_step_code_error'|trans({}, 'SonataUserBundle') }}</div>
                            {% endif %}
                                 <div class="mb-10">
									<!--begin::Input group-->
									<div class="d-flex flex-wrap flex-stack">
										<input type="text" name="code_1" autocomplete="one-time-code" autofocus data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control bg-transparent h-60px w-60px fs-2qx text-center mx-1 my-2" value="" inputmode="number">
										<input type="text" name="code_2" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control bg-transparent h-60px w-60px fs-2qx text-center mx-1 my-2" value="" inputmode="number">
										<input type="text" name="code_3" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control bg-transparent h-60px w-60px fs-2qx text-center mx-1 my-2" value="" inputmode="number">
										<input type="text" name="code_4" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control bg-transparent h-60px w-60px fs-2qx text-center mx-1 my-2" value="" inputmode="number">
										<input type="text" name="code_5" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control bg-transparent h-60px w-60px fs-2qx text-center mx-1 my-2" value="" inputmode="number">
										<input type="text" name="code_6" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control bg-transparent h-60px w-60px fs-2qx text-center mx-1 my-2" value="" inputmode="number">
									</div>
									<!--begin::Input group-->
								</div>
                                <div class="d-flex flex-center">
									<button type="button" id="kt_sing_in_two_factor_submit" class="btn btn-lg btn-primary fw-bold">
										<span class="indicator-label">Submit</span>
										<span class="indicator-progress">Please wait...
										<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
									</button>
                                </div>
                                <div class="text-center fw-semibold fs-5">
                                    <span class="help-block sonata-ba-field-help"></span>
                                </div>
                           </div>
                    </form>
                {% else %}
                    <!--begin::Login Sign in form-->
                    <form class="form w-100" novalidate="novalidate" id="kt_sign_in_form" action="{{ url("sonata_user_admin_security_check") }}" method="post"
                          role="form">
                        <!--begin::Heading-->
                        <div class="text-center mb-11">
                            <!--begin::Title-->
                            <h1 class="text-dark fw-bolder mb-3" data-kt-translate="sign-in-title">{{ 'link_login'|trans({}, 'SonataUserBundle')}}</h1>
                            <!--end::Title-->
                            <!--begin::Subtitle-->
{#                            <div class="text-gray-500 fw-semibold fs-6">Your Social Campaigns</div>#}
                            <!--end::Subtitle=-->
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                        {% block sonata_user_login_error %}
                            {% if error %}
                                <!--begin::Alert-->
                                <div class="alert alert-danger d-flex align-items-center p-5">
                                    <!--begin::Icon-->
                                    <i class="ki-duotone ki-shield-tick fs-2hx text-danger me-4"><span class="path1"></span><span class="path2"></span></i>
                                    <!--end::Icon-->

                                    <!--begin::Wrapper-->
                                    <div class="d-flex flex-column">
                                        <!--begin::Title-->
                                        <h4 class="mb-1 text-danger">{{ 'flash_error'|trans({}, 'NetworkingInitCmsBundle') }}</h4>
                                        <!--end::Title-->

                                        <!--begin::Content-->
                                        <span>{{ error.messageKey|trans(error.messageData, 'security') }}.</span>
                                        <!--end::Content-->
                                    </div>
                                    <!--end::Wrapper-->
                                </div>
                                <!--end::Alert-->
                            {% endif %}
                        {% endblock %}

                        <!--begin::Input group=-->
                        <div class="fv-row mb-8">
                            <!--begin::Email-->
                            <input type="text" placeholder="{{ 'security.login.username'|trans({}, 'SonataUserBundle') }}"
                                    autofocus name="_username" id="username"
                                   value="{{ last_username }}" autocomplete="username webauthn" data-kt-translate="sign-in-input-email" class="form-control bg-transparent" />
                            <!--end::Email-->
                        </div>
                        <div class="fv-row mb-8">
                            <input class="form-control bg-transparent" type="password" placeholder="{{ 'security.login.password'|trans({}, 'SonataUserBundle') }}"
                             data-kt-translate="sign-in-input-password" name="_password" autocomplete="current-password"/>
                        </div>
                        <!--end::Input group=-->
                        <div class="d-flex flex-stack flex-wrap gap-3 fs-base fw-semibold mb-8">
                            <div></div>
                            <a href="{{ url('networking_init_cms_admin_resetting_request') }}" id="kt_login_forgot" data-kt-translate="sign-in-forgot-password">{{ 'forgotten_password'|trans({}, 'SonataUserBundle') }}</a>
                        </div>
                        <!--begin::Submit button-->
                        <div class="d-grid mb-10">
                            <button type="submit" id="kt_sign_in_submit" class="btn btn-primary">
                                <!--begin::Indicator label-->
                                <span class="indicator-label">{{ 'security.login.submit'|trans({}, 'SonataUserBundle') }}</span>
                                <!--end::Indicator label-->
                                <!--begin::Indicator progress-->
                                <span class="indicator-progress" data-kt-translate="general-progress">Please wait...
										<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                <!--end::Indicator progress-->
                            </button>
                        </div>
                        <input type="hidden" id="redirect_route" value="{{ redirect_route }}">
                        <!--end::Submit button-->
                    </form>
                    <!--end::Login Sign in form-->
                {% endif %}
            <!--end::Form-->
            </div>
        </div>
        <!--end::Wrapper-->
        <!--begin::Footer-->
        {% block footer %}

        {% endblock footer %}
        <!--end::Footer-->
    </div>
        <!--end::Card-->
    </div>

{% endblock page %}
