{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'NetworkingInitCmsBundle::layout.html.twig' %}

{% block title %}{{ page.metaTitle }}{% endblock %}


{% block content %}
<div class="span10">
	<div class="top">
		{% for layoutBlock in page.layoutBlock('top') %}
		{{ networking_init_cms_block('NetworkingInitCmsBundle:Content:cms_block.html.twig', layoutBlock)}}
		{% endfor %}
	</div>
	<div class="middle">
		{% for layoutBlock in page.layoutBlock('middle')  %}
		{{ networking_init_cms_block('NetworkingInitCmsBundle:Content:cms_block.html.twig', layoutBlock)}}
		{% endfor %}
	</div>
	<div class="bottom">
		{% for layoutBlock in page.layoutBlock('bottom') %}
		{{ networking_init_cms_block('NetworkingInitCmsBundle:Content:cms_block.html.twig', layoutBlock)}}
		{% endfor %}
	</div>
</div>
{% endblock content %}


{% block foot_script %}
 {{ parent() }}

 <script type="text/javascript">
 	(function ($) {
 		$('.carousel').carousel();
 		$("a[rel^='prettyPhoto']").prettyPhoto();
 	})(jQuery);
 </script>
 {% endblock %}
