{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'NetworkingInitCmsBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        <a href="{{ admin.generateUrl('edit', {'id' : object.id}) }}" style="float: left; margin-right: 6px;">{% media object, 'admin' with {'width': 75, 'height': 60} %}</a>
        <a href="{{ admin.generateUrl('edit', {'id' : object.id}) }}" style="float: left; margin-right: 6px;"><strong>{{ object.name }}</strong></a> <br />
        {% if object.width is defined and object.width %}
        {{ object.providerName|trans({}) }}: {{ object.width }}x{{ object.height }} <br />
        {% endif %}
    </div>
{% endblock %}