{% extends 'NetworkingInitCmsBundle::admin_layout.html.twig' %}
{% block init_cms_top_nav %}{% endblock %}
{% block sonata_top_bar_nav %}{% endblock %}
{% block page_title %}<h1>{{ 'title.select_media'|trans({}, 'MediaAdmin')|replace({'%span%': '<span class="info-soft">', '%span/%': "</span>"})|raw }}</h1>{% endblock %}
{% block sidebar_left %}{% endblock %}
{% block navbar_spacer %}{% endblock %}
{% block container_class %}mini-container container{% endblock %}
{% block content %}
    {% block preview %}{% endblock %}
    {% block form %}{% endblock %}
    {% block list %}{% endblock %}
    {% block show %}{% endblock %}

    {% block list_filters %}{% endblock %}
    {% block list_table %}{% endblock %}
<ul class="nav nav-tabs">
    {% for key, tag in media %}
        <li {% if loop.first %}class="active"{% endif %}>
            <a href="#tag_{{ key|replace(' ', '_')  }}" data-toggle="tab">{{ key}}
            </a>
        </li>
    {% endfor %}
</ul>
    <div class="tab-content">
    {% for key, images in media %}
        <div class="tab-pane  {% if loop.first %}active{% endif %}" id="tag_{{ key|replace(' ', '_') }}">
        {% for image in images %}
            <img src="{{ image.thumb }}" class="img-polaroid" ref="{{ image.image }}">
        {% endfor %}
        </div>
    {% endfor %}
    </div>
    <script type="text/javascript">
        (function($){
            $('.img-polaroid').bind('click',function(){
                window.opener.CKEDITOR.tools.callFunction({{ funcNum }}, $(this).attr('ref') );
                window.close();
            })
        })(jQuery);
    </script>
{% endblock %}