{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'NetworkingInitCmsBundle:CRUD:action.html.twig' %}

{% block title %}{{ 'title_select_provider'|trans({}, 'MediaAdmin') }}{% endblock %}

{% block content %}

    {% if app.request.isXmlHttpRequest %}
        <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>{{ "title_create"|trans({'%admin_label%': admin.getClassnameLabel()}, 'NetworkingInitCmsBundle') }}</h3>
            </div>
            <div class="modal-body">
    {% endif %}
    <ul>
        {% for code, provider in providers %}
            <li><a href="{{ admin.generateUrl('create', {'provider': provider.name}) }}">{{ provider.name|trans() }}</a></li>
        {% else %}
            <li>{{ 'no_provider_available'|trans({}, 'MediaAdmin') }}</li>
        {% endfor %}
    </ul>
    {% if app.request.isXmlHttpRequest %}
    </div>
    {% endif %}
{% endblock %}