{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">
            <span class="card-icon">
				    <i class="ki-outline ki-element-7 fs-2x"></i>
				</span>
            <span class="card-label">{{ 'title.page_status_count'|trans({}, 'PageAdmin') }}</span> </h3>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="d-flex flex-row justify-content-between">
                <span class="badge py-3 px-4 fs-7 badge-light-warning">{{ 'status_draft'|trans({}, 'PageAdmin') }} </span><span
                        class="badge badge-circle badge-warning">{{ draft_pages }}</span>

            </div>
            <div class="separator separator-dashed my-3"></div>
            <div class="d-flex flex-row justify-content-between">
                <span class="badge py-3 px-4 fs-7 badge-light-primary">{{ 'status_review'|trans({}, 'PageAdmin') }} </span><span
                        class="badge badge-circle badge-primary">{{ review_pages }}</span>

            </div>
            <div class="separator separator-dashed my-3"></div>
            <div class="d-flex flex-row justify-content-between">
                <span class="badge py-3 px-4 fs-7 badge-light-success">{{ 'status_published'|trans({}, 'PageAdmin') }} </span><span
                        class="badge badge-circle badge-success">{{ published_pages }}</span>

            </div>
            <div class="separator separator-solid my-3"></div>
        </div>
        {% if reviewPages|length > 0 %}
            <div class="row">
                <div class="col-md-12">
                    <h4>{{ 'title.actual_reviews'|trans({}, 'PageAdmin') }}</h4>
                    {% for lang, drafts in reviewPages %}
                        <h5>{{ lang }}</h5>
                        {% for page in drafts %}
                            <a href="{% if admin.isGranted('EDIT') %}{{ path('admin_networking_initcms_page_edit', {id: page.id}) }}{% endif %}"
                               class="link-nounderline">{{ page.pageName }}</a> <span
                                class="text-muted font-small">{{ 'info.last_edited'|trans({}, 'PageAdmin') }}{{ page.updatedAt|date('H:i d M Y') }}</span>
                            <br/>

                        {% endfor %}
                        <div class="separator separator-dashed my-3"></div>
                    {% endfor %}

                </div>
            </div>
        {% endif %}
        {% if draftPages|length > 0 %}
            <div class="row">
                <div class="col-md-12">
                    <h4>{{ 'title.actual_drafts'|trans({}, 'PageAdmin') }}</h4>
                    {% for lang, drafts in draftPages %}
                        <h5>{{ lang }}</h5>
                        {% for page in drafts %}
                            <a href="{% if admin.isGranted('EDIT') %}{{ path('admin_networking_initcms_page_edit', {id: page.id}) }}{% endif %}"
                               class="link-nounderline">{{ page.pageName }}</a> <span
                                class="text-muted font-small">{{ 'info.last_edited'|trans({}, 'PageAdmin') }}{{ page.updatedAt|date('H:i d M Y') }}</span>
                            <br/>
                        {% endfor %}
                        <div class="separator separator-dashed my-3"></div>
                    {% endfor %}

                </div>
            </div>
        {% endif %}
        <div class="clearfix">&nbsp;</div>
        <div class="float-end">
            {% if admin.isGranted('LIST') %}
            <a href="{{ path('admin_networking_initcms_page_list') }}"
               class="btn btn-sm btn-primary">{{ 'link.see_all'|trans({}, 'PageAdmin') }}  &rarr;</a>
            {% endif %}
        </div>
        </div>
    </div>

{% endblock %}