{% extends sonata_block.templates.block_base %}

{% block block %}

    {# only visible for superadmin #}
    {% if is_granted("ROLE_SUPER_ADMIN") %}

        <div class="card shadow-sm">

            <div class="card-header">
                <h3 class="card-title">
                    <span class="card-icon">
				        <i class="la la-database fs-2x"></i>
				    </span>
                    <span class="card-label">{{ 'title.cache'|trans({}, 'NetworkingInitCmsBundle') }}
                    </span>
                </h3>
                <div class="card-toolbar">
                    <a href="#" class="btn btn-sm btn-warning font-weight-bold" id="clear-cache">
                        <i class="ki-outline ki-delete-folder "></i>{{ 'cache.delete'|trans({}, 'NetworkingInitCmsBundle') }}</a>
                </div>
            </div>


            <div class="card-body">
                    {% if cache.isActive %}

                        <div id="ajaxResponseDiv"></div>
                       <div class="row">
                           <div class="col-md-12">
                               <span class="color-published">{{ 'cache.active'|trans({}, 'NetworkingInitCmsBundle') }}</span><br/>
                               <span class="color-published">{{ 'cache.time'|trans({}, 'NetworkingInitCmsBundle') }}:  {{ cache.cacheTime|default(864000) }}</span>
                           </div>
                       </div>
                        <script>
                            document.addEventListener("DOMContentLoaded", function() {
                                let resonseDiv = document.getElementById('ajaxResponseDiv');
                                document.getElementById('clear-cache').addEventListener('click', async function() {
                                    let json;
                                    try{
                                        const response = await fetch('{{path('networking_init_cms_clear_cache')}}', {
                                            method: 'GET',
                                            headers: {
                                                'Content-Type': 'application/json',
                                                'Accept': 'application/json'
                                            }
                                        })

                                        if(response?.ok) {
                                            return resonseDiv.innerHTML = '<div class="alert alert-success" role="alert">{{ 'cache.delete.answer'|trans({}, 'NetworkingInitCmsBundle') }}</div>';
                                        }
                                        resonseDiv.innerHTML = '<div class="alert alert-danger" role="alert">{{ 'cache.delete.erroranswer'|trans({}, 'NetworkingInitCmsBundle') }}</div>';
                                    }catch ( error){
                                        resonseDiv.innerHTML = '<div class="alert alert-danger" role="alert">{{ 'cache.delete.erroranswer'|trans({}, 'NetworkingInitCmsBundle') }}</div>';
                                    }
                                })
                            });
                        </script>
                    {% else %}
                        <div class="col-md-12">
                            <span class="color-draft">{{ 'cache.inactive'|trans({}, 'NetworkingInitCmsBundle') }}</span>
                        </div>
                        <div class="col-md-12">{{ 'cache.inactiveMoreInformation'|trans({}, 'NetworkingInitCmsBundle') | raw }}</div>
                    {% endif %}
            </div>

        </div>
    {% endif %}
{% endblock %}