{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
    <div class="pull-right">
        {% if admin.subClasses is empty %}
                <a class="btn btn-custom btn-small" href="{{ admin.generateUrl('create', {locale: networking_init_cms_get_current_admin_locale(admin) }) }}">
                    <i class="icon-white icon-plus"></i> {{ 'link_action_create'|trans({}, admin.translationDomain) }}</a>
            {% else %}
                <span class="btn-group  btn-small sonata-action-element">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        {{ 'link_action_create'|trans({}, admin.translationDomain) }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for subclass in admin.subclasses|keys %}
                            <li>
                                <a href="{{ admin.generateUrl('create', {'subclass': subclass}) }}">{{ subclass }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </span>
            {% endif %}
    </div>
    <div class="clearfix">&nbsp;</div>
{% endif %}
