function createInitCmsMessageBox(status, message) {
    var messageHtml = '<div class="alert alert-' + status + '"><a class="close" data-dismiss="alert" href="#">×</a>' + message + '</div>';

    jQuery('.notice-block').html(messageHtml);
}
function destroyCkeditor() {
    var editors = CKEDITOR.instances;
    jQuery.each(editors, function () {
        var instance = this;
        try{
        if (instance && instance.getData()) {
            instance.destroy(true);
        }
        }catch(err){
        }
    });
}

function createCkeditor() {
    jQuery('.wysiwyg-editor').each(function () {
        CKEDITOR.replace(this, {"customConfig":"{{ path('networking_init_cms_ckeditor_config') }}"});
    });

}

function createRedactor() {
    jQuery('.wysiwyg-editor').each(function () {
        jQuery(this).redactor({
            focus:true,
            imageGetJson:'{{ path('admin_networking_initcms_media_uploadedTextBlockImage') }}',
            imageUpload:'{{ path('admin_networking_initcms_media_uploadTextBlockImage') }}',
            imageUploadErrorCallback:function (editor, xhr) {
                uploadError(xhr)
            },
            fileGetJson:'{{ path('admin_networking_initcms_media_uploadedTextBlockFile') }}',
            fileUpload:'{{ path('admin_networking_initcms_media_uploadTextBlockFile') }}',
            plugins:['cssPlugin'],
            cssStyles:{'color-draft':'orange', 'white':'background white'},
            minHeight:300
        });
    });
}



function trim(str) {
    str = str.replace(/^\s+/, '');
    for (var i = str.length - 1; i >= 0; i--) {
        if (/\S/.test(str.charAt(i))) {
            str = str.substring(0, i + 1);
            break;
        }
    }
    return str;
}

(function ($) {
    $('.modal').live('show', function(){
        var height = $(this).height();
        var windowHeight = $(window).height();
        if(windowHeight - 100 < height){
            height = windowHeight /2;
            $('.modal-body', this).css('max-height', height+'px');
        }
    });

    $('.notice-block').on('DOMNodeInserted', function () {
        $(this).fadeIn().delay('3000').fadeOut(500);
    });

    $('.notice-block').each(function (k, e) {
        if (trim($(e).html()) != '') {
            $(e).fadeIn().delay('3000').fadeOut(500);
        }
    });
})(jQuery);

$.fn.modal.Constructor.prototype.enforceFocus = function() {
  modal_this = this
  $(document).on('focusin.modal', function (e) {
    if (modal_this.$element[0] !== e.target && !modal_this.$element.has(e.target).length
    // add whatever conditions you need here:
    && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_select') && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_text')) {
      modal_this.$element.focus()
    }
  })
};