{% extends 'NetworkingInitCmsBundle:CRUD:edit.html.twig' %}

{% block formactions %}
    {% set admin_label = admin.getLabel()|trans({}, admin.translationDomain) %}
    <div class="{% if app.request.isxmlhttprequest %}modal-footer{% else %}well form-actions{% endif %}">
        {% if app.request.isxmlhttprequest %}
            <button class="btn btn-default" data-dismiss="modal"
                    aria-hidden="true">{{ 'button.cancel'|trans({}, 'PageAdmin') }}</button>
            {% if admin.id(object) %}
                <input type="submit" class="btn btn-primary" name="btn_update"
                       value="{{ 'btn_update'|trans({}, 'NetworkingInitCmsBundle') }}"/>
            {% else %}
                <input type="submit" class="btn btn-primary" name="btn_create"
                       value="{{ 'btn_create'|trans({}, 'NetworkingInitCmsBundle') }}"/>
            {% endif %}
        {% else %}
            <a class="btn btn-default "
               href="{{ admin.generateObjectUrl('list', object) }}">{{ 'btn_cancel'|trans({}, 'NetworkingInitCmsBundle') }}</a>
                <input class="btn btn-default btn-primary" type="submit" name="btn_create_and_list"
                       value="{{ 'btn_create_and_return_to_list'|trans({}, 'NetworkingInitCmsBundle') }}"/>
                <input class="btn btn-default " type="submit" name="btn_create_and_create"
                       value="{{ 'btn_create_and_create_a_new_one'|trans({}, 'NetworkingInitCmsBundle') }}"/>
        {% endif %}
    </div>
{% endblock formactions %}
