{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends '@NetworkingInitCms/CRUD/list.html.twig' %}


{% block actions %}
    {% if page_id is defined and page_id %}
        {% set pageAdmin = admin.getConfigurationPool.getAdminByAdminCode('networking_init_cms.admin.page') %}
            <a class="btn btn-default btn-sm"
               href="{{ path( pageAdmin.getBaseRouteName() ~'_edit', {'id': page_id}) }}">&larr; Back to page</a>
    {% endif %}
{% endblock %}
{% block list_filters %}
    {% if admin.datagrid.filters %}
        <form action="{{ admin.generateUrl('list') }}" method="GET"
              class="kt-form kt-form--fit mb-15">
            <div class="d-flex justify-content-xl-between">
                {% set withAdvancedFilter = false %}
                {% for filter in admin.datagrid.filters %}
                    {% set filterActive = ((filter.isActive() and filter.options['show_filter'] is null) or (filter.options['show_filter'] is same as(true))) and not admin.isDefaultFilter(filter.formName) %}
                    {% set filterVisible = filter.options['show_filter'] is same as(true) or filter.options['show_filter'] is null %}
                    <div class="mb-lg-0 mb-6" sonata-filter="{{ filterVisible ? 'true' : 'false' }}" style="display: {% if filterActive or filterVisible %}block{% else %}none{% endif %}">
                        {% if filter.label is not same as(false) %}
                            <label for="{{ form[filter.formName].children['value'].vars.id }}" class="control-label">{{ filter.label|trans({}, filter.translationDomain ?: admin.translationDomain) }}</label>
                        {% endif %}
                        {% set attr = form[filter.formName].children['type'].vars.attr|default({}) %}

                        <div class="advanced-filter">
                            {{ form_widget(form[filter.formName].children['type'], {'attr':  attr}) }}
                        </div>

                        <div >
                            {{ form_widget(form[filter.formName].children['value']) }}
                        </div>
                        {#                        <div class="col-sm-1">#}
                        {#                            <label class="control-label">#}
                        {#                                <a href="#" class="sonata-toggle-filter sonata-ba-action" filter-target="filter-{{ admin.uniqid }}-{{ filter.name }}" filter-container="filter-container-{{ admin.uniqid() }}">#}
                        {#                                    <i class="fa fa-minus-circle" aria-hidden="true"></i>#}
                        {#                                </a>#}
                        {#                            </label>#}
                        {#                        </div>#}
                    </div>
                    {% if filter.options['advanced_filter'] %}
                        {% set withAdvancedFilter = true %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="row mt-8">
                <div class="col-lg-12">
                    {% if admin.hasActiveSubclass %}
                        <input type="hidden" name="subclass" id="filter_subclass"
                               value="{{ admin.activeSubclassCode }}"/>
                    {% endif %}
                    <input type="hidden" name="filter[_page]" id="filter__page" value="1"/>
                    {% set foo = form.children['_page'].setRendered() %}
                    {% for paramKey, paramValue in admin.persistentParameters %}
                        <input type="hidden" name="{{ paramKey }}" value="{{ paramValue }}"/>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-primary--icon" id="kt_search">
                            <span>
                                <i class="la la-search"></i>
                                <span>{{ 'btn_filter'|trans({}, 'NetworkingInitCmsBundle') }}</span>
                             </span>
                    </button>
                    <a href="{{ admin.generateUrl('list', {filters: 'reset'}) }}"
                       class="btn btn-secondary btn-secondary--icon">
                            <span>
                                <i class="la la-close"></i>
                                <span>{{ 'link_reset_filter'|trans({'%admin_label%': admin.label}, 'NetworkingInitCmsBundle') }}</span>
                             </span>
                    </a>
                    {{ form_rest(form) }}
                    {% if withAdvancedFilter %}
                        <a href="#" data-toggle="advanced-filter">
                            <i class="la la-cogs" aria-hidden="true"></i>
                            {{ 'btn_advanced_filters'|trans({}, 'SonataAdminBundle') }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}

{% block list_table %}
    <div id="menuTabs"
         data-list-url="{{ admin.generateUrl('list', {'render': true}) }}"
         data-update-url="{{ admin.generateUrl('ajaxController', {"operation":"updateNodes"}) }}"
         data-last-edited="{{ menu_id }}">
        {% include "@NetworkingInitCms/MenuItemAdmin/menu_tabs.html.twig" %}
    </div>
{% endblock %}

{% block before_body_end %}
    <div class="modal fade" tabindex="-1" role="dialog" id="menu_dialog">
        <div class="modal-dialog">
        </div>
    </div>
    {{ parent() }}
    <script src="{{ asset('bundles/networkinginitcms/js/menuitems.js') }}"></script>
{% endblock %}

