{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% set last_edited = app.session.get('MenuItem.last_edited') %}
{% set pageAdmin = admin.getConfigurationPool.getAdminByAdminCode('networking_init_cms.admin.page') %}
<div class="dotted" >&nbsp;</div>
<div class="menu_item {% if last_edited == node.id %}info{% endif %}">
    <div class="pull-left text"><i class="glyphicon glyphicon-move cursor-pointer"></i> <a
                class="menu-dialog-link show-tooltip"
                data-original-title="{{ 'action_edit'|trans({}, admin.translationDomain) }}"
                href="{{ admin.generateUrl('edit', {id: node.id}) }}">{{ node.name }}</a>
    </div>
    <div class="pull-right text menu-item-link"><span class="info-soft">
        {% if node.page %}
            {{ 'title.page'|trans({}, admin.translationDomain) }}:</span> <a class="show-tooltip"
                                                                             data-original-title="{{ 'action_page_edit'|trans({}, admin.translationDomain) }}"
                                                                             href="{{ path(pageAdmin.getBaseRouteName() ~'_edit', {id: node.page.id}) }}">{{ node.page.pageName }}</a>
        {% elseif node.redirectUrl %}
            {{ 'label_redirect_url'|trans({}, admin.translationDomain) }}:</span> <a target="_blank"
                                                                                     href="{{ node.redirectUrl }}">{{ node.redirectUrl }}</a>
        {% endif %}
    </div>
    <div class="icons pull-right">
            <a href="{{ admin.generateUrl('edit', {id: node.id}) }}"
               class="menu-dialog-link btn btn-default btn-sm button-in-row link-page-edit show-tooltip"
               data-original-title="{{ 'action_edit'|trans({}, admin.translationDomain) }}"
               data-page_id="{{ node.id }}">
                <i class="glyphicon glyphicon-pencil"></i>
            </a>

            <a href="{{ admin.generateUrl('delete', {id: node.id}) }}"
               class="menu-dialog-link btn btn-default btn-sm button-in-row show-tooltip"
               data-original-title="{{ 'action_delete'|trans({}, admin.translationDomain) }}"
               data-page_id="{{ node.id }}">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
