{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<ul class="menu-tabs nav nav-tabs">
    {% for key, menu in menus %}
        <li {% if loop.first %}class="active"{% endif %}>
            <a href="#menu_{{ menu.rootNode.id }}" data-toggle="tab">{{ menu.rootNode.name }}
            </a>

        </li>
    {% endfor %}
    {% if is_granted("ROLE_SUPER_ADMIN") %}
        <li>
            <a href="{{ admin.generateUrl('create', {'subclass': 'menu'}) }}" class="menu-dialog-link"><i
                        class="glyphicon glyphicon-plus"></i></a>
        </li>
    {% endif %}
</ul>

<div class="tab-content">
    {% for key, menu in menus %}
        <div class="tab-pane navigation menu-tree sortable {% if loop.first %}active{% endif %}" id="menu_{{ menu.rootNode.id }}">
            <div class="row">
                <div class="col-md-12">
                    <p class="info-soft margin-top">
                        <i>
                            {% if menu.rootNode.description %}
                                {{ menu.rootNode.description }}
                            {% else %}
                                {{ 'info.please_enter_description'|trans({}, admin.translationDomain) }}
                            {% endif %}
                        </i>
                    </p>
                    {% if is_granted("ROLE_SUPER_ADMIN") %}
                        <p>
                            <a href="{{ admin.generateUrl('edit', {'subclass': 'menu', 'id': menu.rootNode.id}) }}"
                               class="colored-link menu-dialog-link">
                                {{ 'button.menu.settings'|trans({}, admin.translationDomain) }}
                            </a> |
                            <a href="{{ admin.generateUrl('delete', {'subclass': 'menu', 'id': menu.rootNode.id}) }}"
                               class="colored-link menu-dialog-link">
                                {{ 'button.menu.delete'|trans({}, admin.translationDomain) }}
                            </a>
                        </p>
                    {% endif %}
                </div>
            </div>

            <div class="clearfix"></div>

            <h1>
                <span class="info-soft">{{ menu.rootNode.name }}</span>{% include '@NetworkingInitCms/MenuItemAdmin/menu_create_button.html.twig' with {'root_id': menu.rootNode.id} %}
            </h1>

            {% if  menu.navigation %}
                <div class="table-style-labels">
                    <div class="pull-left menu-item-link-label">
                        {{ 'label.menu_item_name'|trans({}, admin.translationDomain) }}
                    </div>

                    <div class="pull-right menu-item-link-label">
                        {{ 'label.linked_resource'|trans({}, admin.translationDomain) }}
                    </div>
                    <div class="clearfix">&nbsp;</div>
                </div>
                {{ menu.navigation|raw }}

                <p>&nbsp;</p>
                {#{% include '@NetworkingInitCms/MenuItemAdmin/menu_create_button.html.twig' with {'root_id': menu.rootNode.id} %}#}
            {% endif %}

        </div>
    {% endfor %}
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="menu_dialog">
</div>