{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
<div class="card-rounded-bottom border-end border-start border-bottom px-9 pt-8 pb-0 mb-7"
     style="box-shadow: 0px 2rem 5rem 0rem rgba(0,0,0,.05)"
>
        <ul class="nav nav-tabs nav-line-tabs fs-6 border-0">
            {% for key, menu in menus %}
                <li class="nav-item" >
                    <a class="nav-link {{ loop.first?'active':'' }}" href="#menu_{{ menu.rootNode.id }}" data-bs-toggle="tab">{{ menu.rootNode.name }}
                    </a>

                </li>
            {% endfor %}
            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <li>
                    <a href="{{ admin.generateUrl('create', {'subclass': 'menu'}) }}" class="btn btn-sm btn-default menu-dialog-link"><i
                                class="fa fa-plus"></i></a>
                </li>
            {% endif %}
        </ul>
</div>

<div class="tab-content">
    {% for key, menu in menus %}

        <div class="tab-pane navigation menu-tree sortable {% if loop.first %}active{% endif %}" id="menu_{{ menu.rootNode.id }}">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        {{ menu.rootNode.name }}
                    </h3>
                    <div class="card-toolbar">
                        {% include '@NetworkingInitCms/MenuItemAdmin/menu_create_button.html.twig' with {'root_id': menu.rootNode.id} %}
                    </div>

                </div>

                <div class="card-body">
                    <div class="d-flex flex-stack">

                        <p class="info-soft margin-top">
                            <i>
                                {% if menu.rootNode.description %}
                                    {{ menu.rootNode.description }}
                                {% else %}
                                    {{ 'info.please_enter_description'|trans({}, admin.translationDomain) }}
                                {% endif %}
                            </i>
                        </p>
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <p>
                                <a href="{{ admin.generateUrl('edit', {'subclass': 'menu', 'id': menu.rootNode.id}) }}"
                                   class="colored-link menu-dialog-link">
                                    {{ 'button.menu.settings'|trans({}, admin.translationDomain) }}
                                </a> |
                                <a href="{{ admin.generateUrl('delete', {'subclass': 'menu', 'id': menu.rootNode.id}) }}"
                                   class="colored-link menu-dialog-link">
                                    {{ 'button.menu.delete'|trans({}, admin.translationDomain) }}
                                </a>
                            </p>
                        {% endif %}
                    </div>
                    {% if  menu.navigation %}
                        <div class="d-flex flex-stack text-muted mb-2">
                            <div>
                                {{ 'label.menu_item_name'|trans({}, admin.translationDomain) }}
                            </div>

                            <div>
                                {{ 'label.linked_resource'|trans({}, admin.translationDomain) }}
                            </div>
                        </div>
                        <div class="form-check form-switch form-check-custom form-check-solid mb-3">
                            <input class="form-check-input  h-20px w-30px tree-show-all" type="checkbox" data-tree-id="menu_tree_{{ menu.rootNode.id }}"/>
                            <label class="form-check-label" for="flexSwitchDefault">
                                {{ 'link.show_all'|trans({}, 'NetworkingInitCmsBundle') }}
                            </label>
                        </div>
                        <div class="menu_tree" id="menu_tree_{{ menu.rootNode.id }}" data-tree="{{ menu.navigation|json_encode }}"></div>
                    {% endif %}
                </div>
            </div>

        </div>
    {% endfor %}
</div>
