{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends '@NetworkingInitCms/CRUD/base_list.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('bundles/networkinginitcms/admin-theme/plugins/custom/jstree/jstree.bundle.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}



{% block actions %}
    {% set pageAdmin = admin.getConfigurationPool.getAdminByAdminCode('networking_init_cms.admin.page') %}
    {% if page_id is defined and page_id %}
            <a class="btn btn-custom btn-sm"
               href="{{ path( pageAdmin.getBaseRouteName() ~'_edit', {'id':1}) }}">&larr; Back to page</a>
    {% endif %}
{% endblock %}
{% block list_filters %}
    {% if admin.datagrid.filters and not app.request.isxmlhttprequest %}
        <form action="{{ admin.generateUrl('list') }}" method="GET" class="kt-form kt-form--fit card-rounded-top px-8 py-9 border menu-filter bg-white"
              style="box-shadow: 0px 2rem 5rem 0rem rgba(0,0,0,.05)">
            {% set withAdvancedFilter = false %}
            {% set activeHiddenFilters = false %}
            {% set advancedFilters = [] %}
            {% set showFilters = [] %}

            {% for key, filter in admin.datagrid.filters %}

                {% if not loop.first and ( filter.isActive and filter.option('advanced_filter') is same as (true)) %}

                {% endif %}

                {% if filter.option('show_filter') is not same as (true) and not loop.first %}
                    {% set advancedFilters = advancedFilters|merge([key]) %}
                    {% if filter.isActive()  %}
                        {% set activeHiddenFilters = true %}
                    {% endif %}
                {% endif %}

                {% if filter.option('show_filter') is same as (true) or loop.first %}
                    {% set showFilters = showFilters|merge([key]) %}
                {% endif %}

                {% if filter.option('advanced_filter') %}
                    {% set withAdvancedFilter = true %}
                {% endif %}

            {% endfor %}

            {% for filterName in showFilters %}
                {% set filter = admin.datagrid.filters[filterName] %}

                <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center me-3 w-50">
                        {% if 'hidden' not in form.children[filter.formName].children['type'].vars.block_prefixes %}
                            <div class="d-none col-md-2 {% if filter.option('advanced_filter') %}advanced-filter{% endif %}">
                                {% set attr = form[filter.formName].children['value'].vars.attr|default({}) %}
                                {{ form_widget(form.children[filter.formName].children['type'], {'attr':  attr}  ) }}
                            </div>
                        {% else %}
                            {{ form_widget(form.children[filter.formName].children['type']  ) }}
                        {% endif %}
                        <div class="d-flex flex-row-fluid">

                            {% set field_options = filter.options.field_options|default({}) %}

                            {%- set row_attr = field_options.row_attr|default({})|merge({
                                'class': 'w-100 '  ~ field_options.row_attr.class|default('') }) -%}

                            {{ form_row(form.children[filter.formName].children['value'],
                                {
                                    'label': field_options.label|default(filter.label),
                                    'attr':{'placeholder': filter.options.attr.placeholder|default()},
                                    'translation_domain': admin.translationDomain,
                                    'row_attr': row_attr,
                                }) }}
                        </div>
                    </div>
                    {% if loop.last %}
                        <div class="d-flex align-items-center">
                            <input type="submit" class="btn btn btn-sm btn-primary me-5"
                                   value="{{ 'btn_filter'|trans({}, 'NetworkingInitCmsBundle') }}"/>
                            <a href="{{ admin.generateUrl('list', {filters: 'reset'}) }}"
                               class="btn btn-sm btn-light  me-5">
                                {{ 'link_reset_filter'|trans({'%admin_label%': admin.label}, 'NetworkingInitCmsBundle') }}</a>
                            {% if advancedFilters|length > 0 %}
                                <a href="#" id="kt_horizontal_search_advanced_link"
                                   class="btn btn-link collapsed" data-bs-toggle="collapse"
                                   data-bs-target="#kt_advanced_search_form" aria-expanded="false">{{ 'link.show_more_filters'|trans({}, 'NetworkingInitCmsBundle') }}</a>
                            {% endif %}

                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            {% if admin.hasActiveSubclass %}
                <input type="hidden" name="subclass" id="filter_subclass" value="{{ admin.activeSubclassCode }}"/>
            {% endif %}
            <input type="hidden" name="filter[{{ constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::PAGE') }}]" id="filter__page" value="1">
            {% set foo = form[constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::PAGE')].setRendered() %}
            {{ form_rest(form) }}
        </form>

    {% endif %}
{% endblock %}

{% block list_table %}
<div id="menuTabs"
     data-list-url="{{ admin.generateUrl('list', {'render': true}) }}"
     data-update-url="{{ admin.generateUrl('ajaxController', {"operation":"updateNodes"}) }}"
     data-last-edited="{{ menu_id }}">
    {% include "@NetworkingInitCms/MenuItemAdmin/menu_tabs.html.twig" %}
</div>
<div class="modal fade" role="dialog" id="menu_dialog">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock %}

{% block before_body_end %}
    {{ parent() }}
    <script src="{{ asset('bundles/networkinginitcms/admin-theme/plugins/custom/jstree/jstree.bundle.js') }}"></script>
    <script src="{{ asset('menuAdmin.js', 'init_cms') }}"></script>
{% endblock %}
