{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{%- set _preview = block('preview') is defined ? block('preview')|trim : null %}
{% set _form = block('form') is defined ? block('form')|trim : null %}
{% set _show = block('show') is defined ? block('show')|trim : null %}
{% set _list_table = block('list_table') is defined ? block('list_table')|trim : null %}
{% set _list_filters = block('list_filters') is defined ? block('list_filters')|trim : null %}
{% set _side_menu    = block('side_menu') is defined ? block('side_menu')|trim : null %}
{% set _help_text    = block('help_text') is defined ? block('help_text')|trim : null %}
{% set _tab_menu = block('tab_menu') is defined ? block('tab_menu')|trim : null %}
{% set _content = block('content') is defined ? block('content')|trim : null %}
{% set _title = block('title') is defined ? block('title')|trim : null %}
{% set _breadcrumb = block('breadcrumb') is defined ? block('breadcrumb')|trim : null %}
{% set _actions = block('actions') is defined ? block('actions')|trim : null %}
{% set _navbar_title = block('navbar_title') is defined ? block('navbar_title')|trim : null %}
{% set _list_filters_actions = block('list_filters_actions') is defined ? block('list_filters_actions')|trim : null -%}
{% set isActive      = false %}
{% if admin is defined %}
    {% set currentAdmin = admin %}
{% endif %}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    {% block meta_config %}
        <meta name="init-cms-setup"
              data-init-cms-config='{{ {'DEBUG':sonata_config.getOption('js_debug'),'CONFIRM_EXIT': true}|json_encode()|raw }}'
              data-init-cms-translations='{{ {CONFIRM_EXIT: 'confirm_exit'|trans({}, 'SonataAdminBundle')}|json_encode()|raw }}'>
    {% endblock %}
    {% block stylesheets %}
        <link href="{{ asset('networking_initcms.css', 'init_cms') }}" type="text/css" rel="stylesheet" media="screen"/>
        {% block content_css %}
            {% for css in content_css() %}
                <link href="{{ asset(css) }}" type="text/css" rel="stylesheet" media="screen"/>
            {% endfor %}
        {% endblock content_css %}
        <link href="{{ asset('vendor/featherlight/src/featherlight.css', 'init_cms') }}" type="text/css"
              rel="stylesheet" media="screen"/>
    {% endblock %}

    {% block javascripts %}

        <script type="text/javascript" src="{{ asset('admin.js', 'init_cms') }}"></script>
        <script type="text/javascript" src="{{ asset('jquery-plugins.js', 'init_cms') }}"></script>
        <script type="text/javascript" src="{{ asset('bootstrap.js', 'init_cms') }}"></script>
        <script type="text/javascript" src="{{ asset('bootstrap-plugins.js', 'init_cms') }}"></script>
        <script type="text/javascript" src="{{ asset('app.js', 'init_cms') }}"></script>
        <script type="text/javascript" src="{{ asset('admin-lte/app.min.js', 'init_cms') }}"></script>
    {% endblock javascripts %}

    <title>
        {% block meta_title %}
            {{ 'Admin'|trans({}, 'SonataAdminBundle') }}

            {% if admin is defined %}
                &gt; {{ admin.label|trans({}, admin.translationDomain )|striptags }}
                {% if _title is not empty %}&gt; {{ _title|raw|replace({'&quot;': ''})|striptags }}{% endif %}
            {% endif %}
        {% endblock %}
    </title>
</head>
{% block body_tag %}
<body class="{% block body_class %}initcms{% endblock %}">
{% endblock body_tag %}

{% block body_start %}
{% endblock body_start %}

{% block body %}

    {% block init_cms_top_nav %}
        {% include '@NetworkingInitCms/Navbar/admin_navbar.html.twig' %}
    {% endblock init_cms_top_nav %}

{% block navbar_spacer %}
    <div class="navbar-spacer"></div>
{% endblock navbar_spacer %}

    <div class="{% block container_class %}container{% if app.user and app.user.getAdminSetting('admin_portal_width') != 'small' %}-fluid{% endif %}{% endblock container_class %} row-offcanvas">
        <div class="row">
        {% block sonata_wrapper %}
            <div class="col-sm-12 col-xs-12 col-md-offset-2 col-md-10 notice-block affix">
                {% block notice %}
                    {% for notice_level in ['success','error','info', 'warning'] %}
                        {% set session_var = 'sonata_flash_' ~ notice_level %}
                        {% for flash in app.session.flashbag.get(session_var) %}
                            <div class="alert {{ (notice_level=='error')?'alert-danger':'alert-' ~ notice_level }}"
                                 role="alert">
                                <a class="close" data-dismiss="alert" href="#">×</a>
                                {{ flash }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endblock notice %}
            </div>
            {% block sidebar_left %}
                <div class="col-xs-12 col-sm-12 col-md-2  sidebar-offcanvas">
                    <div class="nav-main nav-collapse">
                        <aside class="main-sidebar">
                            <section class="nav-custom sidebar">
                                {% block side_bar_nav %}
                                    {{ knp_menu_render('sonata_admin_sidebar', {template: '@NetworkingInitCms/Menu/admin_side_menu.html.twig', }) }}
                                {% endblock %}
                            </section>
                        </aside>
                    </div>
                </div>
            {% endblock sidebar_left %}
            <div class="col-xs-12 {% if block('sidebar_left') %}col-md-10{% else %}col-md-12{% endif %} content-main">

                <div class="row content-top">
                    <div class="col-md-4">
                    </div>
                </div>
                {% block page_title %}
                    <div class="row content-head">
                        <div class="col-xs-7 page_title">
                            {% if _title is not empty or action is defined %}
                                <h1>
                                    {% if _title is not empty %}
                                        {{ _title|raw }}
                                    {% else %}
                                        {% if action is defined %}
                                            {{ render_breadcrumbs_for_title(admin, action)|replace({'&lt;': '<', '&gt;':'>'})|raw }}
                                        {% endif %}
                                        {% if action == 'edit' %}
                                            {% set settings = {} %}
                                            {% if object.locale is defined %}
                                                {% set settings = {'locale': object.locale} %}
                                            {% endif %}

                                            <a class="link-underlined font-small font-light"
                                               href="{{ admin.generateUrl('list', settings) }}">{{ 'link.go_to_list'|trans({'%admin_label%':admin.label}, 'NetworkingInitCmsBundle') }}</a>
                                        {% endif %}
                                    {% endif %}

                                </h1>
                            {% endif %}
                        </div>

                        <div class="col-xs-5 context-head">
                            {% block top_actions %}{% endblock %}
                            {% if app.user  and is_granted('ROLE_SONATA_ADMIN') %}
                                {% if _help_text is empty %}
                                    {% if admin is not defined %}
                                        {% set adminCode = 'dashboard' %}
                                        {% set actionHelp = '' %}
                                    {% else %}
                                        {% set adminCode = admin.code %}
                                        {% set actionHelp = action %}
                                    {% endif %}
                                    <div class="level-headline-icon pull-right"><a
                                                href="{{ url('networking_init_cms_help', {'adminCode':adminCode,'action':actionHelp}) }}"
                                                target="_blank">
                                            <div class="info_button_medium"></div>
                                        </a></div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endblock %}

                {% block sonata_admin_content %}
                    <div class="row row-content-wide">
                        <div class="sonata-ba-content col-md-{% if _side_menu is empty %}12{% else %}10{% endif %}">

                            {% if _preview is not empty %}
                                {{ _preview|raw }}
                            {% endif %}

                            {% if _content is not empty %}
                                {{ _content|raw }}
                            {% endif %}

                            {% if _help_text is not empty %}
                                {{ _help_text|raw }}
                            {% endif %}

                            {% if _show is not empty %}
                                {{ _show|raw }}
                            {% endif %}

                            {% if _form is not empty %}
                                <div class="sonata-ba-form">
                                    {{ _form|raw }}
                                </div>
                            {% endif %}

                            {% if _list_table is not empty or _list_filters is not empty or (_actions is not empty and _show is not empty)%}

                                {{ _list_filters|raw }}
                                {% if _actions is not empty %}
                                    {{ _actions|raw }}
                                {% endif %}
                                {{ _list_table|raw }}

                            {% endif %}

                        </div>

                        {% if _side_menu is not empty %}
                            <div class="sidebar col-md-2">
                                <div class="sonata-ba-side-menu">{{ _side_menu|raw }}</div>
                            </div>
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
        {% endblock sonata_wrapper %}
        </div>

        {% block footer %}
            {{ sonata_block_render({ 'type': 'networking_init_cms.block.service.version' }, {}) }}
        {% endblock footer %}
    </div>

    <div id="end" style="height: 100px;">&nbsp;</div>
{% block before_body_end %}

    {% if app.request.getLocale()|slice(0, 2) != 'en' %}
    <script src="{{ asset('bundles/networkinginitcms/vendor/smalot-bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.' ~ app.request.getLocale()|slice(0, 2) ~'.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset('bundles/networkinginitcms/vendor/select2/js/i18n/'~ app.request.getLocale()|slice(0, 2) ~'.js') }}"
            type="text/javascript"></script>
    {% endif %}
    <script>
        (function($){
            $('[data-provider="datepicker"]').datetimepicker({
                autoclose: true,
                minView: 'month',
                todayBtn: true,
                startView: 'month'
            });

            $('[data-provider="datetimepicker"]').datetimepicker({
                autoclose: true,
                todayBtn: true
            });

            $('[data-provider="timepicker"]').datetimepicker({
                autoclose: true,
                format: 'hh:ii',
                formatViewType: 'time',
                maxView: 'day',
                minView: 'hour',
                startView: 'day'
            });
        })(jQuery)
    </script>
{% endblock before_body_end %}
    {# Render any javascript which was given usin the jsblock twig nodes#}
{% jsblock 'render' %}
{% endblock body %}
</body>
</html>
