{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends '@NetworkingInitCms/admin_layout.html.twig' %}

{% block init_cms_top_nav %}{% endblock %}
{% block sidebar_left %}{% endblock %}
{% block navbar_spacer %}{% endblock %}

{% block body_tag %}
<body id="kt_app_body"
        {% if app.request.cookies.get('sidebar_minimize_state', 'off') == 'on' %}
            data-kt-app-sidebar-minimize="on"
        {% endif %}
        {% if _side_menu %}
            data-kt-app-aside-fixed="true"
        {% endif %}
      data-kt-app-page-loading-enabled="true" data-kt-app-page-loading="on"
      class="app-default">


{% endblock body_tag %}

{% block sonata_admin_content %}

        {% if _preview is not empty %}
            {{ _preview|raw }}
        {% endif %}

        {% if _content is not empty %}
            {{ _content|raw }}
        {% endif %}

        {% if _help_text is not empty %}
            {{ _help_text|raw }}
        {% endif %}

        {% if _show is not empty %}
            {{ _show|raw }}
        {% endif %}

        {% if _form is not empty %}
            <div class="sonata-ba-form">
                {{ _form|raw }}
            </div>
        {% endif %}

        {% if _list_table is not empty %}
            {% if _list_filters is not empty %}
                {{ _list_filters|raw }}
            {% endif %}
            {{ _list_table|raw }}
        {% endif %}

{% endblock %}



{% block footer %}{% endblock %}

