{% import _self as macros %}
{% macro tag_tree(tags, lastItem, tagAdmin, noSort) %}
    {% for tag in tags %}
        <li class="table-row-style sortable-tag {% if noSort %}mjs-nestedSortable-collapsed{% endif %} {% if lastItem and tag.id == lastItem %}last-item{% endif %}" id="tag_{{ tag.id }}" data-tag-name="{{ tag.name }}">
                <div class="dotted">&nbsp;</div>
                <div class="handle menu_item tag_item" id="div_{{ tag.id }}">
                    <i class="tag_folder glyphicon glyphicon-folder-close cursor-pointer"></i>&nbsp;
                    <a class="tag_link" data-pk="{{ tag.id }}" href="#" >{{ tag.name }}</a>

                    {% if not noSort and tagAdmin.isGranted('DELETE', tag) and tagAdmin.hasRoute('delete') %}
                        <a href="{{ tagAdmin.generateObjectUrl('delete', tag, {'returnToMedia': true}) }}" class="pull-right dialog-link delete-tag" style="display: none"
                           id="{{ tagAdmin.getClassnameLabel() }}_{{ tag.id }}" data-original-title="{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}" title="{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    {% endif %}
                </div>
                <ul class="table-row-style">
                    {{ _self.tag_tree(tag.children, lastItem, tagAdmin, noSort) }}
                </ul>
        </li>
    {% endfor %}
{% endmacro %}

{% set noSort = noSort is defined ? true: false %}
<div class="sortable">
    <ul id="tag-tree" class="table-row-style ui-sortable">
        <li class="table-row-style no-nest ">
            <div class="dotted">&nbsp;</div>
            <div class="handle menu_item tag_item info"><a class="show_all_media"  href="#">Show All</a></div>
        </li>
        {{ macros.tag_tree(tags, lastItem, tagAdmin, noSort) }}
    </ul>
</div>
