{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'NetworkingInitCmsBundle:CRUD:base_list.html.twig' %}

{% block list_table %}
    <div id="menuTabs">
        {% include "NetworkingInitCmsBundle:MenuItemAdmin:menu_tabs.html.twig" %}
    </div>
{% endblock %}
{% block actions %}
{% endblock %}
{% block list_filters %}
    {% if admin.datagrid.filters and not app.request.isxmlhttprequest %}

        <form action="{{ admin.generateUrl('list') }}" method="GET" class="form-inline filters menu-filter">

            {% set filter_main = '' %}
            {% set filter_hidden = '' %}
            {% for filter in admin.datagrid.filters %}

                {% if filter.options.hidden is not defined  or (filter.options.hidden == false) %}
                    {% set filter_main %}
                    {{ filter_main }}
                    {{ form_widget(form.children[filter.formName].children['type'], {'attr':{'class': 'input-medium'}}) }}
                    {{ form_widget(form.children[filter.formName].children['value'], {'attr':{'placeholder': admin.trans(filter.label), 'class': 'input-medium'} }) }}
                    {% endset %}
                {% else %}
                    {% set filter_hidden %}
                    {{ filter_hidden }}
                    <label class="filter {{ filter.isActive ? 'active' : 'inactive' }}"> {{ admin.trans(filter.label) }}</label>
                    {{ form_widget(form.children[filter.formName].children['type'], {'attr':{'class': 'input-medium'}}) }}
                    {{ form_widget(form.children[filter.formName].children['value'], {'attr':{'class': 'input-medium'}}) }}
                    {% endset %}
                {% endif %}
            {% endfor %}
            {#<strong>{{ 'label_filters'|trans({}, admin.translationDomain) }}</strong>#}

            <div>
                <div class="pull-left form-inline ">
                    <strong>{{ 'info.filter'|trans({'%admin_label%': admin.label}, 'NetworkingInitCmsAdmin') }}</strong>
                    {{ filter_main }}
                    <input type="hidden" name="filter[_page]" id="filter__page" value="1"/>
                    {% set foo = form.children['_page'].setRendered() %}
                    {{ form_rest(form) }}

                    <input type="submit" class="btn btn-small"
                                          value="{{ 'btn_filter'|trans({}, 'NetworkingInitCmsAdmin') }}"/>

                    <a href="{{ admin.generateUrl('list', {filters: 'reset'}) }}" class="link-underlined">
                        {{ 'link_reset_filter'|trans({'%admin_label%': admin.label}, 'NetworkingInitCmsAdmin') }}
                    </a>
                    {% if filter_hidden %}
                        <a data-toggle="collapse" data-target="#hidden_filters">
                            <i class="icon-caret-right" id="filter_toggle"></i>
                            {{ 'link.show_more_filters'|trans({}, 'NetworkingInitCmsAdmin') }}
                        </a>
                    {% endif %}
                </div>
                <div class="clearfix">&nbsp;</div>
            </div>


            <div id="hidden_filters" class="collapse">
                {% if filter_hidden != '' %}
                    {# add div with hidden / show function #}
                    {{ filter_hidden }}

                {% endif %}
            </div>

        </form>

    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/networkinginitcms/css/navigation.css') }}" type="text/css"
          media="all"/>
{% endblock stylesheets %}
{% block footer %}
    {{ parent() }}
    <script src="{{ asset('bundles/networkinginitcms/js/jquery.mjs.nestedSortable.js') }}"
            type="text/javascript"></script>
    {% include "NetworkingInitCmsBundle:MenuItemAdmin:menu_list_script.html.twig" %}
{% endblock %}
