{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>
moved all relation fields to the networking crud folder

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'NetworkingInitCmsBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if value %}
        {% if field_description.hasAssociationAdmin and field_description.associationadmin.hasRoute('edit') and field_description.associationadmin.isGranted('EDIT') %}
            <a href="{{ field_description.associationadmin.generateObjectUrl('edit', value) }}" class="show-tooltip" data-original-title="{{ value|render_relation_element(field_description) }}">{{ value|render_relation_element(field_description) }}</a>
        {% else %}
            <span class="show-tooltip" data-original-title="{{value|render_relation_element(field_description)}}">{{ value|render_relation_element(field_description) }}</span>
        {% endif %}
    {% endif %}
{% endblock %}