{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}


{% if admin.isGranted('DELETE', object) and admin.hasRoute('delete') and (object.isDeletable() is not defined or  object.isDeletable == 1 ) %}
    <a href="{{ admin.generateObjectUrl('delete', object) }}" class="btn btn-small button-in-row show-tooltip dialog-link" id="{{ admin.getClassnameLabel() }}_{{ object.id }}" data-original-title="{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}" title="{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}"><i class="icon-trash"></i>
   </a>
{% endif %}
