{% block form %}
{% set url = admin.id(object) ? 'edit' : 'create' %}

{% if not admin.hasRoute(url) %}
<div>
    {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
</div>
{% elseif app.request.isxmlhttprequest %}
    <div id="pageStatusSettings">
        {% include 'NetworkingInitCmsBundle:CRUD:page_status_buttons.html.twig' %}
    </div>
    <div id="pageSettings">
        {% include 'NetworkingInitCmsBundle:CRUD:page_settings_fields.html.twig' %}
    </div>
{% else %}
    <form class="form-vertical"
          action="{{ admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}" {{ form_enctype(form) }}
          method="POST">
        {% if form.vars.errors|length > 0 %}
            <div class="sonata-ba-form-error">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        {% block sonata_pre_fieldsets %}{% endblock %}

        <div class="span7">
            {% set form_group = admin.formgroups.page_content %}
            {% for field_name in form_group.fields %}
                {% if admin.formfielddescriptions[field_name] is defined %}
                    {{ form_row(form[field_name]) }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="span3">
            <div class="accordion" id="accordion1">
                {# page status accordion #}
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" 
                           href="#collapseZero">
                            <div class="accordion-caret"><b class="caret"></b></div>
                            {{ 'legend.page_status'|trans({}, admin.translationdomain) }} -
                            <i class="{% if not object.isPublished() %}color-draft{% endif %} page_status">{{ object.status|trans({}, admin.translationdomain) }}</i>
                        </a>
                    </div>
                    <div id="collapseZero" class="accordion-body collapse in">
                        <div class="accordion-inner" style="min-height:70px;" >
                            <div id="pageStatusSettings">
                            {% include 'NetworkingInitCmsBundle:CRUD:page_status_buttons.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
                {% if admin.translationLanguages.count() %}
                {# translation accordion #}
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" 
                           href="#collapseOne">
                            <div class="accordion-caret"><b class="caret"></b></div>
                            {{ 'legend.translations'|trans({}, admin.translationdomain) }}
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse">
                        <div class="accordion-inner">
                           <div id="translationSettings">
                               {% include 'NetworkingInitCmsBundle:CRUD:page_translation_settings.html.twig' %}
                           </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {# menu accordion #}
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" 
                           href="#collapseTwo">
                            <div class="accordion-caret"><b class="caret"></b></div>
                            {{ 'legend.menu_connections'|trans({}, admin.translationdomain) }}
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                        {% for rootNode in rootMenus %}
                            <label> {{ 'label.menu_link'|trans({'%menu_name%': rootNode.name}, admin.translationdomain) }}
                                <a href="{{ url('admin_networking_initcms_menuitem_createFromPage', {"rootId":rootNode.id, "pageId": object.id}) }}" >
                                    {{ 'link.add'|trans({}, admin.translationDomain) }}</a></label>
                                    {% for menuItem in object.getMenuItemByRoot(rootNode.id) %}
                                    &nbsp;&nbsp;{{ menuItem.name }} <a href="{{ url('admin_networking_initcms_menuitem_list')}}">{{ 'link.edit'|trans({}, admin.translationDomain) }}</a><br />
                                    {% endfor %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
                {# page settings accordion #}
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" 
                           href="#collapseThree">
                            <div class="accordion-caret"><b class="caret"></b></div>
                            {{ 'legend.page_settings'|trans({}, admin.translationdomain) }}
                        </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse in">
                        <div class="accordion-inner" style="min-height:70px;">
                            <div class="pull-right">
                                <a href="#" data-target="#pageSettingFields" data-toggle="modal">
                                    <i class="icon-pencil"></i>
                                </a>
                            </div>
                            <div id="pageSettings">
                                {% include 'NetworkingInitCmsBundle:CRUD:page_settings_fields.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block sonata_post_fieldsets %}{% endblock %}

        <!-- start modal page form -->
        <div class="modal form-horizontal" id="pageSettingFields"
             style="display: none"
             role="dialog" aria-labelledby="{{ "legend.page_settings"|trans({}, admin.translationdomain) }}"
             aria-hidden="true">
            <div class="modal-body">
                {{ form_rest(form) }}
            </div>
            <div class="modal-footer">
                {% if app.request.isxmlhttprequest %}
                    {% if admin.id(object) %}
                        <input type="submit" class="btn btn-primary" name="btn_update"
                               value="{{ 'btn_update'|trans({}, 'SonataAdminBundle') }}"/>
                    {% else %}
                        <input type="submit" class="btn" name="btn_create"
                               value="{{ 'btn_create'|trans({}, 'SonataAdminBundle') }}"/>
                    {% endif %}
                {% else %}
                    {% if admin.supportsPreviewMode %}
                        <input class="btn btn-info persist-preview" name="btn_preview" type="submit"
                               value="{{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}"/>
                    {% endif %}
                    {% if admin.id(object) %}
                        <input type="submit" class="btn btn-primary" name="btn_update_and_edit"
                               onclick="return start_save_page_settings(this);"
                               value="{{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}"/>
                    {% else %}
                        <input class="btn btn-primary" type="submit" name="btn_create_and_edit"
                               value="{{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}"/>
                        <input class="btn" type="submit" name="btn_create_and_create"
                               value="{{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}"/>
                    {% endif %}
                {% endif %}
            </div>

        </div>
        <!-- end modal page form -->
    </form>
    {% jsblock 'addToBottom' %}
    {% include 'NetworkingInitCmsBundle:CRUD:page_edit_form_script.html.twig' with {'admin': admin} %}
    {% include 'NetworkingInitCmsBundle:CRUD:page_translation_script.html.twig' with {'admin': admin} %}
    {% include 'NetworkingInitCmsBundle:CRUD:page_status_script.html.twig' with {'admin': admin} %}
    {% jsblock 'addToBottomEnd' %}


{% endif %}
{% endblock %}
