{% extends base_template %}

{% block actions %}
    <div class="sonata-actions">
        {% if admin.hasRoute('edit') and admin.isGranted('EDIT', object) %}
            <a class="btn sonata-action-element"
               href="{{ admin.generateObjectUrl('edit', page) }}">{{ 'link_action_edit'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
        {% if admin.hasRoute('create') and admin.isGranted('CREATE') %}
            <a class="btn sonata-action-element"
               href="{{ admin.generateUrl('create') }}">{{ 'link_action_create'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    {% if app.request.isxmlhttprequest %}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{{ 'title.translation_link'|trans({'%object%': page, '%language%': language}, admin.translationDomain) }}</h3>
        </div>
    {% else %}
        <h1>{{ 'title.translation_link'|trans({'%object%': page, '%language%': language}, admin.translationDomain) }}</h1>
    {% endif %}

    {% if pages|length < 1 %}

        <div class="{% if app.request.isxmlhttprequest %}modal-body{% endif %}">

            {{ 'info.no_pages_for_translation'|trans({}, admin.translationDomain) }}
        </div>
    {% else %}

        <form method="POST" action="{{ admin.generateUrl('link', {'id': page.id, 'locale': locale}) }}">
            <div class="{% if app.request.isxmlhttprequest %}modal-body{% endif %}">

                {{ 'message.translation_link'|trans({'%object%': page, '%original_language%': original_language, '%language%': language}, admin.translationDomain) }}

                {% for page in pages %}
                    <table class="table table-hover table-compact">
                        <thead>
                        <tr>
                            <th style="width:5%"></th>
                            <th id="working-title"
                                style="width:25%">{{ 'page.title'|trans({}, admin.translationDomain) }}</th>
                            <th id="page-status" style="width:10%"></th>
                            <th id="page-url" style="width:50%">URL</th>
                        </tr>
                        </thead>
                        <tr>
                            <td style="vertical-align: middle;"><input type="radio" name="page" value="{{ page.id }}"/>
                            </td>
                            <td style="vertical-align: middle;">{{ page.title }}</td>
                            <td style="vertical-align: middle;"><span
                                    class="{% if page.status == 'status_draft' %}color-draft{% else %}info-soft{% endif %}">{{ page.status|trans({}, admin.translationDomain) }}</span>
                            </td>
                            <td style="vertical-align: middle;">{{ page.fullPath }}</td>

                        </tr>
                    </table>
                {% endfor %}

            </div>
            <div class="{% if app.request.isxmlhttprequest %}modal-footer{% else %}well form-actions{% endif %}">


                {#<input type="hidden" value="DELETE" name="_method" />#}

                {% if app.request.isxmlhttprequest %}
                    <button class="btn" data-dismiss="modal" aria-hidden="true">{{ 'button.cancel'|trans({}, admin.translationDomain) }}</button>
                {% else %}
                    <a href="{{ admin.generateObjectUrl('edit', page) }}" class="btn btn-danger">
                        {{ 'button.cancel'|trans({}, admin.translationDomain) }}
                    </a>
                {% endif %}

                <input type="submit" class="btn btn-custom"
                                           value="{{ 'link.link'|trans({}, admin.translationDomain) }}"/>

                {#{% if admin.hasRoute('edit') and admin.isGranted('EDIT', object) %}#}
                {#{{ 'delete_or'|trans({}, 'SonataAdminBundle') }}#}

                {#<a class="btn btn-success" href="{{ admin.generateObjectUrl('edit', object) }}">{{ 'link_action_edit'|trans({}, 'SonataAdminBundle') }}</a>#}
                {#{% endif %}#}

            </div>
        </form>
    {% endif %}
{% endblock %}