{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}


{% block title %}
    {% set admin_label = admin.getLabel()|trans({}, admin.translationDomain) %}
    {% if admin.id(object) is not null %}
        {% set title =  "title_edit"|trans({'%admin_label%': admin_label}, admin.translationDomain) %}
        {% if  title ==  "title_edit" %}
            {{ "title_edit"|trans({'%name%': admin.toString(object),'%admin_label%': admin_label }, 'SonataAdminBundle') }}
        {% else %}
            {{ title }}
        {% endif %}
    {% else %}
        {% set title =  "title_create"|trans({'%admin_label%': admin_label}, admin.translationDomain) %}
        {% if title == 'title_create' %}
            {{ "title_create"|trans({}, 'SonataAdminBundle') }}
        {% else %}
            {{ title }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/networkinginitcms/css/tui-image-editor.css') }}" type="text/css"
          rel="stylesheet" media="screen"/>
{% endblock %}

{% block actions %}
       {{ block('formactions') }}
{% endblock %}

{% block form %}
    {% set url = objectId|default(admin.id(object)) is not null ? 'edit' : 'create' %}
    {% if not admin.hasRoute(url) %}
        <div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
        </div>
    {% else %}
        {% if app.request.isXmlHttpRequest or app.request.get('_xml_http_request') %}
            {{ block('modalform') }}
        {% else %}
            {{ block('fullpageForm') }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block formstart %}
{% set url = objectId|default(admin.id(object)) is not null ? 'edit' : 'create' %}
<form class="{% if form.vars.horizontal %}form-horizontal{% endif %}  "
      role="form"
      action="{% block sonata_form_action_url %}{{ admin.generateUrl(url, {'id': objectId|default(admin.id(object)), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}{% endblock %}"
        {% if form.vars.multipart %} enctype="multipart/form-data"{% endif %}
        {% if not sonata_admin.adminPool.getOption('html5_validate') %}novalidate="novalidate"{% endif %}
      method="POST">
    {% endblock %}

    {% block formend %}
</form>
{% endblock %}

{% block fullpageForm %}
    <div class="card card-custom" >
        <div class="card-body">
            <!--begin::Form-->
            {{ block('formfields') }}
            <!--end::Form-->
        </div>
    </div>
{% endblock %}

{% block modalform %}
    <div class="modal-dialog modal-xl">
        {{ block('formstart') }}
        <div class="modal-content">
            <div class="modal-header">
                <h3>
                    {% set admin_label = admin.getLabel()|trans({}, admin.translationDomain) %}
                    {% if admin.id(object) is not null %}
                        {% set title =  "title_edit"|trans({'%admin_label%': admin_label}, admin.translationDomain) %}
                        {% if  title ==  "title_edit" %}
                            {{ "title_edit"|trans({'%name%': admin.toString(object),'%admin_label%': admin_label }, 'SonataAdminBundle') }}
                        {% else %}
                            {{ title }}
                        {% endif %}
                    {% else %}
                        {% set title =  "title_create"|trans({'%admin_label%': admin_label}, admin.translationDomain) %}
                        {% if title == 'title_create' %}
                            {{ "title_create"|trans({}, 'SonataAdminBundle') }}
                        {% else %}
                            {{ title }}
                        {% endif %}
                    {% endif %}
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                {{ block('formfields') }}
            </div>
            <div class="modal-footer">
                {{ block('formactions') }}
            </div>
        </div>
        {{ block('formend') }}
    </div>
{% endblock %}

{% block formfields %}
    {% if form.vars.errors|length > 0 %}
            {{ form_errors(form) }}
    {% endif %}
    <div class="row">
        <div class="col-md-{% if object.id %}6{% else %}12{% endif %}">
            {% block sonata_pre_fieldsets %}{% endblock %}
            {% for name, form_group in admin.formgroups %}
                <fieldset {% if form_group.collapsed %}class="sonata-ba-fieldset-collapsed"{% endif %}>
                    {% if admin.formgroups|length > 1 and name != admin.label %}
                        <legend{% if form_group.description != false %} class="sonata-ba-fieldset-collapsed-description"{% endif %}>
                            {% if form_group.collapsed %}
                                <a class="sonata-ba-collapsed" data-toggle="collapse"
                                   data-target="#{{ admin.uniqid }}_{{ loop.index }}"
                                   title="{{ 'link_expand'|trans({}, 'SonataAdminBundle') }}">{{ name|trans({}, admin.translationDomain) }}</a>
                            {% else %}
                                {{ name|trans({}, admin.translationDomain) }}
                            {% endif %}
                        </legend>
                    {% endif %}

                    <div class="{% if form_group.collapsed %}sonata-ba-collapsed-fields collapse{% endif %}"
                         id="{{ admin.uniqid }}_{{ loop.index }}">

                        {% for field_name in form_group.fields %}
                            {% if admin.formfielddescriptions[field_name] is defined %}
                                {{ form_row(form[field_name]) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </fieldset>
            {% endfor %}

            {% block sonata_post_fieldsets %}{% endblock %}
            {{ form_rest(form, {'horizontal': (app.request.isXmlHttpRequest or app.request.get('_xml_http_request') ? 'true': form.vars.horizontal)}) }}

        </div>
        {% if object.id %}
            {% block sonata_media_show_reference %}
                <div class="col-md-6" id="media-preview">
                    {% set previewLink = false %}

                    {% if object.width is defined and object.width %}
                        {% if object.providerName == 'sonata.media.provider.youtube' %}
                            {% set previewLink %}//www.youtube.com/embed/{{ object.providerreference }}?autoplay=1{% endset %}
                        {% elseif object.providerName == 'sonata.media.provider.vimeo' %}
                            {% set previewLink %}//player.vimeo.com/video/{{ object.providerreference }}?autoplay=1{% endset %}
                        {% else %}
                            {% set previewLink %}{% path object, 'reference' %}{% endset %}
                        {% endif %}
                    {% else %}
                        {% if object.contentType == 'application/pdf' %}
                            {% set previewLink %}{{ admin.generateUrl('pdf_preview', {'id': object.id}) }}{% endset %}
                        {% endif %}
                    {% endif %}

                    {% if object.width is defined and object.width %}
                    {% if object.providerName == 'sonata.media.provider.image' %}
                        <script id="image-container"
                                data-image-src="{{ app.request.getSchemeAndHttpHost() }}{% path object, 'reference' %}"
                                data-image-id="{{ object.id }}"
                                data-image-context="{{ object.context }}"
                                data-image-provider="{{ object.providerName }}"
                                data-lang="{{ app.request.locale|slice(0,2) }}"
                        ></script>
                        <div id="image-editor"></div>
                    {% else %}
                    <img src="{% path object, 'reference' %}">
                    {% endif %}
                    {% else %}
                    {% if previewLink %}
                        <iframe src="{{ previewLink }}" width="100%" height="760px"></iframe>
                    {% endif %}
                    {% endif %}
                    <table class="table">
                        <tr>
                            <th>{{ 'label.size'|trans({}, 'SonataMediaBundle') }}</th>
                            <td>
                                {% if object.width is defined and object.width %}{{ object.width|number_format_decimal }}px
                                    x {{ object.height|number_format_decimal }}px
                                    {% if object.size > 0 %}({{ object.size|number_format_decimal }} Bytes){% endif %}
                                {% else %}
                                    {% if object.size > 0 %}{{ object.size|number_format_decimal }} Bytes{% endif %}
                                {% endif %}
                            </td>
                        <tr>
                        <tr>
                            <th>{{ 'label.content_type'|trans({}, 'SonataMediaBundle') }}</th>
                            <td>{{ object.contenttype }}</td>
                        <tr>
                            {% if form.cdnIsFlushable  is defined %}
                        <tr>
                            <th>{{ 'label.cdn'|trans({}, 'SonataMediaBundle') }}</th>
                            <td>
                                {% if object.cdnisflushable %}
                                    {{ 'label.to_be_flushed'|trans({}, 'SonataMediaBundle') }}
                                {% else %}
                                    {{ 'label.flushed_at'|trans({}, 'SonataMediaBundle') }}
                                    {{ object.cdnflushat|date }}
                                {% endif %}
                            </td>
                        <tr>
                            {% endif %}
                        <tr>
                            <th>
                                <a href="{{ path('sonata_media_download', {'id': object|sonata_urlsafeid }) }}">{{ 'label.protected_download_url'|trans({}, admin.translationDomain) }}</a>
                            </th>
                            <td>

                                <div class="input-group">
                                    <input type="text" class="form-control" onClick="this.select();"
                                           readonly="readonly" id="download"
                                           value="{{ url('sonata_media_download', {'id': object|sonata_urlsafeid }) }}"/>
                                    <span class="input-group-addon"><a
                                                class="glyphicon glyphicon-copy copy-link"
                                                data-field="#download"></a></span>
                                </div>
                                {% if 'sonata.media.security.public_strategy' != sonata_media.pool.getContext(object.context).download.strategy %}
                                    <span class="label label-warning">{{ 'label.protected_download_url_notice'|trans({}, 'SonataMediaBundle') }}</span> {{ sonata_media.pool.downloadSecurity(object).description|raw }}
                                {% endif %}
                            </td>
                        <tr>
                            {% if object.width is defined and object.width %}
                            <tr>
                                <th>
                                    <a href="{% path object, 'reference' %}"
                                       data-featherlight-variant="initcms-featherlight"
                                       data-featherlight="image"
                                       target="_blank">{{ 'list.label_original'|trans({}, 'MediaAdmin') }}</a>
                                </th>
                                <td>
                                    <div class="input-group">
                                        <input type="text" class="form-control" onClick="this.select();"
                                               readonly="readonly" id="reference"
                                               value="{{ app.request.schemeAndHttpHost }}{% path object, 'reference' %}"/>
                                        <span class="input-group-addon"><a
                                                    class="glyphicon glyphicon-copy copy-link"
                                                    data-field="#reference"></a></span>
                                    </div>
                                </td>
                            </tr>

                            {% for name, format in sonata_media.pool.formatNamesByContext(object.context) %}
                                <tr>
                                    <th>
                                        <a href="{% path object, name %}"
                                           data-featherlight-variant="initcms-featherlight"
                                           data-featherlight="image"
                                           target="_blank">
                                            {% if format.width %}{{ 'label.width'|trans({}, 'MediaAdmin') }}: {{ format.width }}{% if format.height %}x {{ 'label.height'|trans({}, 'MediaAdmin') }}: {{ format.height }}{% endif %}px{% endif %}
                                        </a>
                                    </th>
                                    <td>


                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control" onClick="this.select();"
                                                       id="{{ name }}"
                                                       readonly="readonly"
                                                       value="{{ app.request.schemeAndHttpHost }}{% path object, name %}"/>
                                                <div class="input-group-append">
                                                    <button class="btn btn-secondary copy-link" data-field="#{{ name }}"><i class="la la-copy icon-lg"></i></button> </div>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <th>
                                    <a href="{% path object, 'reference' %}"
                                       target="_blank">{{ 'list.label_original'|trans({}, 'MediaAdmin') }}</a>
                                </th>
                                <td>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control" onClick="this.select();"
                                                   readonly="readonly" id="reference"
                                                   value="{{ app.request.schemeAndHttpHost }}{% path object, 'reference' %}"/>
                                            <div class="input-group-append"><span class="input-group-text"><i class="la la-copy icon-lg copy-link"  data-field="#reference"></i></span></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            {% endblock sonata_media_show_reference %}
        {% endif %}
    </div>

{% endblock formfields %}

{% block formactions %}
    {% set admin_label = admin.getLabel()|trans({}, admin.translationDomain) %}
    {% if app.request.isXmlHttpRequest or app.request.get('_xml_http_request') %}
        <button class="btn btn-light" data-dismiss="modal"
                aria-hidden="true">{{ 'button.cancel'|trans({'%admin_label%': admin_label}, 'PageAdmin') }}</button>
        {% if admin.id(object) %}
            <input type="submit" class="btn btn-primary" name="btn_update"
                   value="{{ 'btn_update'|trans({'%admin_label%': admin_label}, 'NetworkingInitCmsBundle') }}"/>
        {% else %}
            <input type="submit" class="btn btn-primary" name="btn_create"
                   value="{{ 'btn_create'|trans({'%admin_label%': admin_label}, 'NetworkingInitCmsBundle') }}"/>
        {% endif %}
    {% else %}
        <a href="{{ admin.generateUrl('list') }}" class="btn btn-light-primary font-weight-bolder mr-2">
            <i class="las la-arrow-left"></i>
            {{ 'btn_cancel'|trans({}, 'NetworkingInitCmsBundle') }}
        </a>
        {% if admin.id(object) %}
            <div class="btn-group">
                <button type="submit" class="btn btn-primary font-weight-bolder" name="btn_update_and_edit">
                    <i class="nav-icon las la-sync-alt"></i>
                    {{ 'btn_update_and_edit_again'|trans({'%admin_label%': admin_label}, 'NetworkingInitCmsBundle') }}
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                    <ul class="nav nav-hover flex-column">
                        <li class="nav-item">
                            <button type="submit" class="nav-link btn  btn-link" name="btn_update_and_list">
                                <i class="nav-icon las la-arrow-left"></i>
                                <span class="nav-text">{{ 'btn_update_and_return_to_list'|trans({'%admin_label%': admin_label}, 'NetworkingInitCmsBundle') }}</span>
                            </button>
                        </li>
                        {% if admin.supportsPreviewMode %}
                            <li class="nav-item">
                                <button type="submit" class="nav-link btn btn-link" name="btn_preview">
                                    <i class="nav-icon"></i>
                                    <span class="nav-text">{{ 'btn_preview'|trans({'%admin_label%': admin_label}, 'NetworkingInitCmsBundle') }}</span>
                                </button>
                            </li>
                        {% endif %}
                        {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) and (object.isDeletable() is not defined or  object.isDeletable == 1 ) %}
                            <li class="nav-item">
                                <a href="{{ admin.generateObjectUrl('delete', object) }}" class="nav-link">
                                    <i class="nav-icon las la-trash"></i>
                                    <span class="nav-text">{{ 'link_delete'|trans({}, 'NetworkingInitCmsBundle') }}</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="btn-group">
                <button type="submit" class="btn btn-primary font-weight-bolder" name="btn_create_and_edit">
                    <i class="ki ki-check icon-sm"></i>
                    {{ 'btn_create_and_edit_again'|trans({'%admin_label%': admin_label}, 'NetworkingInitCmsBundle') }}
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                    <ul class="nav nav-hover flex-column">
                        <li class="nav-item">
                            <button type="submit" class="nav-link btn  btn-link" name="btn_create_and_list">
                                <i class="nav-icon las la-arrow-left"></i>
                                <span class="nav-text">{{ 'btn_create_and_return_to_list'|trans({'%admin_label%': admin_label}, 'NetworkingInitCmsBundle') }}</span>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="submit" class="nav-link btn  btn-link" name="btn_create_and_create">
                                <i class="nav-icon las la-plus"></i>
                                <span class="nav-text">{{ 'btn_create_and_create_a_new_one'|trans({'%admin_label%': admin_label}, 'NetworkingInitCmsBundle') }}</span>
                            </button>
                        </li>

                    </ul>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock formactions %}

{% block before_body_end %}
    {{ parent() }}
    <script src="{{ asset('bundles/networkinginitcms/vendor/filerobot-image-editor/index.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset('bundles/networkinginitcms/js/imageEditor.js') }}" type="text/javascript"></script>
    <script>
        (function ($) {
            function copyToClipboard(field) {
                /* Get the text field */
                var copyText = $(field);

                /* Select the text field */
                copyText.select();

                /* Copy the text inside the text field */
                document.execCommand("copy");

                /* Alert the copied text */
                alert('{{ 'copy_to_clipboard'|trans({}, 'MediaAdmin') }}'.replace('%item%', copyText.val()));
            }

            $('body').on('click', '.copy-link', function (e) {
                e.preventDefault();
                var field = $(this).data('field');
                copyToClipboard(field);
            })

        })(jQuery)
    </script>
{% endblock %}
