{% set random = date().timestamp %}
{% for object in datagrid.results %}
    {% set previewLink = false %}
    {% if object.width is defined and object.width %}
        {% if object.providerName == 'sonata.media.provider.youtube' %}
            {% set previewLink %}//www.youtube.com/embed/{{ object.providerreference }}?autoplay=0{% endset %}
            {% set previewType = 'iframe' %}
            {% set iframeWidth = '600px' %}
            {% set iframeHeight = '300px' %}
        {% elseif object.providerName == 'sonata.media.provider.vimeo' %}
            {% set previewLink %}//player.vimeo.com/video/{{ object.providerreference }}?autoplay=0{% endset %}
            {% set previewType = 'iframe' %}
            {% set iframeWidth = '600px' %}
            {% set iframeHeight = '300px' %}
        {% else %}
            {% set previewLink %}{{ sonata_path(object, 'reference')  }}{% endset %}
            {% set previewType = 'image' %}
        {% endif %}
    {% else %}
        {% if object.contentType == 'application/pdf' %}
            {% set previewLink %}{{ admin.generateUrl('pdf_preview', {'id': object.id}) }}{% endset %}
        {% endif %}
        {% set previewType = 'iframe' %}
        {% set iframeWidth = '700px' %}
        {% set iframeHeight = '989px' %}
    {% endif %}
    <div class="media-box" draggable="true" data-object-id="{{ object.id }}" ondragstart="dragstart_handler(event)" ondragend="dragEnd(event)">
        <div class="card card-custom overlay h-100 {% if object.id in selected %}overlay-block{% endif %}">
            <div class="card-body p-0 card-body p-0">
                <div class="overlay-wrapper d-flex flex-center h-100">
                    {% if object.width is defined and object.width %}
                        <img src="{{ sonata_path(object, 'admin')  }}?{{ date().timestamp }}"
                             class="{% if object.width > 250 and object.width > object.height%}w-100 rounded{% endif %}
                              {% if object.height > 154 and object.height > object.width %}h-100{% endif %}
                              "/>
                    {% else %}
                        <div class="d-flex flex-column flex-center my-auto">
                            <div>
                                <i class="{{ get_file_icon(object.getMetadataValue('filename')) }} fs-4x"></i>

                            </div>
                            <div class="position-bottom">
                                {% if app.request.isxmlhttprequest and galleryListMode %}
                                    <a class="select-media font-size-h4 font-weight-bolder text-hover-primary" href="#"
                                       data-object-id="{{ object.id }}"
                                       data-toggle="tooltip"
                                       title="{{ object.name }}">{{ crop_middle(object.name, 24) }}</a>
                                {% else %}
                                    <a href="{{ admin.generateUrl('edit', {'id' : object.id}) }}"
                                       class="font-size-h4 font-weight-bolder text-hover-primary"
                                       data-toggle="tooltip"
                                       title="{{ object.name }}">{{ crop_middle(object.name, 24) }}</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    <br>
                </div>
                <div class="overlay-layer overlay-layer-dark rounded flex-center">

                    <div class="d-flex flex-column flex-center">
                        <div class="mb-1">
                            {% if app.request.isxmlhttprequest and galleryListMode %}
                                <a class="select-media fs-6 fw-semibold text-white text-hover-primary"
                                   href="#" data-object-id="{{ object.id }}"
                                   data-toggle="tooltip"
                                   title="{{ object.name }}">{{ crop_middle(object.name, 24) }}</a>
                            {% else %}
                                <a href="{{ admin.generateUrl('edit', {'id' : object.id}) }}"
                                   class="fs-6 fw-semibold text-white text-hover-primary"
                                   data-toggle="tooltip"
                                   title="{{ object.name }}">{{ crop_middle(object.name, 24) }}</a>
                            {% endif %}
                        </div>
                        <div>
                            {% if not galleryListMode %}
                            {% if previewLink %}
                                <a href="{% if previewType == 'iframe' %}#iframe{{ object.id }}{% else %}{{ previewLink }}{% endif %}"
                                   data-fslightbox="lightbox-basic"
                                        {% if previewType == 'iframe' %}
                                           data-class="d-block"
                                        {% endif %}
                                   title="{{ object.name }}" class="has-action btn btn-clean btn-light btn-icon mr-2"><i
                                            class="fbi bi-eye-fill text-primary"></i></a>
                            {% if previewType == 'iframe' %}
                                <iframe
                                        src="{{ previewLink }}"
                                        id="iframe{{ object.id }}"
                                        width="{{ iframeWidth }}"
                                        height="{{ iframeHeight }}"
                                        frameBorder="0"
                                        class="hidden-iframe"
                                        allow="autoplay; fullscreen"
                                        allowFullScreen
                                ></iframe>
                                {% endif %}
                            {% endif %}



                                {% if app.request.isxmlhttprequest and not show_actions %}
                                    <a class="select-media btn btn-clean btn-icon mr-2  font-weight-bold btn-primary btn-shadow"
                                       href="#"
                                       data-object-id="{{ object.id }}">
                                        {{ 'list.label_select'|trans({}, 'MediaAdmin') }}
                                    </a>
                                {% else %}
                                    {% if(admin.isGranted('EDIT', object)) %}
                                        <a class="btn btn-clean btn-icon mr-2 font-weight-bold btn-primary btn-shadow"
                                           href="{{ admin.generateObjectUrl('edit', object) }}"
                                           title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}"
                                           data-follow="{{ admin.generateObjectUrl('edit', object) }}">
                                            <i class="la la-edit"></i>
                                        </a>
                                    {% endif %}
                                    {% if(admin.isGranted('DELETE', object)) %}
                                        <a href="{{ admin.generateObjectUrl('delete', object) }}"
                                           class="dialog-link btn btn-clean btn-icon mr-2 font-weight-bold btn-danger btn-shadow"
                                           id="{{ admin.getClassnameLabel() }}_{{ object.id }}"
                                           title="{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}">
                                            <i class="la la-trash"></i>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                            {% if multiSelect %}

                                <div class="form-check form-check-custom form-check-success form-check-solid">
                                    <input class="form-check-input" type="checkbox" value="" name="idx[]"
                                           {% if object.id in selected %}checked{% endif %}
                                           class="select_check_box"
                                           data-path="{{ sonata_path(object, 'admin') }}"
                                           data-object-id="{{ object.id }}"
                                           value="{{ admin.id(object) }}"/>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% if datagrid.pager.haveToPaginate() %}
    <div class="col-md-3 col-xs-12 text-right pull-right">
        <label class="control-label"><strong>{% trans  with {'%count%': attribute(admin.datagrid.pager, 'countResults') is defined ? admin.datagrid.pager.countResults : admin.datagrid.pager.nbResults} from 'SonataAdminBundle' %}
                    list_results_count{% endtrans %}</strong></label>
        {% block max_per_page %}
            <br>
            <label class="control-label"
                   for="{{ admin.uniqid }}_per_page">{% trans from 'SonataAdminBundle' %}
                    label_per_page{% endtrans %}</label>
            <select class="per-page small" id="{{ admin.uniqid }}_per_page"
                    style="width: auto; height: auto">
                {% for per_page in admin.getperpageoptions %}
                    <option {% if per_page ==datagrid.pager.maxperpage %}selected="selected"{% endif %}
                            value="{{ admin.generateUrl('list', {'filter':datagrid.values|merge({'_per_page': per_page})}) }}">
                        {{ per_page }}
                    </option>
                {% endfor %}
            </select>
        {% endblock %}
    </div>
    <div class="pagination col-md-3 hidden-sm hidden-xs text-left">
        <p>{{ datagrid.pager.page }} / {{ datagrid.pager.lastpage }}</p>
    </div>
    <div class="col-md-6 col-xs-12 text-center">
        <ul class="pagination pagination-xs">

            {% if datagrid.pager.page != 1 %}
                <li>
                    <a href="{{ admin.generateUrl('list', admin.datagrid.paginationparameters(1)) }}"
                       data-page="1" class="media-pager"
                       data-name="{{ datagrid.values.name?datagrid.values.name.value:'' }}"
                       data-tags="{{ datagrid.values.tags?datagrid.values.tags.value:'' }}"
                       data-sort-order="{{ datagrid.values._sort_order }}"
                       data-sort-by="{{ datagrid.values._sort_by.fieldName}}"
                       title="{{ 'link_first_pager'|trans({}, 'SonataAdminBundle') }}">&laquo;</a>
                </li>
            {% endif %}

            {% if datagrid.pager.page != datagrid.pager.previouspage %}
                <li>
                    <a href="{{ admin.generateUrl('list', admin.datagrid.paginationparameters(datagrid.pager.previouspage)) }}"
                       data-page="{{ datagrid.pager.previouspage }}" class="media-pager"
                       data-name="{{ datagrid.values.name?datagrid.values.name.value:'' }}"
                       data-tags="{{ datagrid.values.tags?datagrid.values.tags.value:'' }}"
                       data-sort-order="{{ datagrid.values._sort_order }}"
                       data-sort-by="{{ datagrid.values._sort_by.fieldName}}"
                       title="{{ 'link_previous_pager'|trans({}, 'SonataAdminBundle') }}">&lsaquo;</a>
                </li>
            {% endif %}

            {# Set the number of pages to display in the pager #}
            {% for page in datagrid.pager.getLinks(sonata_config.getOption('pager_links')) %}
                {% if page == datagrid.pager.page %}
                    <li class="active"><a
                                href="{{ admin.generateUrl('list', admin.datagrid.paginationparameters( page)) }}"
                                data-page="{{ page }}" class="media-pager"
                                data-name="{{ datagrid.values.name?datagrid.values.name.value:'' }}"
                                data-tags="{{ datagrid.values.tags?datagrid.values.tags.value:'' }}"
                                data-sort-order="{{ datagrid.values._sort_order }}"
                                data-sort-by="{{ datagrid.values._sort_by.fieldName}}">{{ page }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ admin.generateUrl('list', admin.datagrid.paginationparameters( page)) }}"
                           data-page="{{ page }}" class="media-pager"
                           data-name="{{ datagrid.values.name?datagrid.values.name.value:'' }}"
                           data-tags="{{ datagrid.values.tags?datagrid.values.tags.value:'' }}"
                           data-sort-order="{{ datagrid.values._sort_order }}"
                           data-sort-by="{{ datagrid.values._sort_by.fieldName}}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if datagrid.pager.page != datagrid.pager.nextpage %}
                <li>
                    <a href="{{ admin.generateUrl('list', admin.datagrid.paginationparameters(datagrid.pager.nextpage)) }}"
                       data-page="{{ datagrid.pager.nextpage }}" class="media-pager"
                       data-name="{{ datagrid.values.name?datagrid.values.name.value:'' }}"
                       data-tags="{{ datagrid.values.tags?datagrid.values.tags.value:'' }}"
                       data-sort-order="{{ datagrid.values._sort_order }}"
                       data-sort-by="{{ datagrid.values._sort_by.fieldName}}"
                       title="{{ 'link_next_pager'|trans({}, 'SonataAdminBundle') }}">&rsaquo;</a>
                </li>
            {% endif %}

            {% if datagrid.pager.page != datagrid.pager.lastpage %}
                <li>
                    <a href="{{ admin.generateUrl('list', admin.datagrid.paginationparameters(datagrid.pager.lastpage)) }}"
                       data-page="{{ datagrid.pager.lastpage }}" class="media-pager"
                       data-name="{{ datagrid.values.name?datagrid.values.name.value:'' }}"
                       data-tags="{{ datagrid.values.tags?datagrid.values.tags.value:'' }}"
                       data-sort-order="{{ datagrid.values._sort_order }}"
                       data-sort-by="{{ datagrid.values._sort_by.fieldName}}"
                       title="{{ 'link_last_pager'|trans({}, 'SonataAdminBundle') }}">&raquo;</a>
                </li>
            {% endif %}
        </ul>

    </div>
{% endif %}
{% if datagrid.results|length < 1 %}
    <p class="notice">
        {{ 'no_result'|trans({}, 'NetworkingInitCmsBundle') }}
    </p>
{% endif %}
