<div class="tiles">
{% set random = date().timestamp %}
{% for object in datagrid.results %}
    {% set previewLink = false %}
    {% if object.width is defined and object.width %}
        {% if object.providerName == 'sonata.media.provider.youtube' %}
            {% set previewLink %}//www.youtube.com/embed/{{ object.providerreference }}?autoplay=0{% endset %}
            {% set previewType = 'iframe' %}
            {% set iframeWidth = '600px' %}
            {% set iframeHeight = '300px' %}
        {% elseif object.providerName == 'sonata.media.provider.vimeo' %}
            {% set previewLink %}//player.vimeo.com/video/{{ object.providerreference }}?autoplay=0{% endset %}
            {% set previewType = 'iframe' %}
            {% set iframeWidth = '600px' %}
            {% set iframeHeight = '300px' %}
        {% else %}
            {% set previewLink %}{{ sonata_path(object, 'reference')  }}{% endset %}
            {% set previewType = 'image' %}
        {% endif %}
    {% else %}
        {% if object.contentType == 'application/pdf' %}
            {% set previewLink %}{{ admin.generateUrl('pdf_preview', {'id': object.id}) }}{% endset %}
        {% endif %}
        {% set previewType = 'iframe' %}
        {% set iframeWidth = '700px' %}
        {% set iframeHeight = '989px' %}
    {% endif %}
    <div class="media-box rounded" draggable="true" data-object-id="{{ object.id }}" ondragstart="dragstart_handler(event)" ondragend="dragEnd(event)">
        <div class="card card-custom overlay h-100 {% if object.id in selected %}overlay-block{% endif %}">
            <div class="card-body p-0 card-body">
                <div class="overlay-wrapper d-flex flex-column flex-center justify-content-evenly h-100"

                     {% if object.width is defined and object.width %}style="background-image: url('{{ sonata_path(object, 'admin')  }}?{{ date().timestamp }}');
                             background-repeat: no-repeat;background-color: var(--bs-app-bg-color);
                             background-position: center;"{% endif %}>
                    {% if object.width is not defined or not object.width %}

                            <div>
                                <i class="{{ get_file_icon(object.getMetadataValue('filename')) }} fs-4x"></i>
                            </div>
                            <div class="position-bottom">
                                {% if app.request.isxmlhttprequest and galleryListMode %}
                                    <a class="select-media font-size-h4 font-weight-bolder text-hover-primary" href="#"
                                       data-object-id="{{ object.id }}"
                                       data-bs-toggle="tooltip"
                                       title="{{ object.name }}">{{ crop_middle(object.name, 24) }}</a>
                                {% else %}
                                    <a href="{{ admin.generateUrl('edit', {'id' : object.id}) }}"
                                       class="font-size-h4 font-weight-bolder text-hover-primary"
                                       data-bs-toggle="tooltip"
                                       title="{{ object.name }}">{{ crop_middle(object.name, 24) }}</a>
                                {% endif %}
                            </div>

                    {% endif %}
                </div>
                <div class="overlay-layer overlay-layer-dark rounded">

                    <div class="d-flex flex-column flex-center">
                        <div class="mb-1">
                            {% if app.request.isxmlhttprequest and galleryListMode %}
                                <a class="select-media fs-6 fw-semibold text-white text-hover-primary"
                                   href="#" data-object-id="{{ object.id }}"
                                   data-bs-toggle="tooltip"
                                   title="{{ object.name }}">{{ crop_middle(object.name, 24) }}</a>
                            {% else %}
                                <a href="{{ admin.generateUrl('edit', {'id' : object.id}) }}"
                                   class="fs-6 fw-semibold text-white text-hover-primary"
                                   data-bs-toggle="tooltip"
                                   title="{{ object.name }}">{{ crop_middle(object.name, 24) }}</a>
                            {% endif %}
                        </div>
                        <div>
                            {% if not galleryListMode %}
                            {% if previewLink %}
                                <a href="{{ previewLink }}"
                                   data-gallery="media-gallery"
                                    {% if previewType == 'iframe' %}
                                       data-class="d-block"
                                        data-width="800px"
                                        data-height="100vh"
                                    {% endif %}
                                     class="has-action btn btn-clean btn-light btn-icon mr-2 light-box-items">
                                    <i class="fbi bi-eye-fill text-primary "></i>
                                </a>
                            {% endif %}

                                {% if app.request.isxmlhttprequest and not show_actions %}
                                    <a class="select-media btn btn-clean btn-icon mr-2  font-weight-bold btn-primary btn-shadow"
                                       href="#"
                                       data-bs-toggle="tooltip"
                                       data-object-id="{{ object.id }}">
                                        {{ 'list.label_select'|trans({}, 'MediaAdmin') }}
                                    </a>
                                {% else %}
                                    {% if(admin.isGranted('EDIT', object)) %}
                                        <a class="btn btn-clean btn-icon mr-2 font-weight-bold btn-primary btn-shadow"
                                           href="{{ admin.generateObjectUrl('edit', object) }}"
                                           title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}"
                                           data-follow="{{ admin.generateObjectUrl('edit', object) }}">
                                            <i class="la la-edit"></i>
                                        </a>
                                    {% endif %}
                                    {% if(admin.isGranted('DELETE', object)) %}
                                        <a href="{{ admin.generateObjectUrl('delete', object) }}"
                                           class="dialog-link btn btn-clean btn-icon mr-2 font-weight-bold btn-danger btn-shadow"
                                           id="{{ admin.getClassnameLabel() }}_{{ object.id }}"
                                           title="{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}">
                                            <i class="la la-trash"></i>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                            {% if multiSelect %}

                                <div class="form-check form-check-custom form-check-success form-check-solid">
                                    <input class="form-check-input" type="checkbox" value="" name="idx[]"
                                           {% if object.id in selected %}checked{% endif %}
                                           class="select_check_box"
                                           data-bs-toggle="tooltip"
                                           data-path="{{ sonata_path(object, 'admin') }}"
                                           data-object-id="{{ object.id }}"
                                           value="{{ admin.id(object) }}"/>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endfor %}

</div>
{% include "@NetworkingInitCms/MediaAdmin/page.html.twig" %}

