{% extends '@NetworkingInitCms/modal-edit.html.twig' %}

{% block title %}
    {% set admin_label = admin.getLabel()|trans({}, admin.translationDomain) %}
    {% if admin.id(object) is not null %}
        {% set title =  "title_edit"|trans({'%admin_label%': admin_label}, admin.translationDomain) %}
        {% if  title ==  "title_edit" %}
            {{ "title_edit"|trans({'%name%': admin.toString(object),'%admin_label%': admin_label }, 'SonataAdminBundle') }}
        {% else %}
            {{ title }}
        {% endif %}
    {% else %}
        {% set title =  "title_create"|trans({'%admin_label%': admin_label}, admin.translationDomain) %}
        {% if title == 'title_create' %}
            {{ "title_create"|trans({}, 'SonataAdminBundle') }}
        {% else %}
            {{ title }}
        {% endif %}
    {% endif %}
{% endblock %}


{% block modal_body %}
    <div id="dropzone_area"
         data-context="{{app.request.get('context')}}"
         data-provider="{{app.request.get('provider')}}"
         data-unique-id="{{ admin.uniqid }}"
    >
        <div>
            <form action="{{ oneup_uploader_endpoint('media_admin') }}?context={{app.request.query.get('context')}}" id="upload-form">
            {{ form_row(form.tags) }}
            {{ form_row(form.providerName) }}
                {% if form.locale is defined %}
                {{ form_row(form.locale) }}
                {% endif %}
                <input type="hidden" name="with_js" value="0">
            </form>
        </div>
        <div id="actions" class="d-flex flex-row justify-content-between mb-2">
            <div class="fileupload-process">
                  <div id="total-progress" class="progress active" role="progressbar" aria-valuemin="0"
                       aria-valuemax="100" aria-valuenow="0" style="opacity: 0;">
                      <div class="progress-bar progress-bar-info" style="width:0;" data-dz-uploadprogress=""></div>
                  </div>
            </div>
            <a class="dropzone-remove-all cancel btn btn-sm btn-light-primary">
                {{ 'upload_btn_cancel_all'|trans({}, 'MediaAdmin') }}
            </a>
        </div>

        <div class="dropzone dropzone-queue">

            <div class="alert alert-primary d-flex flex-row justify-content-center  p-5 mb-10 ">
                <i class="ki-outline ki-cloud-add fs-2hx text-primary me-4 mb-5 mb-sm-0"></i>
                <div class="d-flex flex-column">

                    <p class="fileinput-zone lead dz-clickable" data-dz-clickable="">
                        <a href="#" title="{{ 'upload_help_text'|trans({}, 'MediaAdmin') }}">{{ 'upload_help_text'|trans({}, 'MediaAdmin') }}</a></p>
                </div>
            </div>


        <!--begin::Items-->
        <div class="dropzone-items  wm-200px" id="previews">
            <div class="dropzone-item">
                <!--begin::File-->
                <div class="dropzone-file">
                    <div class="dropzone-filename" title="some_image_file_name.jpg">
                        <img data-dz-thumbnail/>
                        <span data-dz-name>some_image_file_name.jpg</span>
                        <strong>(<span data-dz-size>340kb</span>)</strong>
                    </div>

                    <div class="dropzone-error" data-dz-errormessage></div>
                </div>
                <!--end::File-->

                <!--begin::Progress-->
                <div class="dropzone-progress">
                    <div class="progress">
                        <div
                                class="progress-bar bg-primary"
                                role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" data-dz-uploadprogress>
                        </div>
                    </div>
                </div>
                <!--end::Progress-->

                <!--begin::Toolbar-->
                <div class="dropzone-toolbar">
                    <a class="d-none btn btn-primary btn-sm" data-dz-url><i class="fa fa-pencil"></i> Edit</a>
                    <span class="dropzone-delete" data-dz-remove><i class="bi bi-x fs-1"></i></span>
                </div>
                <!--end::Toolbar-->
            </div>
        </div>
        <!--end::Items-->
        </div>
    </div>
{% endblock %}
