{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends app.request.xmlHttpRequest?'@NetworkingInitCms/modal-edit.html.twig':base_template %}


{% block title %}{{ 'title_select_provider'|trans({}, 'MediaAdmin') }}{% endblock %}

{% block content %}

    {% block modal_body %}

    {% for code, provider in providers %}
        <a href="{{ admin.generateUrl('create', {'provider': provider.name} + app.request.query.all|default({}) ) }}"
           class="btn btn-light"
           data-bs-toggle="tooltip"
           data-placement="top"
           title="{{ provider.providerMetadata.description|trans({}, 'MediaAdmin') }}"
                >

            {% set icon = provider.providerMetadata.option('class') %}
            {% if provider.name == 'sonata.media.provider.vimeo' %}
                {% set icon = 'fab fa-vimeo-square' %}
            {% endif %}

            {% if provider.name == 'sonata.media.provider.youtube' %}
                {% set icon = 'fab fa-youtube' %}
            {% endif %}

            {% if provider.name == 'sonata.media.provider.file' %}
                {% set icon = 'far fa-file' %}
            {% endif %}

            {% if provider.name == 'sonata.media.provider.image' %}
                {% set icon = 'far fa-image' %}
            {% endif %}

                <i class="{{ icon }}"></i>
            {{ provider.providerMetadata.title|trans({}, 'MediaAdmin') }}

        </a>
    {% else %}
        <span class="alert alert-info">{{ 'no_provider_available'|trans({}, 'SonataMediaBundle') }}</span>
    {% endfor %}
        {% endblock %}

{% endblock %}