{#
This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends base_template %}

{% block sonata_nav %}
{% endblock sonata_nav %}

{% block logo %}
{% endblock logo %}

{% block sonata_left_side %}
{% endblock sonata_left_side %}


{% block page %}
    <style>body {
            background-image: url('{{ asset('bundles/networkinginitcms/admin-theme/media/auth/bg9.jpg') }}');
        }

        [data-bs-theme="dark"] body {
            background-image: url('{{ asset('bundles/networkinginitcms/admin-theme/media/auth/bg9.jpg') }}');
        }</style>
    <!--begin::Authentication - Sign-in -->
    <div class="d-flex flex-column flex-column-fluid flex-lg-row">
        <!--begin::Aside-->
        <div class="d-flex flex-center w-lg-50 pt-15 pt-lg-0 px-10">
            <!--begin::Aside-->
            <div class="d-flex flex-center flex-lg-start flex-column">
                <!--begin::Logo-->
                <a href="https://www.initcms.com" target="_blank" class="mb-7">
                    <img alt="Logo" src="{{ asset('bundles/networkinginitcms/img/initcms-white-396x100.png') }}"/>
                </a>
                <!--end::Logo-->
                <!--begin::Title-->
                <h2 class="text-white fw-normal m-0">Init CMS</h2>
                <!--end::Title-->
            </div>
            <!--begin::Aside-->
        </div>
        <!--begin::Aside-->
        <!--begin::Body-->
        <div class="d-flex flex-column-fluid flex-lg-row-auto justify-content-center justify-content-lg-end p-12 p-lg-20">
            <!--begin::Card-->
            <div class="bg-body d-flex flex-column align-items-stretch flex-center rounded-4 w-md-600px p-20">
                <!--begin::Wrapper-->
                <div class="d-flex flex-center flex-column flex-column-fluid px-lg-10 pb-15 pb-lg-20">
                    {% block sonata_user_reset_request_form %}



                        <form action="{{ path('networking_init_cms_admin_resetting_reset', {'token': token}) }}"
                              method="post"
                              role="form" class="form w-100" novalidate="novalidate">


                            <section class="my-10 text-center d-flex justify-content-center">
                                {% include '@NetworkingInitCms/fido.html.twig' %}
                            </section>
                            <div class="text-center mb-11">
                                <!--begin::Title-->
                                <h1 class="text-dark fw-bolder mb-3">{{ 'resetting.reset.submit'|trans({}, 'SonataUserBundle') }}</h1>
                            </div>

                            <div class="fv-row mb-8">
                                {{ form_widget(form.plainPassword.first, {'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'form.new_password'|trans({}, 'FOSUserBundle')
                                }}) }}
                                {{ form_errors(form.plainPassword.first) }}
                            </div>


                            <div class="fv-row mb-8">
                                {{ form_widget(form.plainPassword.second, {'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'form.new_password_confirmation'|trans({}, 'FOSUserBundle')
                                }}) }}
                            </div>
                            <div class="d-grid mb-10">
                                <button type="submit" class="btn btn-primary">
                                    <!--begin::Indicator label-->
                                    <span class="indicator-label">
                                        {{ 'resetting.reset.submit'|trans({}, 'SonataUserBundle') }}</span>
                                    <!--end::Indicator label-->
                                    <!--begin::Indicator progress-->
                                    <span class="indicator-progress"
                                          data-kt-translate="general-progress">{{ 'please_wait'|trans({}, 'security') }}...
										<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                    <!--end::Indicator progress-->
                                </button>
                            </div>

                            {{ form_rest(form) }}
                        </form>

                    {% endblock %}
                    <!--end::Form-->
                </div>
            </div>
            <!--end::Wrapper-->
            <!--begin::Footer-->
            {% block footer %}

            {% endblock footer %}
            <!--end::Footer-->
        </div>
        <!--end::Card-->
    </div>

{% endblock page %}
