{% extends base_template %}
{% block sidebar_left %}{% endblock %}
{% block content %}
    <div class="row">
        <div class="connection modal" style="position: relative; right:50%; left: 50%; top: auto; margin: 10% 0 0 -200px; z-index: 1; width: 400px">
                <form action="{{ path("sonata_user_admin_security_check") }}" method="post">
                    <div class="modal-body">
                        {% if error %}
                            <div class="alert alert-error">{{ error|trans({}, 'SonataUserBundle') }}</div>
                        {% endif %}

                        <div class="control-group">
                            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>

                            <div class="controls">
                                <input type="text" id="username" name="_username" value="{{ last_username }}"
                                       class="big sonata-medium"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>

                            <div class="controls">
                                <input type="password" id="password" name="_password" class="big sonata-medium"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="remember_me">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="">
                            <input type="submit" class="btn btn-primary" id="_submit" name="_submit"
                                   value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
                        </div>
                    </div>
                </form>
            </div>
    </div>
{% endblock content %}
