{% extends base_template %}
{% block sidebar_left %}{% endblock %}
{% block content %}
    <div class="row">
        <div id="login" class="connection modal" style="position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        z-index: 1;
        display: block;
        ">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="{{ path("sonata_user_admin_security_check") }}" method="post" role="form"
                          class="form-horizontal">
                        <div class="modal-body">

                            {% if error %}
                                <div class="alert alert-error">{{ error|trans({}, 'SonataUserBundle') }}</div>
                            {% endif %}

                            <div class="form-group">
                                <label class="col-sm-3 control-label"
                                       for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>

                                <div class="col-sm-9">
                                    <input type="text" id="username" name="_username" value="{{ last_username }}"
                                           class="form-control" autofocus/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"
                                       for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>

                                <div class="col-sm-9">
                                    <input type="password" id="password" name="_password" class="form-control"
                                           placeholder="Password"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                            {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <input type="submit" class="btn btn-primary" id="_submit" name="_submit"
                                           value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
    <script type="application/javascript">
        $(function () {
//            $('#login').modal('show')
        });
    </script>
{% endblock content %}
