{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
<div id="contentTypeModal" class="modal" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body form-inline">
                <p>{{ 'info.create.layout_block'|trans({}, 'PageAdmin') }}</p>
                <select id="selectContentType" class="form-control" style="width: 220px;">
                    {% for option in get_content_type_options() %}
                        <option value="{{ option.class }}">{{ option.name|trans }}</option>
                    {% endfor %}
                </select> <span id="contentLoading" style="display: none;"><img
                            src="{{ asset('bundles/networkinginitcms/img/loader.gif') }}"/></span>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" aria-hidden="true"
                        class="btn">{{ 'btn_cancel'|trans({}, 'NetworkingInitCmsBundle') }}</button>
                <button type="button"
                        onclick="jQuery('#contentTypeModal').data('create', true).trigger('initcms.create_block')"
                        id="createContentButton"
                        data-loading-text="{{ 'btn_loading'|trans({}, 'NetworkingInitCmsBundle') }}"
                        class="btn btn-primary">{{ 'btn_create'|trans({}, 'NetworkingInitCmsBundle') }}</button>
            </div>
        </div>
    </div>
</div>
<div id="layoutBlockModal" class="modal" aria-hidden="true" role="dialog" style="display: none">
</div>
