{#
This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends '@NetworkingInitCms/CRUD/list.html.twig' %}
{% set active_tab = app.request.get('context') %}

{% block preview %}
{% endblock %}

{% block list_filters %}
    {% if not app.request.isxmlhttprequest %}
        {% set name = admin.persistentParameters.context ? admin.persistentParameters.context: 'default' %}
        {% if datagrid.filters %}
            <div class="card mb-7">
                <div class="card-content">
                    <form action="{{ admin.generateUrl('list') }}" method="GET" class="kt-form kt-form--fit"
                          id="search-form">

                        <div class="card-body">
                            <input type="hidden" name="active_tab" value="{{ name }}"/>
                            <input type="hidden" name="context" value="{{ admin.persistentParameters.context }}"/>
                            {% if admin.persistentParameters.provider is defined %}
                                <input type="hidden" name="provider" value="{{ admin.persistentParameters.provider }}"/>
                            {% endif %}
                            <input type="hidden" name="active_tab" value="{{ name }}"/>
                            {% set withAdvancedFilter = false %}
                            {% set activeFilters = [] %}

                            {% for key, filter in admin.datagrid.filters %}
                                {% if filter.isActive and not loop.first and 'hidden' not in form.children[filter.formName].children['value'].vars.block_prefixes %}
                                    {% set activeFilters = activeFilters|merge([key]) %}
                                {% endif %}
                            {% endfor %}
                            {% for filter in admin.datagrid.filters %}

                                {% if loop.first %}
                                    <div class="d-flex align-items-center">
                                        <div class="d-flex align-items-center  me-3 w-50">
                                            {% if 'hidden' not in form.children[filter.formName].children['type'].vars.block_prefixes %}
                                                <div class="d-none col-md-2 {% if filter.option('advanced_filter') %}advanced-filter{% endif %}">
                                                    {% set attr = form[filter.formName].children['value'].vars.attr|default({}) %}
                                                    {{ form_widget(form.children[filter.formName].children['type'], {'attr':  attr}  ) }}
                                                </div>
                                            {% else %}
                                                {{ form_widget(form.children[filter.formName].children['type']  ) }}
                                            {% endif %}
                                            <div class="d-flex flex-row-fluid form-floating">
                                                {{ form_widget(form.children[filter.formName].children['value'], {'attr':{'placeholder': filter.label}, 'translation_domain': admin.translationDomain }) }}

                                                <label for="{{ form.children[filter.formName].children['value'].vars.id }}"
                                                       class="form-label filter col-md-3">{{ filter.label|trans({}, admin.translationDomain) }}</label>
                                            </div>
                                        </div>

                                        <div class="d-flex align-items-center">
                                            <input type="submit" class="btn btn btn-primary me-5"
                                                   value="{{ 'btn_filter'|trans({}, 'NetworkingInitCmsBundle') }}"/>
                                            <a href="{{ admin.generateUrl('list', {filters: 'reset'}) }}"
                                               class="btn btn-sm btn-light">
                                                {{ 'link_reset_filter'|trans({'%admin_label%': admin.label}, 'NetworkingInitCmsBundle') }}</a>

                                            {% if loop.length > 1 %}
                                                <a href="#" id="kt_horizontal_search_advanced_link"
                                                   class="btn btn-link collapsed" data-bs-toggle="collapse"
                                                   data-bs-target="#kt_advanced_search_form" aria-expanded="false">Advanced
                                                    Search</a>
                                            {% endif %}

                                        </div>
                                    </div>
                                    {% if loop.length > 1 %}
                                        <div class="collapse {% if activeFilters|length > 0 %}show{% endif %}" id="kt_advanced_search_form">
                                        <div class="separator separator-dashed mt-9 mb-6"></div>
                                    {% endif %}
                                {% endif %}

                                {% if not loop.first %}
                                    <div class="mb-5">
                                        {% set attr = form[filter.formName].children['value'].vars.attr|default({}) %}
                                        {% set row_attr = form[filter.formName].children['value'].vars.row_attr|default({}) %}
                                        {% set row_class = row_attr.class|default('')|trim %}
                                        {%- if 'form-floating' in row_class -%}
                                            {% if 'hidden' not in form.children[filter.formName].children['type'].vars.block_prefixes %}
                                                <div class="d-none col-md-2 {% if filter.option('advanced_filter') %}advanced-filter{% endif %}">

                                                    {{ form_widget(form.children[filter.formName].children['type'], {'attr':  attr}  ) }}
                                                </div>
                                            {% else %}
                                                {{ form_widget(form.children[filter.formName].children['type']  ) }}
                                            {% endif %}
                                            <div class="form-floating w-100">
                                                {{ form_widget(form.children[filter.formName].children['value'], {'attr':{'placeholder': filter.label}, 'translation_domain': admin.translationDomain }) }}

                                                <label for="{{ form.children[filter.formName].children['value'].vars.id }}"
                                                       class="form-label filter col-md-3">{{ filter.label|trans({}, admin.translationDomain) }}
                                                </label>
                                            </div>
                                        {%- else -%}
                                            {% if 'hidden' not in form.children[filter.formName].children['value'].vars.block_prefixes %}
                                                <label for="{{ form.children[filter.formName].children['value'].vars.id }}"
                                                       class="form-label filter col-md-3">{{ filter.label|trans({}, admin.translationDomain) }}
                                                </label>
                                            {% endif %}
                                            {% if 'hidden' not in form.children[filter.formName].children['type'].vars.block_prefixes %}
                                                <div class="d-none {% if filter.option('advanced_filter') %}advanced-filter{% endif %}">
                                                    {{ form_widget(form.children[filter.formName].children['type'], {'attr':  attr}  ) }}
                                                </div>
                                            {% else %}
                                                {{ form_widget(form.children[filter.formName].children['type']  ) }}
                                            {% endif %}
                                            {{ form_widget(form.children[filter.formName].children['value'], {'attr':{'placeholder': filter.label}, 'translation_domain': admin.translationDomain }) }}
                                        {%- endif -%}
                                    </div>
                                {% endif %}

                                {% if filter.option('advanced_filter') and 'hidden' not in form.children[filter.formName].children['type'].vars.block_prefixes %}
                                    {% set withAdvancedFilter = true %}
                                {% endif %}

                                {% if loop.length > 1 and loop.last %}
                                    </div>
                                {% endif %}


                            {% endfor %}

                            {% if admin.hasActiveSubclass %}
                                <input type="hidden" name="subclass" id="filter_subclass"
                                       value="{{ admin.activeSubclassCode }}"/>
                            {% endif %}
                            <input type="hidden"
                                   name="filter[{{ constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::PAGE') }}]"
                                   id="filter__page" value="1">
                            {% set foo = form[constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::PAGE')].setRendered() %}
                            {{ form_rest(form) }}

                        </div>
                        <div class="card-footer pb-0">
                            <ul class="nav nav-tabs nav-line-tabs fs-6">
                                {% for name, context in sonata_media.pool.contexts %}
                                    <li class="nav-item">
                                        <a class="nav-link {{ name == admin.persistentParameters.context?'active':'' }}"
                                           href="{{ admin.generateUrl('list', {'context' : name}) }}">{{ ('media_context.' ~ name)|trans({}) }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
