{#
This file is part of the Networking package.

(c) net working AG <info@networking.ch>
moved all relation fields to the networking crud folder

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% set isAjax = app.request.isXmlHttpRequest or app.request.get('_xml_http_request') %}
{% extends isAjax?'@NetworkingInitCms/modal-edit.html.twig':base_template %}

{% block actions %}
    <div class="sonata-actions">
        {% if admin.hasRoute('edit') and admin.isGranted('EDIT', object) %}
            <a class="btn btn-light sonata-action-element"
               href="{{ admin.generateObjectUrl('edit', object) }}">{{ 'link_action_edit'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
        {% if admin.hasRoute('create') and admin.isGranted('CREATE') %}
            <a class="btn btn-light sonata-action-element"
               href="{{ admin.generateUrl('create') }}">{{ 'link_action_create'|trans({}, admin.translationDomain) }}</a>
        {% endif %}
    </div>
{% endblock %}

{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active'}, 'list') }}{% endblock %}

{% block content %}


    {% block title %}
        <h3>{{ 'title_delete'|trans({}, 'SonataAdminBundle') }}</h3>
    {% endblock %}

    {% block form_start %}
<form method="POST" action="{{ admin.generateObjectUrl('delete', object) }}">
    {% endblock %}

    {% block modal_body %}
    <div>
        {{ 'message_delete_confirmation'|trans({'%object%': object}, 'SonataAdminBundle') }}
    </div>
    {% endblock %}
    {% block modal_footer %}
        {% if app.request.isxmlhttprequest %}
            <button class="btn btn-light" data-dismiss="modal"
                    aria-hidden="true">{{ 'btn_cancel'|trans({}, 'NetworkingInitCmsBundle') }}</button>

            <button type="submit" name="btn_delete" class="btn btn-danger"><i class="fas fa-trash-alt"
                                                                              aria-hidden="true"></i> {{ 'btn_delete'|trans({}, 'SonataAdminBundle') }}
            </button>
        {% else %}
            <a href="{{ admin.generateObjectUrl('list', object) }}"
               class="btn btn-light">{{ 'btn_cancel'|trans({}, 'NetworkingInitCmsBundle') }}</a>

            <button type="submit" name="btn_delete" class="btn btn-danger"><i class="fas fa-trash-alt"
                                                                              aria-hidden="true"></i> {{ 'btn_delete'|trans({}, 'SonataAdminBundle') }}
            </button>
            {% if admin.hasRoute('edit') and admin.isGranted('EDIT', object) %}
                {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}

                <a class="btn btn-success"
                   href="{{ admin.generateObjectUrl('edit', object) }}">{{ 'link_action_edit'|trans({}, 'SonataAdminBundle') }}</a>
            {% endif %}

        {% endif %}
    {% endblock %}


    {% endblock %}
    {% block form_end %}
    <input type="hidden" value="DELETE" name="_method"/>
    <input type="hidden" value="{{ returnToMedia }}" name="returnToMedia"/>
    {% if csrf_token is defined %}
        <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}"/>
    {% endif %}
</form>

{% endblock %}
