{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block actions %}
    {% set create_text =  'link_action_create'|trans({}, admin.translationDomain) %}
    {% if create_text == 'link_action_create' %}
        {% set create_text =  'link_action_create'|trans({}, 'SonataAdminBundle') %}
    {% endif %}
    {#{% set list_text =  'link_action_list'|trans({}, admin.translationDomain) %}#}
    {% if list_text == 'link_action_list' %}
        {% set list_text =  'link_action_list'|trans({}, 'SonataAdminBundle') %}
    {% endif %}
    <div class="sonata-actions">
        {% if admin.hasRoute('create') and admin.isGranted('CREATE') %}
            <a class="btn btn-light sonata-action-element" href="{{ admin.generateUrl('create') }}">
                <i class="fa fa-plus"></i>
                {{ create_text }}</a>
        {% endif %}
        {% if admin.hasRoute('list') and  admin.isGranted('LIST') %}
            <a class="btn btn-light sonata-action-element" href="{{ admin.generateUrl('list') }}">
                <i class="fa fa-list"></i>
                {{ list_text }}</a>
        {% endif %}
    </div>
{% endblock %}

{% block side_menu %}{% if action is defined %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active'}, 'list') }}{% endif %}{% endblock %}

{% block content %}

    Redefine the content block in your action template

{% endblock %}