{#
This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }} word-break"
    objectId="{{ admin.id(object) }}">
    {% set locale = field_description.options.locale %}
    {% set translation = null %}
    {% for trans in object.translations %}
        {% if trans.locale == locale %}
            {% set translation = trans %}
        {% endif %}
    {% endfor %}
    {% set id = 'transunit'~'-'~object.id~'-'~locale %}
    {% set pk = translation.id|default('') %}
    {% set content = translation.content|default('') %}
    {% set options = field_description.options.editable %}

    <a href="#" id="{{ id }}" style="overflow: hidden;"
            {% if admin.isGranted('EDIT', object) %}
                class="editable-click"
                data-container="body"
                data-pk="{{ pk }}"
                data-name="{{ object.key|raw }}"
                data-locale="{{ locale }}"
                data-mode="{{ options.mode }}"
                data-type="{{ options.type }}"
                data-emptytext="{{ options.emptytext }}"
                data-placement="{{ options.placement }}"
                data-value="{{ content|raw }}"
                data-url="{{ admin.generateObjectUrl(field_description.options.route.name, object, field_description.options.route.parameters)|raw }}"
            {% endif %}
    >
        {%- block field %}{{ content }}{% endblock -%}
    </a>
</td>
