{% macro render_groups(admin, form, groups, has_tab) %}
    <div class="row">
        {% for code in groups|filter(code => admin.formgroups[code] is defined) %}
            {% set form_group = admin.formgroups[code] %}
            <div class="{{ form_group.class|default('col-md-12') }}">
                    {% if form_group.label and form_group.label != admin.label %}
                        {% if not loop.first %}
                            <div class="separator separator-dashed"></div>
                            {% endif %}
                        <h3 class="font-size-lg text-dark font-weight-bold my-6">
                            {{ form_group.label|trans({}, form_group.translation_domain ?: admin.translationDomain) }}
                        </h3>
                    {% endif %}
                    <div class="mb-3">
                            {% if form_group.description %}
                                <p>{{ form_group.description|trans({}, form_group.translation_domain ?: admin.translationDomain) }}</p>
                            {% endif %}

                            {% for field_name in form_group.fields if form[field_name] is defined %}
                                {{ form_row(form[field_name]) }}
                            {% else %}
                                <em>{{ 'message_form_group_empty'|trans({}, 'SonataAdminBundle') }}</em>
                            {% endfor %}
                    </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}
