{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}


{% block title %}
    {{ admin.isChild and admin.parent.subject ? 'title_edit'|trans({'%name%': admin.parent.toString(admin.parent.subject)|u.truncate(15, '...') }, 'SonataAdminBundle') : '' }}
{% endblock %}

{% block navbar_title %}
    {{ admin.isChild and admin.parent.subject ? 'title_edit'|trans({'%name%': admin.parent.toString(admin.parent.subject)|u.truncate(100, '...') }, 'SonataAdminBundle') : '' }}
{% endblock %}

{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active'}, 'list') }}{% endblock %}
{# Define the variable out of the block to prevent error if someone is overriding the list_table and not the list_footer #}
{% set datagrid_has_results = admin.datagrid.results|length > 0 %}

{% block list_filters %}
    {% if admin.datagrid.filters %}
        <form action="{{ admin.generateUrl('list', {pcode: app.request.get('pcode')}) }}" method="GET"
              class="kt-form kt-form--fit">

                <div class="card mb-7">
                    <div class="card-content">
                        <div class="card-body">
                            {% set withAdvancedFilter = false %}
                            {% set activeFilters = [] %}

                            {% for key, filter in admin.datagrid.filters|filter((filter, key ) => filter.isActive) %}

                                {% if not loop.first %}
                                    {% set activeFilters = activeFilters|merge([key]) %}
                                {% endif %}

                            {% endfor %}
                            {% for filter in admin.datagrid.filters %}

                                {% if loop.first %}
                                    <div class="d-flex align-items-center">
                                        <div class="d-flex align-items-center  me-3 w-50">
                                            {% if 'hidden' not in form.children[filter.formName].children['type'].vars.block_prefixes %}
                                                <div class="d-none col-md-2 {% if filter.option('advanced_filter') %}advanced-filter{% endif %}">
                                                    {% set attr = form[filter.formName].children['value'].vars.attr|default({}) %}
                                                    {{ form_widget(form.children[filter.formName].children['type'], {'attr':  attr}  ) }}
                                                </div>
                                            {% else %}
                                                {{ form_widget(form.children[filter.formName].children['type']  ) }}
                                            {% endif %}
                                            <div class="d-flex flex-row-fluid form-floating">
                                                {{ form_widget(form.children[filter.formName].children['value'], {'attr':{'placeholder': filter.label}, 'translation_domain': admin.translationDomain }) }}

                                                <label for="{{ form.children[filter.formName].children['value'].vars.id }}"
                                                       class="form-label filter col-md-3">{{ filter.label|trans({}, admin.translationDomain)  }}</label>
                                            </div>
                                        </div>

                                        <div class="d-flex align-items-center">
                                            <input type="submit" class="btn btn btn-primary me-5"
                                                   value="{{ 'btn_filter'|trans({}, 'NetworkingInitCmsBundle') }}"/>
                                            <a href="{{ admin.generateUrl('list', {filters: 'reset'}) }}"
                                               class="btn btn-sm btn-light">
                                                {{ 'link_reset_filter'|trans({'%admin_label%': admin.label}, 'NetworkingInitCmsBundle') }}</a>
                                            {% if loop.length > 1 %}
                                                <a href="#" id="kt_horizontal_search_advanced_link" class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#kt_advanced_search_form" aria-expanded="false">Advanced Search</a>
                                            {% endif %}

                                        </div>
                                    </div>
                                    {% if loop.length > 1 %}
                                        <div class="collapse {% if activeFilters|length > 0 %}show{% endif %}" id="kt_advanced_search_form">
                                        <div class="separator separator-dashed mt-9 mb-6"></div>
                                     {% endif %}
                                {% endif %}

                                {% if not loop.first %}
                                    <div class="mb-5">
                                        {% set attr = form[filter.formName].children['value'].vars.attr|default({}) %}
                                        {% set row_attr = form[filter.formName].children['value'].vars.row_attr|default({}) %}
                                        {% set row_class = row_attr.class|default('')|trim %}
                                        {%- if 'form-floating' in row_class -%}
                                            {% if 'hidden' not in form.children[filter.formName].children['type'].vars.block_prefixes %}
                                                <div class="d-none col-md-2 {% if filter.option('advanced_filter') %}advanced-filter{% endif %}">

                                                    {{ form_widget(form.children[filter.formName].children['type'], {'attr':  attr}  ) }}
                                                </div>
                                            {% else %}
                                                {{ form_widget(form.children[filter.formName].children['type']  ) }}
                                            {% endif %}
                                            <div class="form-floating w-100">
                                                {{ form_widget(form.children[filter.formName].children['value'], {'attr':{'placeholder': filter.label}, 'translation_domain': admin.translationDomain }) }}

                                                <label for="{{ form.children[filter.formName].children['value'].vars.id }}"
                                                       class="form-label filter col-md-3">{{ filter.label|trans({}, admin.translationDomain)  }}
                                                </label>
                                            </div>
                                        {%- else -%}
                                            <label for="{{ form.children[filter.formName].children['value'].vars.id }}"
                                                   class="form-label filter col-md-3">{{ filter.label|trans({}, admin.translationDomain)  }}
                                            </label>
                                            {% if 'hidden' not in form.children[filter.formName].children['type'].vars.block_prefixes %}
                                                <div class="d-none {% if filter.option('advanced_filter') %}advanced-filter{% endif %}">
                                                    {{ form_widget(form.children[filter.formName].children['type'], {'attr':  attr}  ) }}
                                                </div>
                                            {% else %}
                                                {{ form_widget(form.children[filter.formName].children['type']  ) }}
                                            {% endif %}
                                                {{ form_widget(form.children[filter.formName].children['value'], {'attr':{'placeholder': filter.label}, 'translation_domain': admin.translationDomain }) }}
                                        {%- endif -%}
                                    </div>
                                {% endif %}

                                {% if filter.option('advanced_filter') and 'hidden' not in form.children[filter.formName].children['type'].vars.block_prefixes %}
                                    {% set withAdvancedFilter = true %}
                                {% endif %}

                                {% if loop.length > 1 and loop.last %}
                                    {% if withAdvancedFilter %}
                                        <a href="#" id="kt_advance_filter_toggle">
                                            <i class="fas fa-cogs" aria-hidden="true"></i>
                                            {{ 'btn_advanced_filters'|trans({}, 'SonataAdminBundle') }}
                                        </a>
                                    {% endif %}
                                    </div>
                                {% endif %}


                            {% endfor %}

                            {% if admin.hasActiveSubclass %}
                                <input type="hidden" name="subclass" id="filter_subclass" value="{{ admin.activeSubclassCode }}"/>
                            {% endif %}
                            <input type="hidden" name="filter[{{ constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::PAGE') }}]" id="filter__page" value="1">
                            {% set foo = form[constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::PAGE')].setRendered() %}
                            {{ form_rest(form) }}
                        </div>
                    </div>
                </div>
        </form>
    {% endif %}
{% endblock %}

{% block list_table %}
    {% set batchactions = admin.batchactions %}
    {% if not  app.request.isxmlhttprequest %}
        <div id="objectList">
    {% endif %}

    <div class="d-flex flex-wrap flex-stack pb-7">
        <div class="d-flex flex-wrap align-items-center my-1">
            <h3 class="fw-bold me-5 my-1">{{ admin.datagrid.pager.countResults() }} Items Found</h3>
        </div>
        <div class="d-flex flex-wrap align-items-center my-1">
            {% if batchactions|length > 0 and not app.request.isxmlhttprequest %}
                {{ block('batch') }}
            {% endif %}
            {% if admin.hasRoute('export') and admin.hasAccess('export') and export_formats|length %}
                <div class="d-flex justify-content-end" data-kt-list-table-toolbar="base">
                    <!--begin::Toggle-->
                    <button type="button" class="btn btn-sm btn-primary rotate" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start" data-kt-menu-offset="0,5">
                        <i class="ki-outline ki-cloud-download  " aria-hidden="true"></i>
                        {{ "label_export_download"|trans({}, "SonataAdminBundle") }}
                        <i class="ki-duotone ki-down fs-3 rotate-180 ms-3 me-0"></i>
                    </button>
                    <!--end::Toggle-->

                    <!--begin::Menu-->
                    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-200px" data-kt-menu="true">
                        <!--end::Menu separator-->
                        {% for format in export_formats %}
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="{{ admin.generateUrl('export', admin.datagrid.paginationparameters(0) + {'format' : format}) }}" class="menu-link px-3">
                                    {{ ("export_format_" ~ format)|trans({}, 'SonataAdminBundle') }}
                                </a>
                            </div>
                            <!--end::Menu item-->
                        {% endfor %}
                    </div>
                    <!--end::Menu-->
                </div>
                <!--end::Dropdown wrapper-->
            {% endif %}
        </div>
    </div>
    {% if datagrid_has_results%}

        <div class="card">
            {% if not app.request.isxmlhttprequest %}
            <div class="card-header">
                <div class="card-title">
                    <!--begin::Input group-->
                    <div class="position-relative w-md-400px me-md-2">
                        <!--begin::Search-->
                        <div class="d-flex align-items-center w-md-auto position-relative my-1">
                            <i class="ki-outline ki-magnifier fs-3 position-absolute ms-5"></i>
                            <input type="text" data-kt-list-table-filter="search" class="form-control form-control-sm form-control-solid ps-13"
                                   id="quick-search"
                                   placeholder="{{ 'quick search' |trans({}, 'NetworkingInitCmsBundle') }}">
                        </div>
                        <!--end::Search-->
                    </div>
                </div>
                    <div class="card-toolbar" >
{#                        {% if batchactions|length > 0 and not app.request.isxmlhttprequest %}#}
{#                            {{ block('batch') }}#}
{#                        {% endif %}#}
{#                        {% if admin.hasRoute('export') and admin.hasAccess('export') and export_formats|length %}#}
{#                            <div class="d-flex justify-content-end" data-kt-list-table-toolbar="base">#}
{#                                <!--begin::Toggle-->#}
{#                                <button type="button" class="btn btn-sm btn-primary rotate" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start" data-kt-menu-offset="0,5">#}
{#                                    <i class="ki-outline ki-cloud-download  " aria-hidden="true"></i>#}
{#                                    {{ "label_export_download"|trans({}, "SonataAdminBundle") }}#}
{#                                    <i class="ki-duotone ki-down fs-3 rotate-180 ms-3 me-0"></i>#}
{#                                </button>#}
{#                                <!--end::Toggle-->#}

{#                                <!--begin::Menu-->#}
{#                                <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-200px" data-kt-menu="true">#}
{#                                    <!--end::Menu separator-->#}
{#                                    {% for format in export_formats %}#}
{#                                    <!--begin::Menu item-->#}
{#                                    <div class="menu-item px-3">#}
{#                                        <a href="{{ admin.generateUrl('export', admin.datagrid.paginationparameters(0) + {'format' : format}) }}" class="menu-link px-3">#}
{#                                            {{ ("export_format_" ~ format)|trans({}, 'SonataAdminBundle') }}#}
{#                                        </a>#}
{#                                    </div>#}
{#                                    <!--end::Menu item-->#}
{#                                    {% endfor %}#}
{#                                </div>#}
{#                                <!--end::Menu-->#}
{#                            </div>#}
{#                            <!--end::Dropdown wrapper-->#}
{#                        {% endif %}#}
                    </div>
            </div>
            {% endif %}
            {% if batchactions|length > 0 %}
            <form action="{{ admin.generateUrl('batch', {'filter': admin.filterParameters}) }}" method="POST" id="kt-batch-form">
                <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}"/>
                {% endif %}
            <div class="card-body">
                <div>
                <table id="init_cms_data_table" class="table table-hover table-row-bordered gy-7 gs-7">
                    {% block table_header %}
                        <thead>
                        <tr class="fw-semibold fs-6 text-muted">
                            {% for field_description in admin.list.elements %}
                                {% if admin.hasRoute('batch') and field_description.name == constant('Sonata\\AdminBundle\\Datagrid\\ListMapper::NAME_BATCH') and batchactions|length > 0 %}
                                    {% if batchactions|length > 0 and not app.request.isxmlhttprequest %}
                                        <th class="no_sorting">
                                            <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                                                <input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#init_cms_data_table .form-check-input" value="1" />
                                            </div>
                                        </th>
                                    {% endif %}
                                {% elseif field_description.getOption('code') == constant('Sonata\\AdminBundle\\Datagrid\\ListMapper::NAME_SELECT') %}
                                    <th class="sonata-ba-list-field-header sonata-ba-list-field-header-select"></th>
                                {% elseif field_description.name == '_action' and app.request.isXmlHttpRequest %}
                                    Action buttons disabled in ajax view!
                                {% elseif field_description.getOption('ajax_hidden') == true and app.request.isXmlHttpRequest %}
                                    Disable fields with 'ajax_hidden' option set to true
                                {% else %}
                                    {% set sortable = false %}
                                    {% if field_description.option('sortable', false) %}
                                        {% set sortable             = true %}
                                        {% set sort_parameters      = admin.datagrid.sortparameters(field_description) %}
                                        {% set current              = admin.datagrid.values[constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::SORT_BY')] is defined
                                            and (admin.datagrid.values[constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::SORT_BY')] == field_description
                                            or admin.datagrid.values[constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::SORT_BY')].name == sort_parameters.filter[constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::SORT_BY')]) %}
                                        {% set sort_active_class    = current ? 'sonata-ba-list-field-order-active' : '' %}
                                        {% set sort_by              = current ? admin.datagrid.values[constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::SORT_ORDER')] : field_description.option(constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::SORT_ORDER'), sort_parameters.filter[constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::SORT_ORDER')]) %}
                                    {% endif %}

                                    {% apply spaceless %}
                                        <th class="sonata-ba-list-field-header-{{ field_description.type }} {% if not sortable %}no_sorting{% endif %}">
                                                {% if field_description.getOption('label_icon') %}
                                                    <span class="sonata-ba-list-field-header-label-icon">
                                                    {{ field_description.getOption('label_icon')|parse_icon }}
                                                </span>
                                                {% endif %}
                                                {% if field_description.label is not same as(false) %}
                                                    {% if field_description.translationDomain is same as(false) %}
                                                        {{ field_description.label }}
                                                    {% else %}
                                                        {{ field_description.label|trans({}, field_description.translationDomain) }}
                                                    {% endif %}
                                                {% endif %}
                                        </th>
                                    {% endapply %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endblock %}

                    {% block table_body %}
                        <tbody class="fw-semibold text-gray-600">
                        {% for object in admin.datagrid.results %}
                            <tr {% if last_edited is defined and object.id == last_edited %}class="info {% if object.status is defined and object.status == 'status_offline' %}danger{% endif %}"{% endif %}>
                                {% include get_admin_template('inner_list_row', admin.code) %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% endblock %}

                    {% block table_footer %}
                    {% endblock %}
                </table>
                </div>
            </div>
                {% if batchactions|length > 0 %}
            </form>
            {% endif %}
        </div>


    {% else %}
        {% block no_result_content %}
            <div class="alert alert-info">
                {{ 'no_result'|trans({}, 'SonataAdminBundle') }}
            </div>
        {% endblock %}
    {% endif %}
    </div>
{% endblock %}

{% block batch %}
    {% block batch_actions %}
        {% if batchactions|length > 0  %}
            <div class="d-flex justify-content-end align-items-center d-none" data-kt-list-table-toolbar="selected">
                <div class="fw-bold me-5">
                    <span class="me-2" data-kt-list-table-select="selected_count"></span>Selected</div>
                <div class="input-group">
                    <select name="action" class="form-select form-select-sm" data-kt-list-table-select="batch_action">
                        {% for action, options in batchactions %}
                            <option value="{{ action }}">{{ options.label|trans({}, options.translation_domain|default(admin.translationDomain)) }}</option>
                        {% endfor %}
                    </select>
                        <input type="submit" class="btn btn-primary btn-sm batch-dialog-link" value="{{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}">
                </div>
            </div>

        {% endif %}
    {% endblock %}
{% endblock %}

{% block before_body_end %}
    {{ parent() }}
{% endblock before_body_end %}
