{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block title %}
    {{ admin.isChild and admin.parent.subject ? 'title_edit'|trans({'%name%': admin.parent.toString(admin.parent.subject)|u.truncate(15, '...') }, 'SonataAdminBundle') : '' }}
{% endblock %}

{% block navbar_title %}
    {{ admin.isChild and admin.parent.subject ? 'title_edit'|trans({'%name%': admin.parent.toString(admin.parent.subject)|u.truncate(100, '...') }, 'SonataAdminBundle') : '' }}
{% endblock %}

{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active'}, 'list') }}{% endblock %}
{# Define the variable out of the block to prevent error if someone is overriding the list_table and not the list_footer #}
{% set datagrid_has_results = admin.datagrid.results|length > 0 %}

{% block list_filters %}
    {% if admin.datagrid.filters %}
        <form action="{{ admin.generateUrl('list', {pcode: app.request.get('pcode')}) }}" method="GET"
              class="sonata-filter-form {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }}form-horizontal filters">
            {% set filter_main = '' %}
            {% set filter_hidden = '' %}
            {% set showHiddenFilters = 0 %}
            {#{% for filter in admin.datagrid.filters if (filter.options.field_type is not defined or filter.options.field_type != 'hidden' ) %}#}
            {% for filter in admin.datagrid.filters %}

                {% set filterVisible = filter.options['show_filter'] is same as(true) or filter.options['show_filter'] is null %}

                {% if filter.options.hidden is not defined  or (filter.options.hidden == false) %}
                    {% set filter_main %}
                        {{ filter_main }}
                        <div class="form-group" {{ filterVisible ? '': 'style="display:none"'  }}>
                            <label for="{{ form.children[filter.formName].children['value'].vars.id }}"
                                   class="control-label col-md-3 filter">{{ filter.label|trans({}, admin.translationDomain)  }}</label>

                            <div class="col-md-9">
                                {{ form_widget(form.children[filter.formName].children['type'], {'attr':{'class': 'input-medium advanced-filter' }}
                                ) }}
                                {{ form_widget(form.children[filter.formName].children['value'], {'attr':{'placeholder': filter.label , 'class': 'input-medium'}, 'translation_domain': admin.translationDomain }) }}
                            </div>
                        </div>
                    {% endset %}
                {% else %}
                    {% if filter.isActive %}
                        {% set showHiddenFilters = 1 %}
                    {% endif %}
                    {% set filter_hidden %}
                        {{ filter_hidden }}
                        <div class="form-group" {{ filterVisible ? '': 'style="display:none"'  }}>
                            <label class="control-label col-md-3 filter {{ filter.isActive ? 'active' : 'inactive' }}"> {{ filter.label|trans({}, admin.translationDomain)  }}</label>

                            <div class="col-md-9">
                                {{ form_widget(form.children[filter.formName].children['type'], {'attr':{'class': 'input-medium advanced-filter' }}
                                ) }}
                                {{ form_widget(form.children[filter.formName].children['value'], {'attr':{'class': 'input-medium' }}
                                ) }}
                            </div>
                        </div>
                    {% endset %}
                {% endif %}
            {% endfor %}
            {% set label = admin.label|trans({}, admin.translationDomain) %}
            <div>
                <div>
                    <fieldset>
                        <h4 class="filter_legend"><small data-toggle="advanced-filter">{{ 'info.filter'|trans({'%admin_label%':label }, 'NetworkingInitCmsBundle') }} </small></h4>

                        <div class="filter_container row">
                            <div class="col-md-12">
                                {{ filter_main }}

                                {% if admin.hasActiveSubclass %}
                                    <input type="hidden" name="subclass" id="filter_subclass" value="{{ admin.activeSubclassCode }}"/>
                                {% endif %}
                                <input type="hidden" name="filter[_page]" id="filter__page" value="1"/>
                                {% set foo = form.children['_page'].setRendered() %}
                                <div id="hidden_filters" class="collapse {% if showHiddenFilters == 1 %}in{% endif %}">
                                    {% for paramKey, paramValue in admin.persistentParameters %}
                                        <input type="hidden" name="{{ paramKey }}" value="{{ paramValue }}"/>
                                    {% endfor %}
                                    {% if filter_hidden != '' %}
                                        {# add div with hidden / show function#}
                                        {{ filter_hidden }}
                                    {% endif %}
                                </div>
                                <div>
                                    <input type="submit" class="btn  btn-default btn-sm"
                                           value="{{ 'btn_filter'|trans({}, 'NetworkingInitCmsBundle') }}"/>
                                    <a href="{{ admin.generateUrl('list', {filters: 'reset'}) }}"
                                       class="link-underlined">
                                        {{ 'link_reset_filter'|trans({'%admin_label%': admin.label}, 'NetworkingInitCmsBundle') }}</a>
                                    {% if filter_hidden %}
                                        <a data-toggle="collapse" data-target="#hidden_filters" id="filter_toggle"
                                           class="filter-close cursor-pointer">
                                            {{ 'link.show_more_filters'|trans({}, 'NetworkingInitCmsBundle') }}
                                        </a>
                                        {{ form_rest(form) }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="clearfix">&nbsp;</div>
            </div>
        </form>
    {% endif %}
{% endblock %}

{% block list_table %}
    {% if not  app.request.isxmlhttprequest %}
        <div id="objectList">
    {% endif %}
    {% set batchactions = admin.batchactions %}
    {% if datagrid_has_results%}
        {% if admin.hasRoute('batch') %}
            <form action="{{ admin.generateUrl('batch', {'filter': admin.filterParameters}) }}" method="POST" >
            <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}
        <table class="table table-hover table-compact">
            {% block table_header %}
                <thead>
                <tr>
                    {% for field_description in admin.list.elements %}
                        {% if admin.hasRoute('batch') and field_description.name == constant('Sonata\\AdminBundle\\Datagrid\\ListMapper::NAME_BATCH') and batchactions|length > 0 %}
                            {% if not app.request.isXmlHttpRequest %}
                                <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">
                                </th>
                            {% endif %}
                        {% elseif field_description.getOption('code') == constant('Sonata\\AdminBundle\\Datagrid\\ListMapper::NAME_SELECT') %}
                            <th class="sonata-ba-list-field-header sonata-ba-list-field-header-select"></th>
                        {% elseif field_description.name == '_action' and app.request.isXmlHttpRequest %}
                             Action buttons disabled in ajax view!
                        {% elseif field_description.getOption('ajax_hidden') == true and app.request.isXmlHttpRequest %}
                             Disable fields with 'ajax_hidden' option set to true
                        {% else %}
                            {% set sortable = false %}
                            {% if field_description.option('sortable', false) %}
                                {% set sortable             = true %}
                                {% set sort_parameters      = admin.datagrid.sortparameters(field_description) %}
                                {% set current              = admin.datagrid.values[constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::SORT_BY')] is defined
                                    and (admin.datagrid.values[constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::SORT_BY')] == field_description
                                or admin.datagrid.values[constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::SORT_BY')].name == sort_parameters.filter[constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::SORT_BY')]) %}
                                {% set sort_active_class    = current ? 'sonata-ba-list-field-order-active' : '' %}
                                {% set sort_by              = current ? admin.datagrid.values[constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::SORT_ORDER')] : field_description.option(constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::SORT_ORDER'), sort_parameters.filter[constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::SORT_ORDER')]) %}
                            {% endif %}

                            {% apply spaceless %}
                                <th class="sonata-ba-list-field-header-{{ field_description.type }} {% if loop.index in [1,2] %}nowrap {% endif %} {% if sortable %} sonata-ba-list-field-header-order-{{ sort_by|lower }} {{ sort_active_class }}{% endif %}">
                                    {% if sortable %}
                                        <a href="{{ admin.generateUrl('list', sort_parameters) }}">
                                    {% endif %}
                                    {% if field_description.getOption('label_icon') %}
                                        <span class="sonata-ba-list-field-header-label-icon">
                                                    {{ field_description.getOption('label_icon')|parse_icon }}
                                                </span>
                                    {% endif %}
                                    {% if field_description.label is not same as(false) %}
                                        {% if field_description.translationDomain is same as(false) %}
                                            {{ field_description.label }}
                                        {% else %}
                                            {{ field_description.label|trans({}, field_description.translationDomain) }}
                                        {% endif %}
                                    {% endif %}
                                    {% if sortable %}</a>{% endif %}
                                </th>
                            {% endapply %}
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
            {% endblock %}

            {% block table_body %}
                <tbody>
                {% for object in admin.datagrid.results %}
                    <tr {% if last_edited is defined and object.id == last_edited %}class="info {% if object.status is defined and object.status == 'status_offline' %}danger{% endif %}"{% endif %}>
                         {% include get_admin_template('inner_list_row', admin.code) %}
                    </tr>
                {% endfor %}
                {% if batchactions|length > 0 and not app.request.isxmlhttprequest %}
                    <tr>
                        <td>
                            <input type="checkbox" id="list_batch_checkbox" name="all_elements"/>
                        </td>
                        <td colspan="{{ admin.list.elements|length -1 }}">
                            <label for="list_batch_checkbox"><strong>{{ 'all_elements'|trans({}, 'SonataAdminBundle') }}</strong></label>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            {% endblock %}

            {% block table_footer %}
                <tfoot>
                <tr>
                    <th colspan="{{ admin.list.elements|length - (app.request.isXmlHttpRequest ? (admin.list.has('_action') + admin.list.has('batch')) : 0) }}">
                        <div class="form-inline">
                            {% if batchactions|length > 0 and not app.request.isxmlhttprequest %}{{ block('batch') }}{% endif %}
                            <div class="pull-right">
                                <label class="control-label"><strong>
                                        {% trans with {'%count%': attribute(admin.datagrid.pager, 'countResults') is defined ? admin.datagrid.pager.countResults() : admin.datagrid.pager.getNbResults()} from 'SonataAdminBundle' %}list_results_count{% endtrans %}
                                    </strong></label>
                                {% block max_per_page %}
                                    <label class="control-label"
                                           for="{{ admin.uniqid }}_per_page">{% trans from 'SonataAdminBundle' %}
                                        label_per_page{% endtrans %}</label>
                                    <select class="per-page small" id="{{ admin.uniqid }}_per_page"
                                            style="width: auto; height: auto">
                                        {% for per_page in admin.getperpageoptions %}
                                            <option {% if per_page ==datagrid.pager.maxperpage %}selected="selected"{% endif %}
                                                    value="{{ admin.generateUrl('list', {'filter':datagrid.values|merge({'_per_page': per_page})}) }}">
                                                {{ per_page }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                {% endblock %}
                            </div>
                        </div>
                    </th>
                </tr>
                </tfoot>
            {% endblock %}
        </table>

        {% block pager_links %}
            {% if admin.datagrid.pager.haveToPaginate() %}
                <hr/>
                {% include get_admin_template('pager_links', admin.code) %}
            {% endif %}
        {% endblock %}

        {% if not app.request.isxmlhttprequest %}
            {% if admin.hasRoute('export') and admin.hasAccess('export') and export_formats|length %}
                <p> {{ "label_export_download"|trans({}, "NetworkingInitCmsBundle") }}:
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="fas fa-share-square" aria-hidden="true"></i>
                        {{ "label_export_download"|trans({}, "SonataAdminBundle") }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% for format in export_formats %}
                            <li>
                                <a href="{{ admin.generateUrl('export', admin.datagrid.paginationparameters(0) + {'format' : format}) }}">
                                    <i class="fas fa-arrow-circle-o-down" aria-hidden="true"></i>
                                    {{ ("export_format_" ~ format)|trans({}, 'SonataAdminBundle') }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                </p>
            {% endif %}
        {% endif %}
        {% if admin.hasRoute('batch') %}
            </form>
        {% endif %}
    {% else %}
        {% block no_result_content %}
            <div class="alert alert-info">
                {{ 'no_result'|trans({}, 'SonataAdminBundle') }}
            </div>
        {% endblock %}
    {% endif %}
    {% if not app.request.isXmlHttpRequest %}
        </div>
    {% else %}
        <script type="text/javascript">
            jQuery(function () {
                InitCms.toggleFilters();
            });
        </script>
    {% endif %}
{% endblock %}

{% block batch %}
    <script type="text/javascript">
        {% block batch_javascript %}
        jQuery(document).ready(function ($) {
            $('#list_batch_checkbox').click(function () {
                $(this).closest('table').find("td input[type='checkbox']").prop('checked', $(this).is(':checked')).parent().parent().toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'));
            });
        });
        {% endblock %}
    </script>

    {% block batch_actions %}
        {% if csrf_token is defined %}
            <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}

        {% if batchactions|length > 0  %}
        <select name="action" class="input-medium form-control">
            {% for action, options in batchactions %}
                <option value="{{ action }}">{{ options.label|trans({}, options.translation_domain|default(admin.translationDomain)) }}</option>
            {% endfor %}
        </select>
        {% endif %}
    {% endblock %}

    <input type="submit" class="btn btn-primary btn-sm batch-dialog-link" value="{{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}">
{% endblock %}
