{% macro render_groups(admin, form, groups, has_tab, tab_class) %}
    <div class="{{ tab_class }}">
        {% for code in groups|filter(code => admin.formgroups[code] is defined) %}
            {% set form_group = admin.formgroups[code] %}
            <div class="{{ form_group.class|default('col-md-12 mb-3') }}">
                <div class="{{ form_group.box_class }} row">
                    {% if form_group.label and form_group.label != admin.label %}
                        <h3 class="font-size-lg text-dark font-weight-bold my-6">
                            {{ form_group.label|trans({}, form_group.translation_domain ?: admin.translationDomain) }}
                        </h3>
                    {% endif %}
                    {% if form_group.description %}
                        <p>{{ form_group.description|trans({}, form_group.translation_domain ?: admin.translationDomain) }}</p>
                    {% endif %}

                    {% for field_name in form_group.fields|filter(field_name => form[field_name] is defined) %}
                        {% if not form[field_name].rendered %}
                            {{ form_row(form[field_name]) }}
                        {% endif %}
                    {% else %}
                        <em>{{ 'message_form_group_empty'|trans({}, 'SonataAdminBundle') }}</em>
                    {% endfor %}
                </div>
            </div>

        {% endfor %}
    </div>
{% endmacro %}
