{#
This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends base_template %}


{% block actions %}
    {% include '@NetworkingInitCms/Core/create_button.html.twig' %}
{% endblock %}

{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active'}, 'list') }}{% endblock %}

{% block list_toolbar %}
    {% if admin.isGranted("EXPORT") and admin.getExportFormats()|length %}
        <!--begin::Dropdown-->
        <div class="dropdown dropdown-inline mr-2">
            <button type="button" class="btn btn-light-primary font-weight-bolder dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="las la-download"></i>Export
            </button>

            <!--begin::Dropdown Menu-->
            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                <!--begin::Navigation-->
                <ul class="navi flex-column navi-hover py-2">
                    <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">
                        {{ "label_export_download"|trans({}, "NetworkingInitCmsBundle") }}:
                    </li>
                    {% for format in admin.getExportFormats() %}
                        {% set icon = 'alt' %}
                        {% if format is same as('json') %}
                            {% set icon = 'code' %}
                        {% endif %}
                        {% if format is same as('xml') %}
                            {% set icon = 'code' %}
                        {% endif %}
                        {% if format is same as('csv') %}
                            {% set icon = 'csv' %}
                        {% endif %}
                        {% if format is same as('xls') %}
                            {% set icon = 'excel' %}
                        {% endif %}
                        {% if format is same as('pdf') %}
                            {% set icon = 'pdf' %}
                        {% endif %}

                        <li class="navi-item">
                            <a href="{{ admin.generateUrl('export', admin.modelmanager.paginationparameters(admin.datagrid, 0) + {'format' : format}) }}"
                               class="navi-link">
                                <span class="navi-icon"><i class="icon-lg la la-file-{{ icon }}"></i></span>
                                <span class="navi-text">{{ format }}</span>
                            </a>

                        </li>
                    {% endfor %}
                </ul>
                <!--end::Navigation-->
            </div>
            <!--end::Dropdown Menu-->
        </div>
        <!--end::Dropdown-->
    {% endif %}
{% endblock %}
{% block filter_title %}{{ 'info.filter'|trans({'%admin_label%':admin.label|trans({}, admin.translationDomain) }, 'NetworkingInitCmsBundle') }}{% endblock %}
{% block list_filters %}
    {% if admin.datagrid.filters %}
        <form action="{{ admin.generateUrl('list') }}" method="GET"
              class="kt-form kt-form--fit mb-15">
            <div class="d-flex justify-content-xl-between">
                {% for filter in admin.datagrid.filters %}
                    <div class="mb-lg-0 mb-6">
                        <label for="{{ form.children[filter.formName].children['value'].vars.id }}">{{ filter.label|trans({}, admin.translationDomain) }}</label>

                        {{ form_widget(form.children[filter.formName].children['type'], {'attr':{'class': 'input-medium advanced-filter' }}
                        ) }}
                        {{ form_widget(form.children[filter.formName].children['value'], {'attr':{'placeholder': filter.label , 'class': 'input-medium'}, 'translation_domain': admin.translationDomain }) }}
                    </div>
                {% endfor %}
            </div>
            <div class="row mt-8">
                <div class="col-lg-12">
                    {% if admin.hasActiveSubclass %}
                        <input type="hidden" name="subclass" id="filter_subclass"
                               value="{{ admin.activeSubclassCode }}"/>
                    {% endif %}
                    <input type="hidden" name="filter[_page]" id="filter__page" value="1"/>
                    {% set foo = form.children['_page'].setRendered() %}
                    {% for paramKey, paramValue in admin.persistentParameters %}
                        <input type="hidden" name="{{ paramKey }}" value="{{ paramValue }}"/>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-primary--icon" id="kt_search">
                            <span>
                                <i class="la la-search"></i>
                                <span>{{ 'btn_filter'|trans({}, 'NetworkingInitCmsBundle') }}</span>
                             </span>
                    </button>
                    <a href="{{ admin.generateUrl('list', {filters: 'reset'}) }}"
                       class="btn btn-secondary btn-secondary--icon">
                            <span>
                                <i class="la la-close"></i>
                                <span>{{ 'link_reset_filter'|trans({'%admin_label%': admin.label}, 'NetworkingInitCmsBundle') }}</span>
                             </span>
                    </a>
                    {{ form_rest(form) }}
                </div>
            </div>
            <hr>
        </form>
    {% endif %}
{% endblock %}
{% block list_table %}
    {% set batchactions = admin.batchactions %}
    {% if admin.datagrid.results|length > 0 %}
        {% if admin.hasRoute('batch') %}
            <form action="{{ admin.generateUrl('batch', {'filter': admin.filterParameters}) }}" method="POST" >
        {% endif %}
        <table id="intiCMSDatatable"
               class="table table-separate table-head-custom table-checkable dataTable no-footer"
               style="width:100%">
            {% block table_header %}
                <thead>
                <tr>
                    {% for field_description in admin.list.elements %}
                        {% if admin.hasRoute('batch') and field_description.getOption('code') == '_batch' and batchactions|length > 0 %}
                            {% if not app.request.isXmlHttpRequest %}
                                <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch sorting_disabled"
                                    data-orderable="false">
                                    <label class="checkbox checkbox-single checkbox-solid checkbox-primary mb-0">
                                        <input type="checkbox" value="" class="group-checkable">
                                        <span></span>
                                    </label>
                                </th>
                            {% endif %}
                        {% elseif field_description.getOption('code') == '_select' %}
                            <th class="sonata-ba-list-field-header sonata-ba-list-field-header-select sorting_disabled"
                                data-orderable="false">
                            </th>
                        {% elseif field_description.name == '_action' and app.request.isXmlHttpRequest %}
                            {# Action buttons disabled in ajax view! #}
                        {% elseif field_description.getOption('ajax_hidden') == true and app.request.isXmlHttpRequest %}
                            {# Disable fields with 'ajax_hidden' option set to true #}
                        {% else %}
                            {% set sortable = false %}
                            {% if field_description.options.sortable is defined and field_description.options.sortable %}
                                {% set sortable             = true %}
                                {% set current              = admin.datagrid.values._sort_by == field_description %}
                                {% set sort_parameters      = admin.modelmanager.sortparameters(field_description, admin.datagrid) %}
                                {% set sort_active_class    = current ? 'sonata-ba-list-field-order-active' : '' %}
                                {% set sort_by              = current ? admin.datagrid.values._sort_order : field_description.options._sort_order %}
                            {% endif %}

                            {% apply spaceless %}
                                <th {% if not sortable %}data-orderable="false"{% endif %}
                                    class=" sonata-ba-list-field-header-{{ field_description.type }} {% if loop.index in [1,2] %}nowrap {% endif %} {% if sortable %} sonata-ba-list-field-header-order-{{ sort_by|lower }} {{ sort_active_class }}{% endif %}">
                                    {% if field_description.label %}

                                        {% set translation_domain = admin.translationDomain %}
                                        {% if field_description.translationDomain %}
                                            {% set translation_domain = field_description.translationDomain %}
                                        {% endif %}
                                        {% if field_description.translationDomain is same as('none') %}
                                            {{ field_description.label }}
                                        {% else %}
                                            {{ field_description.label|trans({}, translation_domain) }}
                                        {% endif %}
                                    {% endif %}
                                </th>
                            {% endapply %}
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
            {% endblock %}

            {% block table_body %}
                <tbody>
                {% for object in admin.datagrid.results %}
                    <tr {% if last_edited is defined and object.id == last_edited %}class="info {% if object.status is defined and object.status == 'status_offline' %}danger{% endif %}"{% endif %}>
                        {% include admin.getTemplate('inner_list_row') %}
                    </tr>
                {% endfor %}
                </tbody>
            {% endblock %}
        </table>
        {% if admin.hasRoute('batch') %}
            {% if batchactions|length > 0 and not app.request.isxmlhttprequest %}{{ block('batch') }}{% endif %}
            </form>
        {% endif %}
    {% else %}
        <p class="notice">
            {{ 'no_result'|trans({}, 'SonataAdminBundle') }}
        </p>
    {% endif %}
{% endblock %}

{% block batch %}
<div class="row">
    <div class="col-xs-5 col-4">
        {% if csrf_token is defined %}
            <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}
        <div class="input-group">
            <select name="action" class="input-medium form-control">
                {% for action, options in batchactions %}
                    <option value="{{ action }}">{{ options.label|trans({}, options.translation_domain|default(admin.translationDomain)) }}</option>
                {% endfor %}
            </select>
            <div class="input-group-append">
                <input type="submit" class="btn btn-primary btn-sm batch-dialog-link"
                       value="{{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}">
            </div>
        </div>
    </div>
</div>
{% endblock %}
