{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>
moved all relation fields to the networking crud folder

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% macro one_to_many_list(sonata_admin, id, form) %}
    {% if sonata_admin.edit == 'inline' %}
        {% if sonata_admin.inline == 'table' %}
            {% if form.children|length > 0 %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        {% for field_name, nested_field in form.children[0].children %}
                            {% if field_name == '_delete' %}
                                <th>{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}</th>
                            {% else %}
                                <th>{{ nested_field.vars.label|trans({}, nested_field.vars['sonata_admin'].admin.translationDomain) }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody class="sonata-ba-tbody sortable-container">
                    {% for nested_group_field_name, nested_group_field in form.children %}
                        <tr class="sortable-item">
                            {% for field_name, nested_field in nested_group_field.children %}
                                <td class="sonata-ba-td-{{ id }}-{{ field_name }}{% if nested_field.vars.errors|length > 0 %} error{% endif %}">
                                    {% if field_name == '_delete' %}
                                        {% set delete_button = form_widget(nested_field, {'attr': {'class': '__delete_input'}}) %}
                                        <button type="button" class="me-2 btn btn-sm btn-light-danger __delete">
                                            <i class="fa fa-trash soft-background pe-0"></i>
                                        </button>
                                        <span class="d-none">
                                                    {{ delete_button|raw }}
                                                </span>
                                    {% else %}

                                        {% if sonata_admin.field_description.associationadmin.formfielddescriptions[field_name] is defined %}
                                            {{ form_widget(nested_field) }}
                                            {% set dummy = nested_group_field.setrendered %}
                                        {% else %}
                                            {{ form_widget(nested_field) }}
                                        {% endif %}
                                        {% if nested_field.vars.errors|length > 0 %}
                                            <div class="sonata-ba-field-error-messages">
                                                {{ form_errors(nested_field) }}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% elseif form.children|length > 0 %}
            <div class="dropzone ">
                <div class="sortable sortable-container">
                    {% for nested_group_field_name, nested_group_field in form.children %}
                        {% set delete_button = '' %}
                        <div class="border mb-2 content_type_item bg-white sortable-item list-item-{{ id }}">
                            {% set fields = '' %}
                            {% for field_name, nested_field in nested_group_field.children %}
                                {% if field_name == '_delete' %}
                                    {% set delete_button = form_widget(nested_field, {'attr': {'class': '__delete_input d-none'}}) %}
                                {% elseif field_name == sonata_admin.field_description.options.sortable %}
                                    {% set sortableField = form_row(nested_field, { 'inline': 'natural','edit'  : 'inline'}) %}
                                    {% set dummy = nested_group_field.setrendered %}
                                {% else %}
                                    {% set fields %}
                                        {{ fields  }}
                                        <span class="sonata-ba-td-{{ id }}-{{ field_name }}">
                                                {% if sonata_admin.field_description.associationadmin.formfielddescriptions[field_name] is defined %}
                                                    {{ form_row(nested_field, {
                                                        'inline': 'natural',
                                                        'edit'  : 'inline'
                                                    }) }}
                                                    {% set dummy = nested_group_field.setrendered %}
                                                {% else %}
                                                    {{ form_widget(nested_field) }}
                                                {% endif %}
                                                </span>
                                    {% endset %}
                                {% endif %}
                                {% if loop.last %}
                                    <div class="p-3 d-flex flex-row align-items-center justify-content-between mr-3">

                                                <span class="sonata-ba-td-{{ id }}-{{ sonata_admin.field_description.options.sortable }}">
                                                    {{ sortableField|raw }}
                                                </span>
                                        <button type="button" class="me-2 btn btn-sm btn-light-danger __delete">
                                            <i class="fa fa-trash soft-background pe-0"></i>
                                        </button>
                                        <span class="d-none">
                                                    {{ delete_button|raw }}
                                                </span>
                                    </div>
                                    <div class="content_preview border-top p-3">
                                        {{ fields }}
                                    </div>
                                {% endif %}

                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{% endmacro %}

{% if not sonata_admin.field_description.hasassociationadmin %}
    {% for element in value %}
        {{ element|render_relation_element(sonata_admin.field_description) }}
    {% endfor %}
{% else %}

    {% if app.request.xmlHttpRequest %}
        {{ _self.one_to_many_list(sonata_admin, id, form) }}
    {% else %}
    <div id="field_container_{{ id }}" class="field-container"

         {% if sonata_admin.field_description.options.sortable is defined %}
            data-cms-sortable-draggable=".sortable-item"
            data-cms-sortable-one-to-many="true"
            data-cms-sortable-selector=".sonata-ba-td-{{ id }}-{{ sonata_admin.field_description.options.sortable }}"
            data-cms-sortable-container="#field_widget_{{ id }} .sortable-container"
            {% endif %}>

        {% set display_create_button = sonata_admin.field_description.associationadmin.hasRoute('create')
            and sonata_admin.field_description.associationadmin.hasAccess('create')
            and btn_add
            and (sonata_admin.field_description.options.limit is not defined or form.children|length < sonata_admin.field_description.options.limit) %}
        {% if sonata_admin.edit == 'inline' %}
            {% if display_create_button %}
                {% if sonata_admin.field_description.associationadmin.hasroute('create') and sonata_admin.field_description.associationadmin.isGranted('CREATE') %}
                        <span id="field_actions_{{ id }}" class="row">
                        <a
                                href="{{ sonata_admin.field_description.associationadmin.generateUrl('create') }}"
                                onclick="return start_field_retrieve_{{ id }}(this);"
                                class="btn btn-light sonata-ba-action"
                                title="{{ 'link_add'|trans({}, 'SonataAdminBundle') }}"
                                >
                            <i class="fa fa-plus"></i>
                            {{ 'link_add'|trans({}, 'SonataAdminBundle') }}
                        </a>
                    </span>
                {% endif %}
            {% endif %}

            {# include association code #}
            {% jsblock 'addToBottom' %}
            {% include '@NetworkingInitCms/CRUD/edit_orm_one_association_script.html.twig' %}
            {% jsblock 'addToBottomEnd' %}
        {% else %}
            <span id="field_actions_{{ id }}">
                {% if display_create_button %}
                {% if sonata_admin.field_description.associationadmin.hasroute('create') and sonata_admin.field_description.associationadmin.isGranted('CREATE') %}
                    <a
                            href="{{ sonata_admin.field_description.associationadmin.generateUrl('create') }}"
                            onclick="return start_field_dialog_form_add_{{ id }}(this);"
                            class="btn btn-light sonata-ba-action"
                            title="{{ 'link_add'|trans({}, 'SonataAdminBundle') }}"
                            >
                        <i class="fa fa-plus"></i>
                        {{ 'link_add'|trans({}, 'SonataAdminBundle') }}
                    </a>
                {% endif %}
                {% endif %}
            </span>

            <div class="modal" id="field_dialog_{{ id }}" style="display: none" role="dialog"
                 aria-hidden="true">

            </div>
            {% jsblock 'addToBottom' %}
            {% include '@NetworkingInitCms/CRUD/edit_orm_many_association_script.html.twig' %}
            {% jsblock 'addToBottomEnd' %}
        {% endif %}

        <span id="field_widget_{{ id }}">
            {{ _self.one_to_many_list(sonata_admin, id, form) }}
        </span>

    </div>
    {% endif %}
{% endif %}