{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>
moved all relation fields to the networking crud folder

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}


{% if sonata_admin.field_description.associationadmin %}
    <div id="field_container_{{ id }}"
         data-is-list-mode="false"
         data-field-reload-url="{{ url('sonata_admin_retrieve_form_element', {
             '_sonata_admin': sonata_admin.admin.root.baseCodeRoute,
             'elementId': id,
             'subclass': sonata_admin.admin.hasActiveSubClass() ? sonata_admin.admin.getActiveSubclassCode() : null,
             'objectId':  sonata_admin.admin.root.id(sonata_admin.admin.root.subject),
             'uniqid':    sonata_admin.admin.root.uniqid,
             'code':      sonata_admin.admin.root.code,
             'locale':    app.request.locale
         } +  app.request.query.all|default({}) ) }}"
         class="d-flex flex-row align-items-center justify-content-between field-container model-list"
         data-field-id="{{ id }}"
    >
        <div id="field_widget_{{ id }}" class="w-75">
            {{ form_widget(form) }}
        </div>
        <div id="field_actions_{{ id }}" class="form-group">
            {% if sonata_admin.field_description.associationadmin.hasRoute('create') and sonata_admin.field_description.associationadmin.isGranted('CREATE') %}
                &nbsp;<a
                        href="{{ sonata_admin.field_description.associationadmin.generateUrl('create') }}"
                        id="field_add_link_{{ id }}"
                        class="btn btn-light sonata-ba-action"
                        title="{{ 'link_add'|trans({}, 'SonataAdminBundle') }}"
                        >
                    <i class="fa fa-plus"></i>
                    {{ 'link_add'|trans({}, 'SonataAdminBundle') }}
                </a>
            {% endif %}
        </div>
    </div>
    {% if app.request.isxmlhttprequest and app.request.get('with_js')|default(true) %}
        {% include '@NetworkingInitCms/CRUD/edit_orm_many_association_script.html.twig' %}
    {% else %}
        {% jsblock 'addToBottom' %}
        {% include '@NetworkingInitCms/CRUD/edit_orm_many_association_script.html.twig' %}
        {% jsblock 'addToBottomEnd' %}
    {% endif %}


{% endif %}
