{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>
moved all relation fields to the networking crud folder

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}


{% if not sonata_admin.field_description.hasassociationadmin%}
    {{ value|render_relation_element(sonata_admin.field_description) }}
{% elseif sonata_admin.edit == 'inline' %}
    {% for field_description in sonata_admin.field_description.associationadmin.formfielddescriptions %}
        {{ form_row(form.get(field_description.name))}}
    {% endfor %}
{% else %}
    <div id="field_container_{{ id }}" class="field-container row">
        {% if sonata_admin.edit == 'list' %}
            <span id="field_widget_{{ id }}" class="col-sm-4">
                {% if sonata_admin.admin.id(sonata_admin.value) %}
                    {% render url('sonata_admin_short_object_information', {
                    'code':     sonata_admin.field_description.associationadmin.code,
                    'objectId': sonata_admin.field_description.associationadmin.id(sonata_admin.value),
                    'uniqid':   sonata_admin.field_description.associationadmin.uniqid,
                    'linkParameters': sonata_admin.field_description.options.link_parameters
                    }) %}
                {% endif %}
            </span>
            <span style="display: none" >
                {{ form_widget(form) }}
            </span>
        {% else %}
            <span id="field_widget_{{ id }}"class="col-sm-4" >
                {{ form_widget(form) }}
            </span>
        {% endif %}

        <span id="field_actions_{{ id }}" class="field-actions col-sm-2">
            {% if sonata_admin.edit == 'list' and sonata_admin.field_description.associationadmin.hasRoute('list') and sonata_admin.field_description.associationadmin.isGranted('LIST') %}
                <a  href="{{ sonata_admin.field_description.associationadmin.generateUrl('list') }}"
                    onclick="return start_field_dialog_form_list_{{ id }}(this);"
                    class="btn btn-light sonata-ba-action"
                    title="{{ 'link_list'|trans({}, 'SonataAdminBundle') }}"
                    >
                    <i class="glyphicon glyphicon-list"></i>
                    {{ 'link_list'|trans({}, 'SonataAdminBundle') }}
                </a>
            {% endif %}

            {% if sonata_admin.edit != 'admin' and sonata_admin.field_description.associationadmin.hasRoute('create') and sonata_admin.field_description.associationadmin.isGranted('CREATE') %}
                <a  href="{{ sonata_admin.field_description.associationadmin.generateUrl('create') }}"
                    onclick="return start_field_dialog_form_add_{{ id }}(this);"
                    class="btn btn-light sonata-ba-action"
                    title="{{ 'link_add'|trans({}, 'SonataAdminBundle') }}"
                    >
                    <i class="glyphicon glyphicon-plus"></i>
                    {{ 'link_add'|trans({}, 'SonataAdminBundle') }}
                </a>
            {% endif %}

            {% if sonata_admin.edit == 'list' and sonata_admin.field_description.associationadmin.hasRoute('list') and sonata_admin.field_description.associationadmin.isGranted('LIST') %}
                <a  href=""
                    onclick="return remove_selected_element_{{ id }}(this);"
                    class="btn btn-light sonata-ba-action"
                    title="{{ 'link_delete'|trans({}, 'SonataAdminBundle') }}"
                    >
                    <i class="glyphicon glyphicon-trash "></i>
                    {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            {% endif %}

        </span>


        <div class="modal" id="field_dialog_{{ id }}" style="display: none" role="dialog" aria-hidden="true">
        </div>
    </div>
    {% if app.request.isxmlhttprequest %}
        {% include '@NetworkingInitCms/CRUD/edit_orm_many_association_script.html.twig' %}
    {% endif %}
    {% jsblock 'addToBottom' %}
    {% include '@NetworkingInitCms/CRUD/edit_orm_many_association_script.html.twig' %}
    {% jsblock 'addToBottomEnd' %}
{% endif %}
