{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}


{% if admin.isGranted('DELETE', object) and admin.hasRoute('delete') and (object.isDeletable() is not defined or  object.isDeletable == 1 ) %}

    <a href="{{ admin.generateObjectUrl('delete', object) }}" class="
    {% if isSubNav is defined %}menu-link px-3{% else %} btn btn-light btn-sm button-in-row {% endif %} dialog-link"
       {% if isSubNav is not defined %}data-bs-toggle="tooltip" data-bs-placement="bottom"{% endif %}
       id="{{ admin.getClassnameLabel() }}_{{ object.id }}"
       title="{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}">
        <i class="ki-outline ki-trash fs-3 {{ isSubNav is defined and isSubNav?'menu-icon':'' }}"></i>
        {% if isSubNav is defined  %}
          {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
        {% endif %}
   </a>
{% endif %}
